<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['profile.s1.title']}</span>
    </div>


    <!-- FIRST_NAME,  -->
    <ms:myStockInputText itemCode="profile.s1.firstName"
                         beanProperty="#{pageManagerBean.beansMap['20'].firstName}"/>
    <!-- LAST_NAME,  -->
    <ms:myStockInputText itemCode="profile.s1.lastName"
                         beanProperty="#{pageManagerBean.beansMap['20'].lastName}"/>
    <!-- USERNAME,  -->
    <ms:myStockInputText itemCode="profile.s1.email"
                         beanProperty="#{pageManagerBean.beansMap['20'].username}"/>

    <div style="display: none;">
        <!-- PASSWORD,  -->
        <ms:myStockInputSecret itemCode="profile.s1.password"
                               beanProperty="#{pageManagerBean.beansMap['20'].password}"/>
        <!-- PASSWORD,  -->
        <ms:myStockInputSecret itemCode="profile.s1.replayRassword"
                               beanProperty="#{pageManagerBean.beansMap['20'].replayRassword}"/>
    </div>
    
    <br />

    <components:contactManagement componentHelper="#{pageManagerBean.beansMap['20'].contactManagementComponent}"/>

    <br />
    <div class="box_btn">

        <h:commandButton  styleClass="btn btn_blue" value="Sauvegarder">

            <f:ajax execute="@form"
                    event="action"
                    render="@form"
                    listener="#{pageManagerBean.savePartial}"/>

        </h:commandButton>

    </div>

</div>

