<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     >

    <style>
        .btn_gris {
            -moz-user-select: none;
            background-color: #eee;
            background-image: linear-gradient(#fcfcfc, #eee);
            border: 1px solid #d5d5d5;
            border-radius: 3px;
            color: #333;
            cursor: pointer;
            display: inline-block;
            font-size: 13px;
            font-weight: bold;
            line-height: 20px;
            padding: 6px 12px;
            position: relative;
            vertical-align: middle;
            white-space: nowrap;
            text-align: center;
        }
    </style>
    <a href="#" class="btn_gris">save </a>
    <h:inputText  styleClass="datetimepicker" />
    <h:inputText  styleClass="datepicker" />  
    <h:panelGroup rendered="#{not pageManagerBean.beansMap['3'].showForm}">

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p003.s1.title']}</span>
        </div>

        <div class="clear"></div>

        <h:dataTable value="#{pageManagerBean.beansMap['3'].expenseList}" id="dataTableExepenseId" var="e"
                     styleClass="table_info dataTable" rendered="#{empty attributeHidden['p003.s1']}" >
            <h:column rendered="#{ empty attributeExclud['p003.s1.name']}">
                <f:facet name="header">#{txt['p003.s1.name.label']}</f:facet>
                <h:outputText value="#{e.name}" />
            </h:column>


            <h:column rendered="#{ empty attributeExclud['p003.s1.description']}">
                <f:facet name="header">#{txt['p003.s1.description.label']}</f:facet>
                <h:outputText value="#{e.description}" />
            </h:column>


            <h:column rendered="#{ empty attributeExclud['p003.s1.amount']}">
                <f:facet name="header">#{txt['p003.s1.amount.label']}</f:facet>
                <h:outputText value="#{e.amount}" />
            </h:column>


            <h:column rendered="#{ empty attributeExclud['p003.s1.expenseTypeName']}">
                <f:facet name="header">#{txt['p003.s1.expenseTypeName.label']}</f:facet>
                <h:outputText value="#{e.expenseTypeName}" />
            </h:column>


            <h:column rendered="#{ empty attributeExclud['p003.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink actionListener="#{pageManagerBean.beansMap['3'].edit}" rendered="#{ empty attributeExclud['p003.s1.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="expenseId" value="#{e.id}" />
                </h:commandLink>

                <h:commandLink actionListener="#{pageManagerBean.beansMap['3'].delete}"  onclick="return confirmDelete();" rendered="#{ empty attributeExclud['p003.s1.delete']}" >
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="25" height="25" />
                    <f:attribute name="expenseId" value="#{e.id}" />
                </h:commandLink>

            </h:column>
        </h:dataTable>

        <div class="box_btn">
            <h:commandButton 
                rendered="#{ empty attributeExclud['p003.s1.add']}"
                styleClass="btn btn_blue" 
                actionListener="#{pageManagerBean.beansMap['3'].add}" 
                value="#{txt['globals.forms.add.label']}" />

        </div>

    </h:panelGroup>


    <h:panelGroup rendered="#{pageManagerBean.beansMap['3'].showForm}">



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p003.s2.title']}</span>
        </div>

        <ms:myStockComboBox itemCode="p003.s2.type"
                            beanProperty="#{pageManagerBean.beansMap['3'].expenseTypeId}"
                            beanList="#{pageManagerBean.beansMap['3'].expenseTypeList}"

                            />

        <ms:myStockInputText itemCode="p003.s2.name"
                             beanProperty="#{pageManagerBean.beansMap['3'].name}"/>


        <ms:myStockTextArea itemCode="p003.s2.description"
                            beanProperty="#{pageManagerBean.beansMap['3'].description}" />

        <ms:myStockInputText itemCode="p003.s2.amount"
                             beanProperty="#{pageManagerBean.beansMap['3'].amount}"/>

        <div class="box_btn">
            <h:commandButton 
                styleClass="btn btn_blue" 
                actionListener="#{pageManagerBean.save}" 
                value="#{txt['globals.forms.save.label']}" />
            <h:commandButton 
                styleClass="btn btn_red" 
                actionListener="#{pageManagerBean.beansMap['3'].cancel}" 
                value="#{txt['globals.forms.cancel.label']}" />
        </div>
    </h:panelGroup>


</div>

