*{
    padding:0;
    margin:0 ;	
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    text-shadow: 0px 1px 0px rgb( 255, 255, 255 );
}
a{
    text-decoration:none;
}
.noDisplay{
    display: none;
}

