<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets">



    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['p029.s1.title']}</span>
    </div>
    <br />
    <div class="clear"></div>

    <h:dataTable value="#{pageManagerBean.beansMap['29'].cltModuleList}" var="o"
                 styleClass="table_info dataTable"
                 id="dataTableSupplierId"
                 rendered="#{ empty attributeExclud['p029.s1']}" >

        <h:column>
            <f:facet name="header">#{txt['p029.s1.name.label']}</f:facet>
            <h:outputText value="#{o.name}" />
        </h:column>

        <h:column>
            <f:facet name="header">#{txt['p029.s1.description.label']}</f:facet>
            <h:outputText value="#{o.description}" />
        </h:column>

        <h:column>
            <f:facet name="header">#{txt['p029.s1.active.label']}</f:facet>
            <h:outputText value="#{ms:getTxtYesNo(o.active)}" />
        </h:column>

        <h:column rendered="#{ empty attributeExclud['p029.s1.option']}">

            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

          
        </h:column>

    </h:dataTable>




</div>

