
.sep5px{
    padding: 0 15px; 
}
.header{
    background:url(../image/header.png) no-repeat;
    background-size:100% 100%;
    height:300px;

}
.logo_text{
    padding-top: 120px;
    color: #fff;
    font-size: 50px;
    width: 70%;
    height: 100px;
    margin: 0 auto;
}

#logo{
    margin-top:115px;
    width:256px;
    height:31px;
    display: none;

}

#box{
    width:520px;
    margin:-40px auto 0 auto;
    background:#ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.31);
}
.box_title{
    width:100%;
    height:40px;
    padding-top:10px;
    text-align: left;
}


.box_title span{
    padding-left:20px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size:15px ;
}

.box_content{	
    width:520px;
    border-radius: 5px;
}

#login{
    width: 520px;
    height: 136px;



}
.log_in{
    margin:0;
    padding:0;
}
.text_log{
    width:130px;
    height:70px;
    padding-top:27px;
    border-top:solid #d7d7d7 1px;
    border-right:solid #d7d7d7 1px;
    box-shadow: inset 0px -20px 10px 4px #f7f7f7;
}
.pas{
    border-bottom:solid #d7d7d7 1px;
}
.zone_log{
    width: 387px;
    height: 70px;
    padding-top:20px;
    text-align:center;
    border-top:solid 1px #d7d7d7;
    box-shadow: inset 0px -20px 10px 4px #f7f7f7;
}

.user{
    width:317px;
}

.pass{
    width:317px;

}

#in_put{
    color:#7a7a7a;
    font-size:15px;
    font-family: 'PT Sans Caption', sans-serif;
}

#check{
    width:410px;
    height:41px;
    padding:12px;
}	

.check_input{
    margin-right:10px;
}

.bottom_login{
    width:89px;
    height:41px;

}
.input_login{
    width:110px;
    height:41px;
    border:1px solid #d8d8d8;
    border-radius:0px 0px 5px 0px;
    cursor: pointer;
}		

/*---------------------------------------------------------  page folder ---------------------------------------------------------*/

.content_folder{
    margin:0 auto;
    //background:url(../image/content.pnd) no-repeat ;
    background-size:100% 100%;
}
.folder_all{
    width: auto;
    height: auto;
    max-width: 600px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.31);
}

.box_folder{
    margin:20px 2%;
}


/*============================================== [ page erreur 404 ]  ==============================================*/

.body_erreur{
    text-align: center;
}


.header_erreur{
    width: 100%;
    height:300px ;

}
.header_erreur h1{
    padding-top: 50px;
    font-size: 200px;
}
.border_content{
    border-left: 1px solid #ccc;
}
/*============================================== [ fin page erreur 404 ]  ==============================================*/



/*============================================== [ page Exception ]  ==============================================*/

.body_exception{
    text-align: center;
}


.header_exception{
    width: 100%;
    height:300px ;

}
.header_exception h1{
    padding-top: 150px;
    font-size: 50px;
}
.border_exception{
    border-left: 1px solid #ccc;
}
/*============================================== [ fin page Exception ]  ==============================================*/



/*============================================== [ page gestion ]  ==============================================*/

.header_s{
    width:100%;
    height:63px;
}

.user_image{
    width:37px;
    height:37px;
    border-radius:20px;
    margin: 13px 0 0 5%;
}
.img_logo{
    margin:40px 0px 0px 5%;
}

.form span{
    font-size:13px;	
}

.formation{
    padding:10px;
}



.menu{
    height:50px;
    margin:15px 5% 0px 0px;
}

.menu ul{
    height:30px;
}

.menu ul li{
    display:inline;
}

.menu ul li a{
    font-size:15px;
    font-family:arial;
}
.n_m{
    font-size: 14px;
    padding: 2px 6px;
}

.menu ul li a figure{
    float: left;
    padding: 5px 12px 8px 12px;
}
.menu ul li a figure img{
    margin-top: 2px;
}

.menu ul li a figure figcaption{
    padding-left:5px;
}



.img_logo{
    /*width:235px;
    height:60px;*/
    margin:40px 0px 0px 5%;
}


.all_cont{
    margin:32px 5% 0 5%;

}
/*================================= [ navesation  ] ==========================*/

.buttons{
    margin:30px 5% 0 0;
}

.buttons ul {
}
.buttons ul li{
    display: inline;
    margin: 0 0px 15px 15px;
}


.buttons ul li a{
}

.buttons ul li a figure{
    width:100px;
    height:90px;
    border-radius:5px;
    padding-top: 15px;
}

.buttons ul li a figure figcaption{
    font-size: 13px;
    margin-top: 4px;
}
.buttons ul li a figure:hover{

}




/*================================= [ fin navesation  ] =================================*/


/*================================= [ aside left ] =================================*/


.content_admin{
    margin:0;
    width:90%;
}

.asiad_bar{
    position: absolute;
    top: 0px;
    width: 230px; /*width: 200px;*/
    height:auto;
    float:left;
    background-color:#fff;
    border-radius:8px 0 0 0;
}

.dashboard{
    position: relative;
    height: 40px;
    border-radius: 8px 0 0 0;
    background-image: -moz-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
}

.dashboard span{
    width:125px;
    padding:12px 24px 4px 30px;
    font-family:arial;
    font-size:14px;
    float:left;
    border-radius: 8px 0 0 0;
    color:#333;
}
.title_cat  img{
    padding: 12px 0px 0px 8px;
    height: auto;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}
.slid_l_r{
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid #D7D7D7;
    padding-left: 6px;
}
.slid_l_r img{
    padding: 16px 10px 7px 0px;
    width: auto;
    height: auto;
}

.prec{
    display: none;
}
.dl-back{
    display:none;
}
.list_title{
    width:100%;
    padding:4px 0px 4px 0px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    position: relative;
    background-image: -moz-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
}


.title_nb_du{
    position: absolute;
    top: 4px;
    right: 0px;
    width: 46px;
    height: 27px;

}

.text_title{
    width:160px;
    float:left;
    line-height: 25px;
    font-size: 12px;
    color:#333;
    font-weight: 600;
}
.text_title img{
    padding:4px 4px 0px 5px;
    float: left;
    width: auto;
}
.text_title figure figcaption{
    font-size: 12px;
    color: #4b4b4b;
    margin-top: 2px;
}

.nb_fill{
    width:auto;
    height: auto;
    color:#fff;
    padding: 3px 5px;
    font-size:12px;
    margin:2px;
    border-style: solid;
    border-width: 1px;
    border-color: #2863A7;
    border-radius: 3px;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    float:right;
}

.up{
    border:none;
    width: auto;
    height: 17px;
    margin: 4px 3px;
    float:right;
}

.down{
    border:none;
    width: auto;
    height: 17px;
    margin: 4px 3px;
    float:right;
}
.list_min a img{
    padding: 2px 7px 0px 0px;
    float: left;
}


.value_list figure{
    width: 100%;
    padding:6px 8px 10px 6px;
    font-size:12px;
    font-family:arial;
    color: #4b4b4b;
    width: 100%;
    background-color: #f6f6f6;

}
.value_list figure:hover{
    width: 100%;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}

.value_list figure figcaption{
    margin-top: 4px;
}

.list_min_b a figure{
    height: 100px;
    text-align: center;
    padding: 12px 5px;
    color: #4b4b4b;
    background-color: #f6f6f6;

}

.list_min_b a figure:hover{
    color: #fff;
    text-shadow: none;
    width: 100%;
    text-decoration:none;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}

.list_min_b_a_figure_hover{
    width: 100%;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}



.list_min_b a figure figcaption{
    font-size: 12px;

    margin-top: 10px;
}

/*================================= [ fin aside left ] =================================*/


/*====================================== [ forme mobile ] ======================================*/



.form_inscription{
    width:100%;
    margin: 10px;
}

.name_inpt{
    width:120px;
    height:auto;
    float: left;
    padding:12px 0;
}
.name_inpt label ,.name_inpt span{
    color:#333;
    font-size: 14px;
}

.input_insc{
    width: auto;
    margin-top: 10px;
    float: left;
}

.input_insc label,.input_insc input{
    color:#333;
    font-size: 13px;
}
.input_insc input[type="text"],.input_insc input[type="url"]{
    width:90%;
    height:28px ;
    padding:5px; 
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.input_insc label{
    line-height: 2;
}
/*====================================== [ fin forme mobile ] ======================================*/


.section_inedx{
    padding: 0 0 0 230px; /*padding: 0 0 0 200px;*/
    float:left;
}

.line_fol{
    margin-bottom: 20px;
}

.line_fol ul li{
    font-size: 14px;
    padding: 12px;
    margin-right: -4px;
}

.line_fol ul  .dl-trigger{
    display:none;
}

.dl-trigger{
    display: none;
}
.btn_hid_kach{
    padding: 0;
}
.title_notification{
    font-size:15px;
    padding:0 2%;
    position:relative;
}

.title_notification span{
    padding-right:6px;
}

.all_table{
    width:96%;
    margin:4px 2%;
    float:left;
    background-color:#F5F5F5;
    border:1px solid #ccc;
    border-radius:5px;
}

.tabel{
    width:99%;
    margin:4px .5%;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color:#fff;
}

.table_title{
    width:100%;
    height:34px;
    background-image: linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
}
.table_title_icon{

    float:left;

    width:30px;
    height:32px;
    padding: 7px 5px 7px 5px;
    border-right:1px solid #336699;
}
.table_title_text{
    line-height: 31px;
    font-size: 15px;
    padding-left: 1%;
}
.table_title_setting{
    width:30px;
    height:34px;
    padding: 7px 6px;
}

.name_input{
    width:25%;
    height:55px;
    line-height: 50px;
    font-size:12px;
    padding:0 20px; 
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-color: #D7D7D7;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
}
.table_input textarea{
    width: 70%;
    height: 80%;
    margin-top: 5px;
    //border: 1px solid #CCC;
    border-radius: 3px;
    font-size: 14px;

}

.table_input{
    width:75%;
    height:55px;
    line-height: 50px;
    padding:0 20px; 
    border-bottom:1px solid #ccc;
    border-color: #D7D7D7;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    
}

.t_input{
    width: 70%;
    height: 27px;
    font-size: 14px;
}

.t_textarea{
    width: 80%;
    padding: 6px;
    margin-top:-10px;
    font-size: 15px;
}
.fin_border{
    border-bottom:none;
    border-radius: 0 0 5px 0;
}

.check ,.radio{
    text-align:left;
    padding-left:8%;
    color:#4B4B4B;
    font-size:14px;
}
.radio{
    padding-top:10px;
    padding-bottom:10px;
    line-height:28px;

}

input[type="checkbox"]{
    margin-right:5%;
}

input[type="radio"]{
    display:none;
}


input[type="radio"] + label:before{
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    border:1px solid #ccc;
    margin-right:15px;
    border-radius:10px;
    margin-bottom: -4px;
}


input[type="radio"]:checked + label:before{
    background:radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
    background:-o-radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
    background:-moz-radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
    background:-webkit-radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
}

input[type="checkbox"]{
    display:none;
}


input[type="checkbox"] + label:before{
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    border:1px solid #ccc;
    margin-right:15px;
    border-radius:3px;
    margin-bottom:-4px;
}


input[type="checkbox"]:checked + label:before{
    background:url(../image/check.png);

}




/***	chrom & safari		**/

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #6499d6;
    border-radius: 3px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #ccc;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-fill-lower {
    background: #6699cc;
}
input[type=range]:focus::-webkit-fill-upper {
    background: #ffffff;
}

/*************	************************/

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #6699cc;
    border-radius: 2px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {

    border: 1px solid #ccc;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}



/************		********************/
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 2px;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #6699cc;
    border: 1px solid #ccc;
    border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
input[type=range]::-ms-thumb {
    height: 18px;
    width: 18px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #6699cc;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}


/*======================================= [ table info ] ======================================= */
.select_table{
    max-width: 40%;
    margin: 20px 0  20px 20px;
}

.select_table label{
    font-size: 14px;
    margin-right:5px ;
} 
.sel{
    width: 52px;
    height:24px;
    border:1px solid #d9d9d9;
    font-size: 14px;
}
.sel option{
    padding: 1px 5px;
    color:#4b4b4b;
}

.sh_table{
    max-width: 40%;
    margin: 20px 20px 20px 0;	
}

.sh_table input{
    font-size:14px ;
}

.sh_table label{
    font-size:14px ; 
}

.table_info ,.table_info th, .table_info td {
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    color:#4b4b4b;
}

.table_info th{
    padding: 8px 4px 8px 10px;
    font-size: 12px;
}

.stng a{
    margin:2px;;
}
.table_info td {
    padding: 8px 4px 8px 10px;
    font-size: 12px;
}

.info_nb_page{
    margin: 15px 2px 15px 20px;
}
.info_nb_page span{
    font-size: 13px;
}
.list_nb_page{
    margin: 15px 20px 15px 2px;	
}

.list_nb_page span a{
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 13px;
}

.ls_nb{
    background-color: #f6f6f6;
}


.lst , .frst{
    background-color: #fff;
}

/******************************************************** [ test tab ] ********************************************************/



.accordion {
    padding: 0px;
    margin: 4px 1% 0 1%;
    width: 98%;
    overflow: hidden;
    font-size: 13px;
    position: relative;
}

.accordion__title {
    padding: 0px 1em;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    border: 1px solid #B4B4B4;
    color: #222;
    float: left;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
    margin-right: 0.25em;
}

.no-js .accordion__title {
    float: none;
    height:auto;
    cursor:auto;
    margin:0;
    padding:0 2em;
}

.accordion__content {
    float: right;
    width: 100%;
    margin: 38px 0 0 -100%;
    padding: 10px;
    background: #f5f5f5;
    border:1px solid #d7d7d7;
}

.no-js .accordion__content {
    float:left;
    margin:0;
}

.accordion__title:hover,
.accordion__title.active {
    background: #f5f5f5;
    color: #4b4b4b;
}

.no-js .accordion__title:hover {
    background-color:#f5f5f5;
    color:#222;
}

.accordion__title.active {
    border-bottom:none;
}
.accordion__content div{
    background-color: #fff;
    border:1px solid #d7d7d7; 
}

@media (max-width: 48em) {

    .accordion {
        border: 1px solid #f5f5f5;
    }

    .accordion__title,
    .accordion__content { 
        float: none;
        margin: 0;
    }

    .accordion__title:first-child {
        border:none;
    }

    .accordion__title.active {
        border-bottom:none;
    }

    .accordion__title.active, .accordion__title:hover {
        background:#f5f5f5;
    }

    .accordion__title:before {
        content:"+";
        text-align:center;
        width:2em;
        display:inline-block;
    }
    .accordion__title.active:before {
        content:"-";
    }

    .overflow-scrolling {
        overflow-y: scroll;
        height:11em;
        padding:1em 1em 0 1em;
        /* Warning: momemtum scrolling seems buggy on iOS 7  */
        -webkit-overflow-scrolling: touch;
    }

    .accordion__content {
        position:relative;
        overflow:hidden;
        padding:0;
    }

    .no-js .accordion__content {
        padding:1em;
        overflow:auto;
        display:block;
    }

    .accordion__content:after {
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        height:50px;
        border-radius:10px 0 0 10px / 50% 0 0 50%;
        box-shadow:-5px 0 10px rgba(0, 0, 0, 0.5);
        content:'';
    }


}



/*======================== [ UP ] ========================*/
.up{
    width: 33px;
    height: 33px;
    background: url(../image/gotoup.png) no-repeat 100% 100% ;

    border:1px solid #C4C4C4;
    border-radius: 5px;
    position: fixed;
    bottom:15px;
    right:15px ;
}

.up:hover{
    background: url(../image/gotouphover.png) no-repeat 100% 100% ;
    border:1px solid #2863a7;
    border-radius: 5px;
}

/******************************************************** [ fin test Tab ] ********************************************************/

footer{
    margin:15px 5%;

}

footer  ul{
    float:left;
    padding-top: 10px;
    width:33%;

}

footer ul + ul{
    width:33%;
    text-align:center;
}

footer ul li{
    display:inline;
    list-style-type:none;
    color:#333;
    padding: 0 10px ;
    font-size: 14px;
    color: #4B4B4B;
    border-right:1px solid #333;
}
footer ul li:last-child{
    border:none;
}
footer ul li a{
    font-family: arial;
    font-size: 12px;
    color: #4b4b4b;
}
footer ul li a:hover{
    color:#4b4b4b;
    text-decoration:underline;
}
footer span{
    float:right;
}
footer:after{
    clear: both;
}
footer:before, footer:after {
    content: "";
    display: table;
}

.text_name_input{
    font-size: 11px;
    z-index: 9999;
    position: relative;
    top: -34px;
    left: 8px;
    color: #777;
}


.box_title{
    text-align: left;
}


