
.sep5px{
    padding: 0 5px; 
}
.header{
    width:100%;
    height:200px;	
    background:url(../image/header_phone.jpg) no-repeat;
    background-size:100% 100%;
}

.logo_text{
    padding-top: 95px;
    color: #fff;
    font-size: 26px;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

#logo{
    margin-top:80px;
    width:50%;
    height:12%;
    display: none;
}


.content{
    width:100%;
}

#box{
    width:96%;
    box-shadow: 0px 40px 10px 3px #D3D3D3;
    margin:-40px 2% 0% 2%;
}

.box_title{
    width:100%;
    height:40px;
    padding-top:10px;

}

.box_title span{
    padding-left:20px;
    font-size:15px ;
    font-family: 'PT Sans Caption', sans-serif;
}

.box_content{	
    width:100%;
}

#notification_Note  {
    padding:6px 12px 6px 30px;
    border:1px solid #a3a3a3;
    border-radius:5px;
    width:94%;
    margin:0px 10px 10px 10px;
}



.close{
    width:8px;
    cursor: pointer;
}

.notification{
    -webkit-box-shadow: inset 0px 8px 6px 4px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0px 8px 6px 4px rgba(255,255,255,0.3);
    box-shadow: inset 0px 8px 6px 4px rgba(255,255,255,0.3);
    padding:2px 12px 2px 30px;
    width:94%;
    margin:0px 10px 10px 10px;
    color:#4b4b4b;
}

#login{
    width:100%;
    height:140px;

}
.log_in{
    margin:0;
    padding:0;

}
.text_log{
    width:30%;
    height:70px;
    padding-top:27px;
    border-top:solid #d7d7d7 1px;
    border-right:solid #d7d7d7 1px;
    box-shadow: inset 0px -20px 10px 4px #f7f7f7;
}
.pas{
    border-bottom:solid #d7d7d7 1px;
}
.zone_log{
    width: 70%;
    height: 70px;
    padding-top:20px;
    text-align:center;
    border-top:solid 1px #d7d7d7;
    box-shadow: inset 0px -20px 10px 4px #f7f7f7;
}
.user{
    width:90%
}

.pass{
    width:90%
}

#in_put{
    color:#7a7a7a;
}

#check{
    width:70%;
    height:41px;
    padding:12px;
}	

#check input{
    margin-right:10px;
}

.bottom_login{
    width:30%;
    height:41px;
    float:left;
}
.input_login{
    width:100%;
    height:41px;
    float:left;
    border:1px solid #d8d8d8;
    border-radius:0px 0px 5px 0px;
}		
/******************************************************** folder ***********************************************************/


@media screen and (max-width: 500px) and (min-width: 400px) {
    .content_folder{
        margin:0 auto;
        //background:url(../image/content.pnd) no-repeat ;
        background-size:100% 100%;
    }
    .folder_all{
        width:80%;
        height:auto;
        text-align:center;
        margin:-40px auto 0px auto;
    }
    .box_folder{
        float:left;
        width:100%;
        text-align:center;
        margin:0px 0px 20px 0px;
    }
    .box_folder span{

    }

    .box_folder img{

        width:28%;
    }

    .box_folder input{
        width:auto;

    }

}


@media screen and (max-width: 400px) and (min-width: 300px) {
    .content_folder{
        margin:0 auto;
        //background:url(../image/content.pnd) no-repeat ;
        background-size:100% 100%;
    }
    .folder_all{
        width:80%;
        height:auto;
        text-align:center;
        margin:-40px auto 0px auto;
    }
    .box_folder{
        float:left;
        width:100%;
        text-align:center;
        margin:0px 0px 20px 0px;
    }
    .box_folder span{

    }

    .box_folder img{

        width:32%;
    }

    .box_folder input{
        width:auto;

    }
}

@media screen and (max-width: 300px) {
    .content_folder{
        margin:0 auto;
        //background:url(../image/content.pnd) no-repeat ;
        background-size:100% 100%;
    }
    .folder_all{
        width:80%;
        height:auto;
        text-align:center;
        margin:-40px auto 0px auto;
    }
    .box_folder{
        float:left;
        width:100%;
        text-align:center;
        margin:0px 0px 20px 0px;
    }
    .box_folder span{

    }

    .box_folder img{

        width:32%;
    }

    .box_folder input{
        width:auto;

    }
}












/********************************************   page gestion  *******************************************************/	



/**********************************************************[ page gestion ]******************************************************/

.header_s{
    width:100%;
    height:63px;
}


.user_image{
    display: none;
}


.form span{
    font-size:12px;	
}

.formation{
    padding:10px;
}

.hid_menu{
    display: block;
    width: 27px;
    height: 19px;
    position: absolute;
    top: 22px;
    right: 6%;
    background: url(../image/menu_icon.png) no-repeat scroll 0% 0% transparent;
}

.menu{
    display: none;
    height:auto;
    background-image: linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-size:100% 100%;

    position: absolute;
    top: 63px;
    right:5%;
    border-radius: 0 0 5px 5px;
}

.menu ul{
}

.menu ul li{
    /*display:inline;*/
    width: auto;
}

.menu ul li a{
    font-size:15px;
    font-family:arial;
}
.n_m{
    font-size: 14px;
    padding: 2px 6px;
}

.menu ul li a figure{
    float: left;
    padding: 5px 12px 8px 12px;
    width: 100%;
}
.menu ul li a figure img{
    margin-top: 2px;
}

.menu ul li a figure figcaption{
    padding-left:5px;
}

.menu ul li a figure:hover{
    background-color:#3266a2;

}
/*
.ms{
        width:300px;
        height:230px;
        position:absolute;
        top:54px;
        right:214px;
        z-index: 1;
        display:none;
}
.title_all_ms{
        width:100%;
        height:33px;
        font-size:15px;
        background:#1b1b1b;
        color:#fff;
        padding:8px 0 0 15px;
        border-left:1px solid #000;
        border-right:1px solid #000;
        border-radius:3px 3px 0 0;
        box-shadow:0 3px 6px -1px #6d6d6d inset;
}
.ms_color{
        background-color:#ededed;
        padding:9px 10px 7px 50px;
        border-left:1px solid #000;
        border-right:1px solid #000;
}

.ms ul li{
        text-decoration:none;
        list-style-type:none;
}

.ms_close{
        background:url(../image/message_close.png) no-repeat padding-box 15px 20px  #ededed;
}

.ms_open{
        background:url(../image/message_open.png) no-repeat padding-box 15px 20px #ededed;
}
.ms ul li span{
        font-size:14px;
        font-family:'PT Sans Caption', sans-serif;
}

.time{
        color:#2e69ac;
}
.title_ms{
        color:#4b4b4b;
}
.cont_ms{
        color:#4b4b4b;
}
.content_header{
        width:100%;
        height:120px;
}

.goto{
        width:100%;
        height:40px;
        text-align:right;
        background-color:#fff;
        border-top:1px solid #d7d7d7;
        border-left:1px solid #000;
        border-right:1px solid #000;
        border-bottom:1px solid #000;
        border-radius:0 0 3px 3px;
}

.goto input{
        border:none;
        cursor:pointer;
        background-color:#fff;
        color:#265a97;
        padding-right:15px;
        padding-top:10px;
}	
.ms ul li:first-child:after{
    content: '';
    position: absolute;
    right: 4%;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #4C4C4C;
    box-shadow:0 1px 1px 1px #000 inset;
}
*/
.img_logo{
    width: 50%;
    height: 45px;
    margin: 40px 15% 0px 15%;
    max-width: 200px;
}


.all_cont{
    margin:32px 5% 0 5%;
}
/*================================= [ navesation  ] ==========================*/

.buttons{
    margin:30px 5% 0 5%;
}

.buttons ul {
}
.buttons ul li{
    display: inline;
    margin: 0px 3px 0px 3px;
}


.buttons ul li a{
}

.buttons ul li a figure{
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 4px;
}
.buttons ul li a figure img{
    width: 23px;
    height: 23px;
}
.buttons ul li a figure figcaption{
    font-size: 12px;
    margin-top: 2px;
}
.buttons ul li a figure:hover{

}




/*================================= [ fin navesation  ] =================================*/
/*================================= [ aside left ] =================================*/


.content_admin{
    margin:0;
    width:90%;
}

.asiad_bar{
    position: absolute;
    top: 0px;
    width: auto;
    height:auto;
    float:left;
    background-color:#fff;
    border-radius:8px 0 0 0;
}

.dashboard{
    display:none;

}

.dashboard span{
    width:125px;
    padding:12px 24px 4px 30px;
    font-family:arial;
    font-size:14px;
    float:left;
    border-radius: 8px 0 0 0;
    color:#333;
}
.title_cat  img{
    padding: 14px 0px 0px 8px;
    height: auto;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}
.slid_l_r{
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 1px solid #D7D7D7;
    padding-left: 6px;
}
.slid_l_r img{
    padding: 16px 10px 7px 0px;
    width: auto;
    height: auto;
}

.prec{
    display: none;
}

.list_title{
    width:auto;
    padding:6px 0px ;
    border-bottom:1px solid #ccc;
    position: relative;
    background-image: -moz-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
}

.title_nb_du{
    position: absolute;
    top: 5px;
    right: 4px;
    width: auto;
    height: 27px;

}

.text_title{
    width:160px;
    float:left;
    line-height: 25px;
    font-size: 12px;
    color:#333;
    font-weight: 600;
}
.text_title img{
    padding:4px 4px 0px 5px;
    float: left;
    width: auto;
}
.text_title figure figcaption{
    font-size: 12px;
    color: #4b4b4b;
    margin-top: 2px;
}

.nb_fill{
    width:auto;
    height: auto;
    color:#fff;
    padding: 2px 4px;
    font-size:12px;
    margin:2px;
    border-style: solid;
    border-width: 1px;
    border-color: #2863A7;
    border-radius: 3px;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    float:right;
}

.up ,.down{
    display:none;
}
.list_min a img{
    padding: 2px 7px 0px 0px;
    float: left;
}


.value_list figure{
    width: auto;
    padding:4px 8px 6px 6px;
    font-size:12px;
    font-family:arial;
    color: #4b4b4b;
    background-color: #f6f6f6;

}
.value_list figure:hover{
    width: auto;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}

.value_list figure figcaption{
}

.list_min_b a figure{
    height: auto;
    text-align: center;
    padding: 12px 5px;
    color: #4b4b4b;
    background-color: #f6f6f6;

}

.list_min_b a figure:hover{
    color: #fff;
    text-shadow: none;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}

.list_min_b a figure figcaption{
    font-size: 12px;
    margin-top: 10px;
}


/*================================= [ fin aside left ] =================================*/



.section_inedx{
    padding: 0;
    float:left;
}

.line_fol{
    margin-bottom: 20px;
}
.btn_hid_kach{
    width: 66px
}

.menu_slaid{
    margin: 0px 5px -0.5px 0px;
    width: 15px;
    height: 13px;
}

.line_fol ul{
    margin-left: 67px;
}

.line_fol ul li{
    font-size: 13px;
    padding: 10px;
    margin-right: -4px;
    margin-left: 15px;
}

.line_fol ul > li{
    border-radius: 8px 0 0 0;
}
.line_fol ul li.hassA{
    display: none;
}
.title_notification{
    font-size:15px;
    padding:0 2%;
    position:relative;
}
.title_notification span{
    padding-right:6px;
}

.all_table{
    width:96%;
    margin:4px 2%;
    float:left;
    background-color:#F5F5F5;
    border:1px solid #ccc;
    border-radius:5px;
}

.tabel{
    width:99%;
    margin:4px .5%;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color:#fff;
}

.table_title{
    width:100%;
    height:34px;
    background-image: linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
}
.table_title_icon{

    float:left;

    width:30px;
    height:32px;
    padding: 7px 5px 7px 5px;
    border-right:1px solid #336699;
}
.table_title_text{
    line-height: 31px;
    font-size: 15px;
    padding-left: 1%;
}
.table_title_setting{
    width:30px;
    height:34px;
    padding: 7px 6px;
}

.name_input{
    width: 100%;
    height: 30px;
    line-height: 32px;
    font-size: 12px;
    padding: 0px 3px 0px 10px;
    border-color: #D7D7D7;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);

}

.box_textarea{
    height: 100px;
    width: 100%;
    line-height: 32px;
    font-size: 13px;
    padding: 0px 5px;
    border-color: #D7D7D7;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
}

.table_input textarea{
    width: 100%;
    height: 80%;
    margin-top: 5px;
    //border: 1px solid #CCC;
    border-radius: 3px;

}

.table_input{
    width: 100%;
    height: 33px;
    line-height: 20px;
    border-bottom: 1px solid #D7D7D7;
    border-color: #D7D7D7;
    background-image: linear-gradient( 270deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 270deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 270deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 270deg, #F6F6F6 0%, #fff 100%);
    padding: 0px 5px;


}

.t_input{
    width: 100%;
    height: 27px;
    font-size: 12px;
}
.t_input option{
    padding:3px; 
}
.t_textarea{
    width: 100%;
    padding: 6px;
    margin-top:-10px;
    font-size: 12px;
    margin-top: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.fin_border{
    border-bottom:none;
    border-radius: 0 0 5px 0;
}

.check ,.radio{
    text-align:left;
    padding-left:5%;
    color:#4B4B4B;
    font-size:12px;
}
.radio{
    padding-bottom:10px;
    line-height:20px;

}

/*====================================== [ forme mobile ] ======================================*/
.form_inscription{
    width:93%;
    margin: 10px;
}

.name_inpt{
    width:100%;
    height:auto;
    float: left;
    padding:12px 0 4px 0;
}
.name_inpt label ,.name_inpt span{
    color:#333;
    font-size: 14px;
}

.input_insc{
    width: 100%;
    float: left;
}

.input_insc label,.input_insc input{
    color:#333;
    font-size: 14px;
}
.input_insc input[type="text"],.input_insc input[type="url"]{
    width:100%;
    height:28px ;
    padding:5px; 
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.input_insc label{
    line-height: 2;
}
/*====================================== [ fin forme mobile ] ======================================*/

input[type="checkbox"]{
    margin-right:5%;
}

input[type="radio"]{
    display:none;
}


input[type="radio"] + label:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 13px;
    border: 1px solid #CCC;
    margin-right: 6px;
    border-radius: 10px;
    margin-bottom: -2px;
}


input[type="radio"]:checked + label:before{
    background:radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
    background:-o-radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
    background:-moz-radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
    background:-webkit-radial-gradient(#6499d6 40%,#96bae3 20%,#fff 40%) ;
}

input[type="checkbox"]{
    display:none;
}


input[type="checkbox"] + label:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #CCC;
    margin-right: 15px;
    border-radius: 3px;
    margin-bottom: -4px;
}


input[type="checkbox"]:checked + label:before{
    background:url(../image/check.png);

}




/***	chrom & safari		**/

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #6499d6;
    border-radius: 3px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #ccc;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-fill-lower {
    background: #6699cc;
}
input[type=range]:focus::-webkit-fill-upper {
    background: #ffffff;
}

/*************	************************/

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #6699cc;
    border-radius: 2px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {

    border: 1px solid #ccc;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}



/************		********************/
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 2px;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #6699cc;
    border: 1px solid #ccc;
    border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
input[type=range]::-ms-thumb {
    height: 18px;
    width: 18px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #6699cc;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}


/*======================================= [ table info ] ======================================= */
.select_table{
    max-width: 40%;
    margin: 20px 0  20px 20px;
}

.select_table label{
    font-size: 14px;
    margin-right:5px ;
} 
.sel{
    width: 52px;
    height:24px;
    border:1px solid #d9d9d9;
    font-size: 14px;
}
.sel option{
    padding: 1px 5px;
    color:#4b4b4b;
}

.sh_table{
    max-width: 40%;
    margin: 20px 20px 20px 0;	
}

.sh_table input{
    font-size:14px ;
}

.sh_table label{
    font-size:14px ; 
}

.table_info ,.table_info th, .table_info td {
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    color:#4b4b4b;
}

.table_info th{
    padding: 8px 4px 8px 10px;
    font-size: 12px;
}



.stng a{
    margin:2px;
}
.table_info td {
    padding: 8px 4px 8px 10px;
    font-size: 12px;
}

.info_nb_page{
    margin: 15px 2px 15px 20px;
}
.info_nb_page span{
    font-size: 13px;
}
.list_nb_page{
    margin: 15px 20px 15px 2px;	
}

.list_nb_page span a{
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 13px;
}

.ls_nb{
    background-color: #f6f6f6;
}


.lst , .frst{
    background-color: #fff;
}

/******************************************************** [ test tab ] ********************************************************/



.accordion {
    padding: 0px;
    margin: 4px 1% 0 1%;
    width: 98%;
    overflow: hidden;
    font-size: 13px;
    position: relative;
}

.accordion__title {
    padding: 0px 1em;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    border: 1px solid #B4B4B4;
    color: #222;
    float: left;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
    margin-right: 0.25em;
}

.no-js .accordion__title {
    float: none;
    height:auto;
    cursor:auto;
    margin:0;
    padding:0 2em;
}

.accordion__content {
    float: right;
    width: 100%;
    margin: 38px 0 0 -100%;
    padding: 10px;
    background: #f5f5f5;
    border:1px solid #d7d7d7;
}

.no-js .accordion__content {
    float:left;
    margin:0;
}

.accordion__title:hover,
.accordion__title.active {
    background: #f5f5f5;
    color: #4b4b4b;
}

.no-js .accordion__title:hover {
    background-color:#f5f5f5;
    color:#222;
}

.accordion__title.active {
    border-bottom:none;
}
.accordion__content div{
    background-color: #fff;
    border:1px solid #d7d7d7; 
}

@media (max-width: 48em) {

    .accordion {
        border: 1px solid #f5f5f5;
    }

    .accordion__title,
    .accordion__content { 
        float: none;
        margin: 0;
    }

    .accordion__title:first-child {
        border:none;
    }

    .accordion__title.active {
        border-bottom:none;
    }

    .accordion__title.active, .accordion__title:hover {
        background:#f5f5f5;
    }

    .accordion__title:before {
        content:"+";
        text-align:center;
        width:2em;
        display:inline-block;
    }
    .accordion__title.active:before {
        content:"-";
    }

    .overflow-scrolling {
        overflow-y: scroll;
        height:11em;
        padding:1em 1em 0 1em;
        /* Warning: momemtum scrolling seems buggy on iOS 7  */
        -webkit-overflow-scrolling: touch;
    }

    .accordion__content {
        position:relative;
        overflow:hidden;
        padding:0;
    }

    .no-js .accordion__content {
        padding:1em;
        overflow:auto;
        display:block;
    }

    .accordion__content:after {
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        height:50px;
        border-radius:10px 0 0 10px / 50% 0 0 50%;
        box-shadow:-5px 0 10px rgba(0, 0, 0, 0.5);
        content:'';
    }


}



/******************************************************** [ fin test Tab ] ********************************************************/

footer{
    margin: 15px 5% 0px 5%;

}

footer ul{
    float:left;
    padding-top: 10px;
    width:50%;
}

footer ul + ul{
    width:50%;
    float: right;
}

footer ul li{
    color:#333;
    margin: 8px 0px 8px 30px;
    font-size: 13px;
    color: #4B4B4B;
}
footer ul li:last-child{
    border:none;
}
footer ul li a{
    font-family: arial;
    font-size: 13px;
    color: #4b4b4b;
}
footer ul li a:hover{
    color:#4b4b4b;
    text-decoration:underline;
}
footer span{

}
footer:after{
    clear: both;
}
footer:before, footer:after {
    content: "";
    display: table;
}

.box_copyright{
    text-align: center;
    margin: 10px 10px 0 10px;
}


/****************************** [ menu ] **********************************/

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Common styles of menus */

.dl-menuwrapper {
    width: 100%;
    max-width: 300px;
    float: left;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

.dl-menuwrapper button {
    /*
    
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    outline: none;
    */
    font-size: 13px;
    padding: 9px;
    margin-right: -4px;
    border: none;
    cursor: pointer;
    border-radius: 8px 0px 0px;
    display:inline-block;
    border-right:1px solid #ccc;
    background-image: -moz-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);

}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    top: 10px;
    left: 16%;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    /*padding: 15px 20px;*/
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #7b7b7b;
    outline: none;
}


.dl-menuwrapper li.dl-back > a {
    padding: 0px 0px 0px 32px;
    font-size: 12px;
    color: #4B4B4B;
    width: auto;
    background-color: #F6F6F6;
    font-family: arial;
    line-height: 30px;

}
.dl-menuwrapper li.dl-back > a:hover{
    width: auto;
    color:#fff;
    text-shadow:none;
    text-decoration:none;
    background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: -9px;
    line-height: 50px;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
    left: 7px;
    color: #4D84C4;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
    position: absolute;
    width: 280%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top:27px;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
    display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
    0% { }
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut2 {
    0% { }
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut3 {
    0% { }
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut4 {
    0% { }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut5 {
    0% { }
    100% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut1 {
    0% { }
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    0% { }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut3 {
    0% { }
    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut4 {
    0% { }
    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut5 {
    0% { }
    100% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn5 {
    0% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn5 {
    0% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut5 {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut5 {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: '';
}

/* Colors for demos */

/* Demo 1 */
.demo-1 .dl-menuwrapper button {
    background: #c62860;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
    background: #9e1847;
}

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
    background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
    background: #D35400;
}

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
    background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
    background: #00b4ae;
}

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
    background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
    background: #79a002;
}

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
    background: #744783;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
    background: #643771;
}


.text_name_input{
    Display:none;
}


/****************************** [ menu ] **********************************/