*{
    padding:0;
    margin:0 ;	
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    text-shadow: 0px 1px 0px rgb( 255, 255, 255 );
    font-family: 'PT Sans Caption', sans-serif;
}
a{
    text-decoration:none;
}
.noDisplay{
    display: none;
}


body{
    background:url(../image/bg.png);
}
.header{
    margin:0 auto;
    text-align:center;
}

.content{
    margin:0 auto;
    background-size:100% 100%;

}


.box_title{
    background-color:#efefef;
    border-bottom: 1px solid #D7D7D7;
    border-radius: 5px 5px 0px 0px;
}
.box_title span{
    text-align:center;
    font-size:15px ;
    font-family: 'PT Sans Caption', sans-serif;
}

.box_content{	
    background:#ffffff;

}
#notification_login{
    padding:15px 0px 1px 0px;
    border-right:solid #d7d7d7 1px;
    border-left:solid #d7d7d7 1px;
    font-size: 15px;

}
#notification{
    margin-top: 20px;
    font-size: 14px;
}
.notification_Success{
    background:#bbe0bc no-repeat 6px center;
    border:solid 1px #70a772;
    border-radius:5px;
}

.list_notification_Success li{
    list-style-image:url(../image/Success.png);
    margin: 4px 0px;
}

.notification_Error{
    background:#f7c2c2 no-repeat 6px center;
    border:solid 1px #cb5959;
    border-radius:5px;
}

.list_notification_Error li{
    list-style-image: url(../image/Error.png);
    margin: 4px 0px;
}

.notification_Warning{
    background:#feecab no-repeat 6px center;
    border:solid 1px #c9ab40;
    border-radius:5px;
}

.list_notification_Warning li{
    list-style-image: url(../image/Warning.png);
    margin: 4px 0px;
}

.notification_Information{
    background:#bfd8f7 no-repeat 6px center;
    border:solid 1px #446d99;
    border-radius:5px;				
}

.list_notification_Information li{
    list-style-image: url(../image/Information.png);
    margin: 4px 0px;
}

.notification_Note  {
    background:#e0e0e0 no-repeat  6px center;
    border:1px solid #a3a3a3;
    border-radius:5px;
}
.list_notification_Note{
    list-style-image: url(../image/Note.png);
    margin: 4px 0px;
}
.notification{
    -webkit-box-shadow: inset 0px 10px 4px 0px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0px 10px 4px 0px rgba(255,255,255,0.3);
    -o-box-shadow: inset 0px 10px 4px 0px rgba(255,255,255,0.3);
    -ms-box-shadow: inset 0px 10px 4px 0px rgba(255,255,255,0.3);
    box-shadow: inset 0px 10px 4px 0px rgba(255,255,255,0.3);
    padding:1px 4px 1px 30px;
    width: 98%;
    margin:0px auto 10px auto;
    color:#4b4b4b;
}

.close{
    color:#4b4b4b;
    float:right;
    padding: 0px 5px;
    cursor: pointer;
    margin-top:0px;
}
.close:hover{
    color:#777777;
}


#login{
    padding:0px;
    margin-left:0px;
    margin-right:-2px;
    border-right:solid #d7d7d7 1px;
    border-left:solid #d7d7d7 1px;
}
.log_in{
    font:14px bold 'PT Sans Caption', sans-serif;;
}
.text_log{
    margin:0px;
    float:left;
    text-align:center;
}

.zone_log{
    margin:0px;
    float:left;
    text-align:center;

}

.inputText{
    width: 86%;
    border-radius:3px;
    padding:5px 24px 5px 5px;
    font-size:16px;	
    border:solid 1px #ccc;
}
.user{
}

.valid{
    background:url(../image/Success.png) no-repeat 98% center;
    border:solid 1px #80bd68;
    /*border-radius: 3px; */

}

.inputSimple{
    //background:url(../image/Success.png) no-repeat 98% center;
    border: 1px solid #CCC;
    /*border-radius: 3px; */

}

.notvalid{
    background:url(../image/Error.png) no-repeat 98% center;
    border:solid 1px #d69191;
    /*border-radius: 3px; */
}

.border_input{
    border: 1px solid #ccc;
}
#aide{
    padding: 10px 20px;
    margin-top:-4px;
    color:#7a7a7a;
    font-size:15px;
    font-family: 'PT Sans Caption', sans-serif;
    border-left : 1px solid #d8d8d8;
    border-right : 1px solid #d8d8d8;
}
#aide ul li{
    margin: 8px 15px;
}

.aide{

    text-decoration:none;
    color:#7a7a7a;

}
#in_put{
    color:#7a7a7a;
    font-size:15px ;
    border-bottom :1px solid #d8d8d8;
}

#check{
    float:left;
    border-left : 1px solid #d8d8d8;
    border-top : 1px solid #d8d8d8;
    border-bottom : 1px solid #d8d8d8;
    border-bottom-left-radius:5px;
    background-color:#ffffff;
}	


.bottom_login{
    float:left;
    margin:0;
    padding:0;

}
.input_login{
    background-color:#ffffff;
    font-size: 15px;
    float:left;
}		
.clear{
    clear:both;
}

#fot{
    padding-top:10px;
    font-family:arial;
    font-size:13px;
    color:#4b4b4b;
    margin-bottom:10px;
}
.Copyright{
    text-decoration:none;
    color:#777777;
}

.Copyright:hover{

    color:#4b4b4b;
    text-decoration: underline;
}

.box_content:after{
    clear: both;
}
.box_content:before, .box_content:after {
    content: "";
    display: table;
}

/*------------------------ page folder --------------------------------------*/

.content_folder{
    margin:0 auto;
    background:url(../image/content.png) no-repeat ; //content.png
    background-size:100% 100%;
}
.folder_all{
    margin:-40px auto 0 auto;
    background:#ffffff;
    border :1px solid #d8d8d8;
    border-radius:5px;
    padding-bottom:30px;
    max-width:90%;

}

.box_folder{
    float:left;
    width:29%;
    text-align:center;
}

.box_folder img{
    margin:10px auto;
}

.box_folder a{
    width: auto;
    height: auto;
    margin:10px 0px;
    border :1px solid #d8d8d8;
    border-radius:5px;
    font-size:13px;
    color: #4b4b4b;
    background-color:#f0f0f0;
    -webkit-box-shadow:0px 10px 5px 5px #fbfbfb inset;
    -moz-box-shadow: 0px 10px 5px 5px #fbfbfb inset;
    -o-box-shadow: 0px 1px 1px 1px #fbfbfb inset;
    -ms-box-shadow: 0px 1px 1px 1px #fbfbfb inset;
    box-shadow: 0px 1px 1px 1px #fbfbfb inset;
    padding:6px 10px;

}

.box_folder a:hover{
    -webkit-box-shadow:0px -2px 1px 1px #fbfbfb inset;
    -moz-box-shadow: 0px -2px 1px 1px #fbfbfb inset;
    -o-box-shadow: 0px -2px 1px 1px #fbfbfb inset;
    -ms-box-shadow: 0px -2px 1px 1px #fbfbfb inset;
    box-shadow: 0px -2px 1px 1px #fbfbfb inset;
    color:#424242;
}
/*	.btn{
                width: auto;
            height: auto;
            padding: 5px;
            background: linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%) repeat scroll 0% 0% transparent;
            margin: 10px;
            border-radius: 7px;
            text-decoration: none;
            color: #3A3A3A;
            text-shadow: 0px 1px 0px #FFF;
            -moz-user-select: none;
            -o-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid #ccc;

        }
*/
.btn{
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
    padding: 5px 25px;
    border-radius: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    outline: medium none;
    word-spacing: 0.125em;
    margin: 5px;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    border: 1px solid #B0B0B0;
    text-shadow: 0px 1px 0px #FFF;
    word-spacing:2px;
}
.btn:hover{
    background: linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, #FFF 0%, #FAFAFA 100%) repeat scroll 0% 0% transparent;
}
.btn_red{
    background: linear-gradient(to bottom, #EF6161 0%, #CB2F2F 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, #EF6161 0%, #CB2F2F 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, #EF6161 0%, #CB2F2F 100%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to bottom, #EF6161 0%, #CB2F2F 100%) repeat scroll 0% 0% transparent;

    color: #FFF;
    text-shadow: none;
    border: 1px solid #832727;
}

.btn_red:hover{
    background: linear-gradient(to bottom, #F68D8D 0%, #E05252 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, #F68D8D 0%, #E05252 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, #F68D8D 0%, #E05252 100%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to bottom, #F68D8D 0%, #E05252 100%) repeat scroll 0% 0% transparent;
}

.btn_green{

}

.btn_blue{
    border: 1px solid #17549B;
    color:#fff;
    text-shadow:none;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
    background: linear-gradient(to bottom, #5B9FEA 0%, #0C62D7 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, #5B9FEA 0%, #0C62D7 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, #5B9FEA 0%, #0C62D7 100%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to bottom, #5B9FEA 0%, #0C62D7 100%) repeat scroll 0% 0% transparent;

}
.btn_blue:hover{
    background: linear-gradient(to bottom, #94C7FF 0%, #367BD9 100%) repeat scroll 0% 0% transparent;
    background: -o-linear-gradient(to bottom, #94C7FF 0%, #367BD9 100%) repeat scroll 0% 0% transparent;
    background: -webkit-linear-gradient(to bottom, #94C7FF 0%, #367BD9 100%) repeat scroll 0% 0% transparent;
    background: -ms-linear-gradient(to bottom, #94C7FF 0%, #367BD9 100%) repeat scroll 0% 0% transparent;
    /*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);*/
}
.btn_blue:target{
    background-color:  #ff2121;
}
.btn_flat{

}
.btn_plus{
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
    text-shadow:none;
}
/*default*/

.btn_small{
    padding: 1px 11px;
    font-size: 11px;
    color: #fff;
    text-shadow:none;
}
.btn_large{

}
.btn_meduim{

}


.box_btn{
    /*border-top: 1px solid #b7b7b7;*/
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.box_btn input:last-child{
    float: left;
}
.box_btn input:first-child{
    float: right;
}



.box_btn:input{
    /*margin: 5px auto;*/
}

/*============================================== [ page erreur 404 ]  ==============================================*/


.body_erreur{
    text-align: center;
}

.header_erreur{
    background-image: linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    text-align: center;
}
.header_erreur h1{
    color: #FFF;
    text-shadow: 0px 1px 0px #CCC, 0px 2px 0px #C9C9C9, 0px 3px 0px #BBB, 0px 4px 0px #B9B9B9, 0px 5px 0px #AAA, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.15);
}

/*============================================== [ fin page erreur 404 ]  ==============================================*/


/*============================================== [ page Exception ]  ==============================================*/


.body_exception{
    text-align: center;
}

.header_exception{
    background-image: linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    text-align: center;
}
.header_exception h1{
    color: #FFF;
    text-shadow: 0px 1px 0px #CCC, 0px 2px 0px #C9C9C9, 0px 3px 0px #BBB, 0px 4px 0px #B9B9B9, 0px 5px 0px #AAA, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.15);
}

/*============================================== [ fin page Exception ]  ==============================================*/



/*============================================== [ page gestion ]  ==============================================*/

.header_s{
    background-image: linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
    background-size:100% 100%;
}

.user_image{
    float:left;
}

.form span{
    text-shadow:none;
    font-family: 'PT Sans Caption', sans-serif;
}
.welcom,.Statut{
    color: #fff;
}

.formation{
    float:left;
}
.name,.statuts{
    color:#C5D9E3;
}

.menu{
    float:right;
}

.menu ul li{
    list-style-type:none;
    text-decoration:none;
}

.menu ul li a{
    text-decoration:none;
    text-shadow:none;
    cursor:pointer;
}

.img_logo{
    float:left;
}


.form span{
    font-family: 'PT Sans Caption', sans-serif;
}




.menu{
    width:auto;

}

.menu ul{
    width:auto;
}

.menu ul li{
    text-align:center;
}

.menu ul li a{
    color:#fbfbfb;
    font-family:arial;
}
.n_m{
    margin:0px 0px 0px 6px;
    background: #de3c3c;
    border-radius: 15px;
}

.menu ul li a figure{
    float: left;
    padding: 5px 12px 8px 12px;
}
.menu ul li a figure img{
    float: left;
}

.menu ul li a figure figcaption{
    float: left;
    text-shadow:none;
}


.menu ul li a figure:hover{
    background-color:#3266a2;
    border-radius:5px;

}

.menu ul li a figure.active{
    background-color:#3266a2;
    border-radius:5px;

}

.ms{
    width:300px;
    height:230px;
    position:absolute;
    top:54px;
    right:214px;
    z-index: 1;
    display:none;
}
.title_all_ms{
    width:100%;
    height:33px;
    font-size:15px;
    background:#1b1b1b;
    color:#fff;
    padding:8px 0 0 15px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-radius:3px 3px 0 0;
    box-shadow:0 3px 6px -1px #6d6d6d inset;
}
.ms_color{
    background-color:#ededed;
    padding:9px 10px 7px 50px;
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.ms ul li{
    text-decoration:none;
    list-style-type:none;
}

.ms_close{
    background:url(../image/message_close.png) no-repeat padding-box 15px 20px  #ededed;
}

.ms_open{
    background:url(../image/message_open.png) no-repeat padding-box 15px 20px #ededed;
}
.ms ul li span{
    font-size:14px;
    font-family:'PT Sans Caption', sans-serif;
}

.time{
    color:#2e69ac;
}
.title_ms{
    color:#4b4b4b;
}
.cont_ms{
    color:#4b4b4b;
}
.content_header{
    width:100%;
    height:120px;
}

.goto{
    width:100%;
    height:40px;
    text-align:right;
    background-color:#fff;
    border-top:1px solid #d7d7d7;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    border-radius:0 0 3px 3px;
}

.goto input{
    border:none;
    cursor:pointer;
    background-color:#fff;
    color:#265a97;
    padding-right:15px;
    padding-top:10px;
}	
.ms ul li:first-child:after{
    content: '';
    position: absolute;
    right: 4%;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #4C4C4C;
    box-shadow:0 1px 1px 1px #000 inset;
}
.img_logo{
}


.all_cont{
    background-color:#f6f6f6 ;
    border:1px solid #ccc;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.31);
}
.all_cont:after{
    clear: both;
}
.all_cont:before, .all_cont:after {
    content: "";
    display: table;
}

/*================================= [ navesation  ] ==========================*/

.buttons{
    width:auto;
    height:auto;
    float:right;
}

.buttons ul {
    width:auto;
    height: auto;
    text-align: right;
    float: right;


}
.buttons ul li{
    display: inline;
    float: left;
}

.buttons ul li a{
    text-align: center;
    text-decoration: none;
    color:#4b4b4b;

}

.buttons ul li a figure{
    border:1px solid #d7d7d7;
    color:#4b4b4b;
    box-shadow: 0px 15px 20px 0px #F8F8F8  inset;

}

.buttons ul li a figure figcaption{
}
.buttons ul li a figure:hover{
    background-color:#ffffff;
    box-shadow:none;
}
.buttons ul li a figure.active{
    background-color:#ffffff;
    box-shadow:none;
}




/*================================= [ fin navesation  ] =================================*/


/*================================= [ aside left ] =================================*/

.list_menu li{
    list-style-type: none;
}

.asiad_bar{

}

.asiad_bar li{
    list-style-type:none;
}

/*

.list_title{
        width:100%;
        padding:4px 0px 4px 0px;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        position: relative;
        background-image: -moz-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
        background-image: linear-gradient( 0deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
}
/*
.title_nb_du{
    position: absolute;
        top: 4px;
        right: 0px;
        width: 46px;
        height: 27px;
}

.text_title{
        width:160px;
        float:left;
        line-height: 25px;
        font-size: 13px;
        color:#333;
        font-weight: 600;
}
.text_title img{
        padding:4px 4px 0px 5px;
        float: left;
        width: auto;
}
.text_title figure figcaption{
        font-size: 12px;
        color: #4b4b4b;
        margin-top: 2px;
}

.nb_fill{
        width:auto;
        height: auto;
        color:#fff;
        padding: 3px 5px;
        font-size:12px;
        margin:2px;
        border-style: solid;
        border-width: 1px;
        border-color: #2863A7;
        border-radius: 3px;
        background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        float:right;
}

.up{
        border:none;
        width: auto;
        height: 17px;
        margin: 4px 3px;
        float:right;
}

.down{
        border:none;
        width: auto;
        height: 17px;
        margin: 4px 3px;
        float:right;
}
.list_min a img{
    padding: 2px 7px 0px 0px;
    width: auto;
    height: auto;
    float: left;
}

/*
.value_list figure{
        width: 100%;
        padding:6px 8px 10px 6px;
        font-size:12px;
        font-family:arial;
        color: #4b4b4b;
        width: 100%;
    background-color: #f6f6f6;

}

.value_list figure:hover{
        width: 100%;
        color:#fff;
        text-shadow:none;
        text-decoration:none;
        background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        
}
*/
/*
.value_list figure figcaption{
        margin-top: 4px;
}
/*
/*================= [  aside left bold ] =================*/
/*

.list_min_b a figure{
        height: 100px;
        text-align: center;
        padding: 12px 5px;
        color: #4b4b4b;
    background-color: #f6f6f6;

}

.list_min_b a figure:hover{
        color: #fff;
        text-shadow: none;
        background-image:	linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -moz-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -webkit-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);
        background-image: -ms-linear-gradient( 90deg, #2863A7 0%, #689CD9 100%);

}

.list_min_b a figure figcaption{
        font-size: 13px;
        
        margin-top: 10px;
}
/*================= [  fin aside left bold ] =================*/
/*================================= [ fin aside left ] =================================*/



.section_inedx{
    width:100%;
    background-color:#fff;
    border-radius: 10px;
    min-height: 956px; //667px;//810px;
}


.line_fol{
    border-bottom:1px solid #ccc;
}

.line_fol ul li{
    display:inline-block;
    border-right:1px solid #ccc;
    background-image: -moz-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
}

.line_fol ul li a{
    text-decoration:none;
    color:#333;
}

.title_notification{
    width:100%;
    position:relative;
}

.title_notification:after{
    content:"";
    display:block;
    position:absolute;
    width:96%;
    height:1px;
    background:#ccc;
    top:10px;

}


.title_notification span{
    position:relative;
    background:#fff;
    z-index:1;
}


.table_title_text{
    float:left;
    text-shadow:none;
    color: #FFF;
}
.table_title_setting{
    float:right;
    border-left:1px solid #336699;
}

.name_input{
    float:left;
    color:#333333;
    text-align:left;
    font-weight: bold;
}
.table_input textarea{
}

.table_input{
    float:left;
    text-align:left;
}

.t_input{
    /*border: 1px solid #CCC; */
    border-radius: 3px;
    padding:4px 8px;
}

.t_textarea{
    border: 1px solid #CCC;
    border-radius:  3px 5px;
}



.disabled{
    cursor:not-allowed;
}



/*======================================= [ table info ] ======================================= */


.select_table{
    width: auto;
    height: 100%;
    float: left;
}

.select_table label{
    color:#4b4b4b;
} 
.sel{
    border-radius: 2px;
    color:#4b4b4b;
}
.sel option{
    padding: 1px 5px;
    color:#4b4b4b;
}

.sh_table{
    width: auto;
    height: 100%;
    float: right;	
}

.sh_table input{
    color:#4b4b4b;
    padding: 3px;
    border:1px solid #d9d9d9;
    border-radius: 2px;
}

.sh_table label{
}
.table_info {
    width: 100%;
}

.table_info ,.table_info th, .table_info td {
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    color:#4b4b4b;
}

.table_info th{
    text-align: left;
    text-align: center;
    background-image:	linear-gradient( #fcfcfc 0%, #f5f5f5 100%);
    background-image:-webkit-linear-gradient( #fcfcfc 0%, #f5f5f5 100%);
    background-image:-o-linear-gradient( #fcfcfc 0%, #f5f5f5 100%);
    background-image:-ms-linear-gradient( #fcfcfc 0%, #f5f5f5 100%);
    background-image:-moz-linear-gradient( #fcfcfc 0%, #f5f5f5 100%);
}

.ln_gr{
    background-image:	linear-gradient(90deg, #fcfcfc 0%, #f5f5f5 100%);
    background-image:-webkit-linear-gradient(90deg, #fcfcfc 0%, #f5f5f5 100%);
    background-image:-o-linear-gradient(90deg, #fcfcfc 0%, #f5f5f5 100%);
    background-image:-ms-linear-gradient(90deg, #fcfcfc 0%, #f5f5f5 100%);
    background-image:-moz-linear-gradient(90deg, #fcfcfc 0%, #f5f5f5 100%);
}

.stng{
    text-align: center;
}

.table_info tr:nth-child(even){
    background-color: white;
}
.table_info tr:nth-child(odd){
    background-color: #f6f6f6;
}

.info_nb_page{
    max-width: 40%;
    width: auto;
    float: left;
}
.info_nb_page span{
    color:#4b4b4b;
}
.list_nb_page{
    max-width: 40%;
    width: auto;
    float: right;
}

.lst_nb{
    width: 100%;
    float: right;
}
.list_nb_page span a{
    color: #4B4B4B;
    border: 1px solid #D9D9D9;
    color:#4b4b4b;
}


/******************************************************** [ test tab ] ********************************************************/



.accordion {
    padding: 0px;
    margin: 4px 1% 0 1%;
    width: 98%;
    overflow: hidden;
    font-size: 13px;
    position: relative;
}

.accordion__title {
    padding: 0px 1em;
    background-image: linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -moz-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -webkit-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    background-image: -ms-linear-gradient( 90deg, #F6F6F6 0%, #fff 100%);
    border: 1px solid #B4B4B4;
    color: #222;
    float: left;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
    margin-right: 0.25em;
}

.no-js .accordion__title {
    float: none;
    height:auto;
    cursor:auto;
    margin:0;
    padding:0 2em;
}

.accordion__content {
    float: right;
    width: 100%;
    margin: 38px 0 0 -100%;
    padding: 10px;
    background: #f5f5f5;
    border:1px solid #d7d7d7;
}

.no-js .accordion__content {
    float:left;
    margin:0;
}

.accordion__title:hover,
.accordion__title.active {
    background: #f5f5f5;
    color: #4b4b4b;
}

.no-js .accordion__title:hover {
    background-color:#f5f5f5;
    color:#222;
}

.accordion__title.active {
    border-bottom:none;
}
.accordion__content div{
    background-color: #fff;
    border:1px solid #d7d7d7; 
}

@media (max-width: 48em) {

    .accordion {
        border: 1px solid #f5f5f5;
    }

    .accordion__title,
    .accordion__content { 
        float: none;
        margin: 0;
    }

    .accordion__title:first-child {
        border:none;
    }

    .accordion__title.active {
        border-bottom:none;
    }

    .accordion__title.active, .accordion__title:hover {
        background:#f5f5f5;
    }

    .accordion__title:before {
        content:"+";
        text-align:center;
        width:2em;
        display:inline-block;
    }
    .accordion__title.active:before {
        content:"-";
    }

    .overflow-scrolling {
        overflow-y: scroll;
        height:11em;
        padding:1em 1em 0 1em;
        /* Warning: momemtum scrolling seems buggy on iOS 7  */
        -webkit-overflow-scrolling: touch;
    }

    .accordion__content {
        position:relative;
        overflow:hidden;
        padding:0;
    }

    .no-js .accordion__content {
        padding:1em;
        overflow:auto;
        display:block;
    }

    .accordion__content:after {
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        height:50px;
        border-radius:10px 0 0 10px / 50% 0 0 50%;
        box-shadow:-5px 0 10px rgba(0, 0, 0, 0.5);
        content:'';
    }
}

/******************************************************** [ fin test Tab ] ********************************************************/


.width_px{
    width: 100%;
    height: 20px;
}


/******************************************************** [ Load element ] ********************************************************/

.loading-overlay{
    background: transparent radial-gradient(ellipse closest-corner at 50% 50% , rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%) repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 998;
} 
.loading::after {
    background: rgba(0, 0, 0, 0) url(../image/spinner.gif) repeat scroll 0 0;
    content: " ";
    display: block;
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 68px;
    width: 32px;
}
.loading {
    background: rgba(0, 0, 0, 0) url(../image/bg_loading.png) repeat scroll 0 0; 
    height: 177px;
    left: 50%;
    margin-left: -140px;
    margin-top: -88.5px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 280px;
    z-index: 999;
}
.loading span {
    color: #3c3c3c;
    font-weight: bold;
}
.loading span {
    display: inline-block;
    position: relative;
    top: 123px;
}

.actifRow{
    background-color:#feecab;
    font-weight: bold;
}