<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:p="http://primefaces.org/ui">

    <p:chart type="line" model="#{pageManagerBean.beansMap['8'].areaModel}" style="height:300px" />

    <script>

        $(function () {

            autoCompate('.designationClass', '#compositionFormId\\:designationHiddenId', 'vSmProductLikeDesignation', clearIds, updateTotalTtcFunc);

        });

        function clearIds() {
        }

        function updateTotalTtcFunc() {
        }
    </script>

    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['p008.s1.title']}</span>
    </div>

    <div class="clear"></div>

    <div class="row_table_input">

        <div class="name_input fin_border">
            <h:outputText value="#{not empty attributeRequired['p008.s1.reference'] ? '*' : ''} #{txt['p008.s1.reference.label']}"/>
            <br/><span class="text_name_input"></span>
        </div>
        <div class="table_input">
            <h:inputText styleClass="inputSimple t_input referenceClass"  
                         style="width: 70%;"
                         autocomplete="#{false}"
                         id="referenceId"
                         value="#{pageManagerBean.beansMap['8'].reference}"
                         />
        </div>



    </div>


    <div class="row_table_input">
        <div class="name_input fin_border">  
            <h:outputText value="#{not empty attributeRequired['p008.s1.designation'] ? '*' : ''} #{txt['p008.s1.designation.label']}"/>
            <br/><span class="text_name_input"></span>
        </div>
        <div class="table_input">
            <h:inputText styleClass="inputSimple t_input designationClass"  
                         style="width: 70%;"
                         autocomplete="#{false}"
                         id="referenceId"
                         value="#{pageManagerBean.beansMap['8'].designation}"
                         />
            <h:inputHidden value="#{pageManagerBean.beansMap['8'].designationHidden}" id="designationHiddenId" />
        </div>
    </div>



    <div class="box_btn">

        <h:commandButton  styleClass="btn btn_blue" 
                          value="#{txt['globals.forms.search.label']}">

            <f:ajax execute="@form"
                    event="action"
                    render="@form"
                    listener="#{pageManagerBean.beansMap['8'].search}"/>

        </h:commandButton>

    </div>


    <h:dataTable value="#{pageManagerBean.beansMap['8'].vSmProductAlertList}" var="o"
                 styleClass="table_info dataTable"
                 id="dataTableCustomerId" >

        <h:column >
            <f:facet name="header">#{txt['p008.s2.reference.label']}</f:facet>
            <h:outputText value="#{o.reference}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p008.s2.designation.label']}</f:facet>
            <h:outputText value="#{o.designation}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p008.s2.quantity.label']}</f:facet>
            <h:outputText value="#{o.quantity}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p008.s2.threshold.label']}</f:facet>
            <h:outputText value="#{o.threshold}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p008.s2.totalCommanded.label']}</f:facet>
            <h:outputText value="#{o.totalCommanded}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p008.s2.totalRecieved.label']}</f:facet>
            <h:outputText value="#{o.totalRecieved}" />
        </h:column>

    </h:dataTable>

</div>

