<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ms="http://www.myStock.ma">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <h:body> 

        <br/>
        <!--
    
    txt : #{txt['expense.s1.title']}
    <br />
    config : #{config['5']}
    <br />
    priv :  #{priv['login.s1.username']}
    <br />
    parameter :  #{params['1']}
    <br />
    attrExclud :  #{attrExclud['ok']}
    <br />
    pageParam :  #{pageParam['1']}
    <br />
        -->

    </h:body>
</html>

