<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

    <script>

        $(function () {
            autoCompate('.designationClass', '#compositionFormId\\:pDesignationHiddenId', 'vSmProductLikeDesignation', clearIds, updateTotalTtcFunc);
            autoCompate('.referenceClass', '#compositionFormId\\:pReferenceHiddenId', 'vSmProductLikeReference', clearIds, updateTotalTtcFunc);

        });

        function clearIds() {
            $('#compositionFormId\\:pDesignationHiddenId').val("");
            $('#compositionFormId\\:pReferenceHiddenId').val("");
        }
        function updateTotalTtcFunc() {
            $('.updateTotalTtcClass').click();
        }

    </script>

    <h:commandButton value="call updateTotalTtc"
                     styleClass="updateTotalTtcClass"
                     style="display: none;">
        <f:ajax execute="@form" 
                event="click" 
                render="pReferenceId pReferenceHiddenId pDesignationId pDesignationHiddenId pUnitPriceId pQuantityId pTotalHtId" 
                listener="#{pageManagerBean.beansMap['37'].findProduct}"/>
    </h:commandButton> 

    <h:panelGroup rendered="#{!pageManagerBean.beansMap['37'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text"><h:outputText value="#{txt['p037.s1.title']}" /></span>

            <h:commandButton  styleClass="btn btn_red btn"  style="padding: 2px 20px; float: right;"
                              value="Imprimer">
                <f:ajax event="click"
                        listener="#{pageManagerBean.beansMap['37'].printAllReception}"/>
            </h:commandButton>
            
        </div>

        <h:dataTable value="#{pageManagerBean.beansMap['37'].vSmReceptionList}" var="o"
                     styleClass="table_info dataTable"
                     id="dataTableReceptionId"
                     rendered="#{empty attributeHidden['p037.s1']}" >

            <h:column rendered="#{empty attributeHidden['p037.s1.noSeq']}">
                <f:facet name="header">#{txt['p037.s1.noSeq.label']}</f:facet>
                <h:outputText value="#{o.noSeq}" />
            </h:column> 

            <h:column rendered="#{empty attributeHidden['p037.s1.reference']}">
                <f:facet name="header">#{txt['p037.s1.reference.label']}</f:facet>
                <h:outputText value="#{o.reference}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p037.s1.supplierCompanyName']}">
                <f:facet name="header">#{txt['p037.s1.supplierCompanyName.label']}</f:facet>
                <h:outputText value="#{o.supplierCompanyName}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['.s1.totalHtTotal']}">
                <f:facet name="header">#{txt['p037.s1.totalHtTotal.label']}</f:facet>
                <h:outputText value="#{o.totalHorsTaxe} #{ms:getCurrency()}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p037.s1.totalTtcTotal']}">
                <f:facet name="header">#{txt['p037.s1.totalTtcTotal.label']}</f:facet>
                <h:outputText value="#{o.totalTtc} #{ms:getCurrency()}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p037.s1.sumProduct']}">
                <f:facet name="header">#{txt['p037.s1.sumProduct.label']}</f:facet>
                <h:outputText value="#{o.sumProduct}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p037.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{empty attributeHidden['p037.s1.editReception']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="receptionId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['37'].editReception}"/>
                </h:commandLink>
                <h:outputText value="&#160;&#160;&#160;&#160;" />

            </h:column>
        </h:dataTable>

        <div class="box_btn">

        </div>

    </h:panelGroup>
    <h:panelGroup rendered="#{pageManagerBean.beansMap['37'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text"><h:outputText value="#{txt['p037.s2.title']}" /></span>

            <h:commandButton  styleClass="btn btn_red btn"  style="padding: 2px 20px; float: right;"
                              value="Imprimer">
                <f:ajax event="click"
                        listener="#{pageManagerBean.beansMap['37'].printReception}"/>
            </h:commandButton>
           
        </div>

        <div class="clear"></div>
        <div class="row_table_input">
            <div class="name_input">
                <h:outputText value="#{not empty attributeRequired['p037.s2.reference'] ? '*' : ''} #{txt['p037.s2.reference.label']}"/>
                <br/><span class="text_name_input"></span>
            </div>
            <div class="table_input">
                <h:inputText styleClass="inputSimple t_input"  
                             style="width: 37%;"
                             id="referenceId"
                             value="#{pageManagerBean.beansMap['37'].reference}"
                             readonly="#{!(pageManagerBean.beansMap['37'].receptionId  eq null)}"
                             />
            </div>
        </div>
        <ms:myStockComboBox itemCode="p032.s2.supplier"
                            beanProperty="#{pageManagerBean.beansMap['37'].supplier}"
                            beanList="#{pageManagerBean.beansMap['37'].supplierList}" />

        <ms:myStockTextArea itemCode="p032.s2.note"
                            beanProperty="#{pageManagerBean.beansMap['37'].note}" />

        <div class="box_btn">


            <h:commandButton  styleClass="btn btn_red" 
                              value="#{txt['p037.s2.return.label']}">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['37'].cancelReception}"/>
            </h:commandButton>


        </div>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p037.s3.title']}</span>
        </div>
        <div class="clear"></div>


        <h:panelGroup id="productGroupId">

            <h:dataTable styleClass="table_info"
                         id="vSmReceptionProductsListId"
                         value="#{pageManagerBean.beansMap['37'].vSmReceptionLineList}" 
                         var="o">
                <h:column>
                    <f:facet name="header" >#{txt['p037.s3.reference.label']}</f:facet>
                    <h:outputText value="#{o.reference}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p037.s3.designation.label']}</f:facet>
                    <h:outputText value="#{o.designation}" />
                </h:column>  
                <h:column>
                    <f:facet name="header" >#{txt['p037.s3.unitPriceBuy.label']}</f:facet>
                    <h:outputText value="#{o.unitPriceBuy} #{ms:getCurrency()}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p037.s3.quantity.label']}</f:facet>
                    <h:outputText value="#{o.quantity}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p037.s3.totalHt.label']}</f:facet>
                    <h:outputText value="#{o.totalPriceBuy} #{ms:getCurrency()}" />
                </h:column>

                <h:column>
                    <f:facet name="header" ><h:outputText value="#{txt['globals.list.option.label']}" /></f:facet>

                </h:column>
            </h:dataTable>


            <h:panelGroup id="therid">
                <table class="table_info" style="width: 40%; float: right; margin:10px;">
                    <tr>
                        <th style="width: 50%;">#{txt['p037.s4.countProducts.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['37'].summaryTotalQuantity} articles"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p037.s4.totalPu.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['37'].summaryTotalHt} #{ms:getCurrency()}"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p037.s4.valueTva.label']}</th>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <th>#{txt['p037.s4.amountTva.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['37'].summaryTvaAmount} #{ms:getCurrency()}"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p037.s4.totalTtc.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['37'].summaryTotalTtc} #{ms:getCurrency()}"  /></td>
                    </tr>
                </table>
            </h:panelGroup>

        </h:panelGroup>
    </h:panelGroup>

</div>

