<!DOCTYPE html  >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="itemCode" />
        <cc:attribute name="beanProperty" />
        <cc:attribute name="beanItems" />
        <cc:attribute name="componentClass"  />
        <cc:attribute name="componentId"  />

        <cc:attribute name="rendered" />
        <cc:attribute name="styleInput" default="style" />
        <cc:attribute name="maxlength" default="100" />
        <cc:attribute name="disabled" default="false"/>
        <cc:attribute name="readonly" default="false" />


    </cc:interface>

    <!-- IMPLEMENTATION -->

    <cc:implementation rendered="#{(empty attributeHidden[cc.attrs.itemCode]) or rendered}">

        <h:panelGroup rendered="#{empty attributeHidden[cc.attrs.itemCode]}">

            <div>
                <h:outputText value="MSG : #{txt[ms:getMessage(cc.attrs.itemCode,message)]}" 
                              rendered="#{ms:getMessage(cc.attrs.itemCode,message) == txt[ms:getMessage(cc.attrs.itemCode,message)]}" />

                <h:outputText value="HELP : #{txt[ms:getHelp(cc.attrs.itemCode,help)]}" 
                              rendered="#{ms:getHelp(cc.attrs.itemCode,help) == txt[ms:getHelp(cc.attrs.itemCode,help)]}" />

            </div>

            <div class="row_table_input">
                <div class="name_input">
                    <h:outputText value="#{not empty attributeRequired[cc.attrs.itemCode] ? '*' : ''} #{txt[ms:getLabel(cc.attrs.itemCode,label)]}"/>
                    <br/><span class="text_name_input"></span>
                </div>

                <div class="table_input">

                    <h:selectOneMenu   id="#{ms:getId(cc.attrs.itemCode,componentId)}"  
                                       styleClass="#{cc.attrs.componentClass} t_input  #{ms:getValidStyle(cc.attrs.itemCode)} " 
                                       value="#{cc.attrs.beanProperty}" >
                        <f:selectItem itemValue="" itemLabel="" />
                        <f:selectItems value="#{cc.attrs.beanItems}" />
                    </h:selectOneMenu>

                </div>

            </div>
        </h:panelGroup>
    </cc:implementation>


</html>




<!--

myStockInputText
 
itemCode : 
beanProperty :
beanList :
componentId : 
componentClass : 
label : 
message : 
label : 


ajaxExecute
ajaxEvent  == null or ajaxEvent == '' ? 'change' : ajaxEvent
ajaxRender
ajaxListner

-->