<!DOCTYPE html  >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="rendered" default="true" />
        <cc:attribute name="componentHelper" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>


        <!-- Section 1 : Location managment -->
        <ui:fragment rendered="#{cc.attrs.rendered}">



            <h:panelGroup id="ctaEntityLocationPanelId" style="padding: 6%;"> 


                <fieldset style="border: 1px solid white; border-radius: 4px;  padding: 5px; margin: 0px 20px;">
                    <legend>#{txt['contactManagement.s1.title']}</legend>

                    <div class="clear"></div>

                    <h:dataTable value="#{cc.attrs.componentHelper.vCtaEntityLocationList}" 
                                 var="o"
                                 id="ctaEntityLocationDataTableId"
                                 styleClass="table_info dataTable">

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s1.locationTypeName.label']}</f:facet>
                            <h:outputText value="#{o.locationTypeName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s1.addressLine.label']}</f:facet>
                            <h:outputText value="#{o.addressLine1}" /> <p:spacer width="5" />
                            <h:outputText value="#{o.addressLine2}" /><p:spacer width="5" />
                            <h:outputText value="#{o.addressLine3}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s1.postalCode.label']}</f:facet>
                            <h:outputText value="#{o.postalCode}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s1.infCountryName.label']}</f:facet>
                            <h:outputText value="#{o.infCountryName}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s1.infCityName.label']}</f:facet>
                            <h:outputText value="#{o.infCityName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s1.priority.label']}</f:facet>
                            <h:outputText value="#{o.priority}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>
                            <h:commandLink onclick="return confirmDelete();"  >
                                <f:ajax execute="ctaEntityLocationPanelId" event="action" render="@form" listener="#{cc.attrs.componentHelper.deleteCtaEntityLocation}"/>
                                <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="20" height="20" />
                                <f:attribute name="ctaEntityLocationId" value="#{o.id}" />
                            </h:commandLink>
                        </h:column>


                    </h:dataTable>
                    <div class="clear"></div>
                    <div class="box_btn">

                        <h:commandButton
                            rendered="#{!cc.attrs.componentHelper.showFormCtaEntityLocation}"
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityLocationPanelId" event="action" render="ctaEntityLocationPanelId" listener="#{cc.attrs.componentHelper.addCtaEntityLocation}"/>
                        </h:commandButton>

                    </div>

                    <h:panelGroup rendered="#{cc.attrs.componentHelper.showFormCtaEntityLocation}">


                        <br />
                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :32%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaLocationType}">
                            <f:selectItems value="#{cc.attrs.componentHelper.vCtaLocationTypeItems}" />
                        </h:selectOneMenu>

                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :19%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaLocationCountry}">
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{cc.attrs.componentHelper.vInfCountryItems}" />
                            <f:ajax execute="ctaEntityLocationPanelId" event="change" render="ctaEntityLocationPanelId" listener="#{cc.attrs.componentHelper.loadCitiesCtaEntityLocation}"/>

                        </h:selectOneMenu>

                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :19%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaLocationCity}">
                            <f:selectItems value="#{cc.attrs.componentHelper.vInfCityItems}" />
                        </h:selectOneMenu>
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :15%" value="#{cc.attrs.componentHelper.ctaLocationPostalCode}"  pt:placeholder="#{txt['contactManagement.s1.ctaLocationPostalCode.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :10%" value="#{cc.attrs.componentHelper.ctaLocationPriority}"  pt:placeholder="#{txt['contactManagement.s1.ctaLocationPriority.label']}"    />

                        <br /><br />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :32%" value="#{cc.attrs.componentHelper.ctaLocationLine1}"  pt:placeholder="#{txt['contactManagement.s1.ctaLocationLine1.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :32%" value="#{cc.attrs.componentHelper.ctaLocationLine2}"  pt:placeholder="#{txt['contactManagement.s1.ctaLocationLine2.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :32%" value="#{cc.attrs.componentHelper.ctaLocationLine3}"  pt:placeholder="#{txt['contactManagement.s1.ctaLocationLine3.label']}"    />

                        <br />
                        <div class="clear"></div>
                        <div class="box_btn1" style="float: right;">
                            <h:commandButton 
                                styleClass="btn btn_blue " 
                                value="#{txt['globals.forms.add.label']}" >
                                <f:ajax execute="ctaEntityLocationPanelId" event="action" render="ctaEntityLocationPanelId" listener="#{cc.attrs.componentHelper.saveCtaEntityLocation}"/>
                            </h:commandButton>
                            <p:spacer width="2" />
                            <h:commandButton 
                                styleClass="btn btn_blue " 
                                value="#{txt['globals.forms.cancel.label']}" >
                                <f:ajax execute="ctaEntityLocationPanelId" event="action" render="ctaEntityLocationPanelId" listener="#{cc.attrs.componentHelper.cancelCtaEntityLocation}"/>
                            </h:commandButton>
                        </div>

                    </h:panelGroup>

                </fieldset>
            </h:panelGroup>

        </ui:fragment>

        <!-- section 2 : Phons -->

        <ui:fragment rendered="#{cc.attrs.rendered}">



            <h:panelGroup id="ctaEntityPhonePanelId"> 
                <fieldset style="border: 1px solid white; border-radius: 4px;  padding: 5px; margin: 0px 20px;">
                    <legend>#{txt['contactManagement.s2.title']}</legend>

                    <h:dataTable value="#{cc.attrs.componentHelper.vCtaEntityPhoneList}" 
                                 var="o"
                                 id="ctaEntityPhoneDataTableId"
                                 styleClass="table_info dataTable" >

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s2.phoneTypeName.label']}</f:facet>
                            <h:outputText value="#{o.phoneTypeName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s2.countryCode.label']}</f:facet>
                            <h:outputText value="#{o.countryCode}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s2.number.label']}</f:facet>
                            <h:outputText value="#{o.number}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s2.priority.label']}</f:facet>
                            <h:outputText value="#{o.priority}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>
                            <h:commandLink onclick="return confirmDelete();"  >
                                <f:ajax execute="ctaEntityPhonePanelId" event="action" render="@form" listener="#{cc.attrs.componentHelper.deleteCtaEntityPhone}"/>
                                <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="20" height="20" />
                                <f:attribute name="ctaEntityPhoneId" value="#{o.id}" />
                            </h:commandLink>
                        </h:column>


                    </h:dataTable>
                    <div class="clear"></div>
                    <div class="box_btn">

                        <h:commandButton
                            rendered="#{!cc.attrs.componentHelper.showFormCtaEntityPhone}"
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityPhonePanelId" event="action" render="ctaEntityPhonePanelId" listener="#{cc.attrs.componentHelper.addCtaEntityPhone}"/>
                        </h:commandButton>

                    </div>

                    <h:panelGroup rendered="#{cc.attrs.componentHelper.showFormCtaEntityPhone}">
                        <br />
                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :25%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaPhoneType}">
                            <f:selectItems value="#{cc.attrs.componentHelper.vCtaPhoneTypeItems}" />
                        </h:selectOneMenu>
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :10%" value="#{cc.attrs.componentHelper.ctaPhoneCountryCode}"  pt:placeholder="#{txt['contactManagement.s2.ctaPhoneCountryCode.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :25%" value="#{cc.attrs.componentHelper.ctaPhoneNumber}"  pt:placeholder="#{txt['contactManagement.s2.ctaPhoneNumber.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :10%" value="#{cc.attrs.componentHelper.ctaPhonePriority}"  pt:placeholder="#{txt['contactManagement.s2.ctaPhonePriority.label']}"    />
                        <p:spacer width="5" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityPhonePanelId" event="action" render="ctaEntityPhonePanelId" listener="#{cc.attrs.componentHelper.saveCtaEntityPhone}"/>
                        </h:commandButton>
                        <p:spacer width="2" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.cancel.label']}" >
                            <f:ajax execute="ctaEntityPhonePanelId" event="action" render="ctaEntityPhonePanelId" listener="#{cc.attrs.componentHelper.cancelCtaEntityPhone}"/>
                        </h:commandButton>

                    </h:panelGroup>
                </fieldset>
            </h:panelGroup>

        </ui:fragment>

        <!-- section 3 : Faxes -->

        <ui:fragment rendered="#{cc.attrs.rendered}">



            <h:panelGroup id="ctaEntityFaxPanelId"> 
                <fieldset style="border: 1px solid white; border-radius: 4px;  padding: 5px; margin: 0px 20px;">
                    <legend>#{txt['contactManagement.s3.title']}</legend>

                    <h:dataTable value="#{cc.attrs.componentHelper.vCtaEntityFaxList}" 
                                 var="o"
                                 id="ctaEntityFaxDataTableId"
                                 styleClass="table_info dataTable" >

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s3.faxTypeName.label']}</f:facet>
                            <h:outputText value="#{o.faxTypeName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s3.countryCode.label']}</f:facet>
                            <h:outputText value="#{o.countryCode}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s3.number.label']}</f:facet>
                            <h:outputText value="#{o.number}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s3.priority.label']}</f:facet>
                            <h:outputText value="#{o.priority}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>
                            <h:commandLink onclick="return confirmDelete();"  >
                                <f:ajax execute="ctaEntityFaxPanelId" event="action" render="@form" listener="#{cc.attrs.componentHelper.deleteCtaEntityFax}"/>
                                <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="20" height="20" />
                                <f:attribute name="ctaEntityFaxId" value="#{o.id}" />
                            </h:commandLink>
                        </h:column>


                    </h:dataTable>
                    <div class="clear"></div>
                    <div class="box_btn">

                        <h:commandButton
                            rendered="#{!cc.attrs.componentHelper.showFormCtaEntityFax}"
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityFaxPanelId" event="action" render="ctaEntityFaxPanelId" listener="#{cc.attrs.componentHelper.addCtaEntityFax}"/>
                        </h:commandButton>

                    </div>

                    <h:panelGroup rendered="#{cc.attrs.componentHelper.showFormCtaEntityFax}">
                        <br />
                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :25%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaFaxType}">
                            <f:selectItems value="#{cc.attrs.componentHelper.vCtaFaxTypeItems}" />
                        </h:selectOneMenu>
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :10%" value="#{cc.attrs.componentHelper.ctaFaxCountryCode}"  pt:placeholder="#{txt['contactManagement.s3.ctaFaxCountryCode.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :25%" value="#{cc.attrs.componentHelper.ctaFaxNumber}"  pt:placeholder="#{txt['contactManagement.s3.ctaFaxNumber.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :10%" value="#{cc.attrs.componentHelper.ctaFaxPriority}"  pt:placeholder="#{txt['contactManagement.s3.ctaFaxPriority.label']}"    />
                        <p:spacer width="5" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityFaxPanelId" event="action" render="ctaEntityFaxPanelId" listener="#{cc.attrs.componentHelper.saveCtaEntityFax}"/>
                        </h:commandButton>
                        <p:spacer width="2" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.cancel.label']}" >
                            <f:ajax execute="ctaEntityFaxPanelId" event="action" render="ctaEntityFaxPanelId" listener="#{cc.attrs.componentHelper.cancelCtaEntityFax}"/>
                        </h:commandButton>

                    </h:panelGroup>
                </fieldset>
            </h:panelGroup>

        </ui:fragment>

        <!-- Section 4 : WebSite managment -->
        <ui:fragment rendered="#{cc.attrs.rendered}">



            <h:panelGroup id="ctaEntityWebPanelId"> 
                <fieldset style="border: 1px solid white; border-radius: 4px;  padding: 5px; margin: 0px 20px;">
                    <legend>#{txt['contactManagement.s4.title']}</legend>

                    <h:dataTable value="#{cc.attrs.componentHelper.vCtaEntityWebList}" 
                                 var="o"
                                 id="ctaEntityWebDataTableId"
                                 styleClass="table_info dataTable" >

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s4.webTypeName.label']}</f:facet>
                            <h:outputText value="#{o.webTypeName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s4.externalUrl.label']}</f:facet>
                            <a href="#{o.externalUrl}" target="_blank" title="#{o.webTypeName}" >#{o.url}</a>
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s4.priority.label']}</f:facet>
                            <h:outputText value="#{o.priority}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>
                            <h:commandLink onclick="return confirmDelete();"  >
                                <f:ajax execute="ctaEntityWebPanelId" event="action" render="@form" listener="#{cc.attrs.componentHelper.deleteCtaEntityWeb}"/>
                                <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="20" height="20" />
                                <f:attribute name="ctaEntityWebId" value="#{o.id}" />
                            </h:commandLink>
                        </h:column>


                    </h:dataTable>
                    <div class="clear"></div>
                    <div class="box_btn">

                        <h:commandButton
                            rendered="#{!cc.attrs.componentHelper.showFormCtaEntityWeb}"
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityWebPanelId" event="action" render="ctaEntityWebPanelId" listener="#{cc.attrs.componentHelper.addCtaEntityWeb}"/>
                        </h:commandButton>

                    </div>

                    <h:panelGroup rendered="#{cc.attrs.componentHelper.showFormCtaEntityWeb}">
                        <br />
                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :25%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaWebType}">
                            <f:selectItems value="#{cc.attrs.componentHelper.vCtaWebTypeItems}" />
                        </h:selectOneMenu>
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :30%" value="#{cc.attrs.componentHelper.ctaWebUrl}"  pt:placeholder="#{txt['contactManagement.s4.ctaWebUrl.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :16%" value="#{cc.attrs.componentHelper.ctaWebPriority}"  pt:placeholder="#{txt['contactManagement.s4.ctaWebPriority.label']}"    />
                        <p:spacer width="5" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityWebPanelId" event="action" render="ctaEntityWebPanelId" listener="#{cc.attrs.componentHelper.saveCtaEntityWeb}"/>
                        </h:commandButton>
                        <p:spacer width="2" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.cancel.label']}" >
                            <f:ajax execute="ctaEntityWebPanelId" event="action" render="ctaEntityWebPanelId" listener="#{cc.attrs.componentHelper.cancelCtaEntityWeb}"/>
                        </h:commandButton>

                    </h:panelGroup>
                </fieldset>
            </h:panelGroup>

        </ui:fragment>


        <!-- section 5 : Email -->

        <ui:fragment rendered="#{cc.attrs.rendered}">




            <h:panelGroup id="ctaEntityEmailPanelId"> 
                <fieldset style="border: 1px solid white; border-radius: 4px;  padding: 5px; margin: 0px 20px;">
                    <legend>#{txt['contactManagement.s5.title']}</legend>


                    <h:dataTable value="#{cc.attrs.componentHelper.vCtaEntityEmailList}" 
                                 var="o"
                                 id="ctaEntityEmailDataTableId"
                                 styleClass="table_info dataTable" >

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s5.emailTypeName.label']}</f:facet>
                            <h:outputText value="#{o.emailTypeName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s5.emailAddress.label']}</f:facet>
                            <h:outputText value="#{o.emailAddress}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['contactManagement.s5.priority.label']}</f:facet>
                            <h:outputText value="#{o.priority}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>
                            <h:commandLink onclick="return confirmDelete();"  >
                                <f:ajax execute="ctaEntityEmailPanelId" event="action" render="@form" listener="#{cc.attrs.componentHelper.deleteCtaEntityEmail}"/>
                                <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="20" height="20" />
                                <f:attribute name="ctaEntityEmailId" value="#{o.id}" />
                            </h:commandLink>
                        </h:column>


                    </h:dataTable>
                    <div class="clear"></div>
                    <div class="box_btn">

                        <h:commandButton
                            rendered="#{!cc.attrs.componentHelper.showFormCtaEntityEmail}"
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityEmailPanelId" event="action" render="ctaEntityEmailPanelId" listener="#{cc.attrs.componentHelper.addCtaEntityEmail}"/>
                        </h:commandButton>

                    </div>

                    <h:panelGroup rendered="#{cc.attrs.componentHelper.showFormCtaEntityEmail}">
                        <br />  
                        <h:selectOneMenu styleClass=" t_input  inputSimple" style="width :24%; margin-left: 5px;" value="#{cc.attrs.componentHelper.ctaEmailType}">
                            <f:selectItems value="#{cc.attrs.componentHelper.vCtaEmailTypeItems}" />
                        </h:selectOneMenu>
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :32%" value="#{cc.attrs.componentHelper.ctaEmailAdresse}"  pt:placeholder="#{txt['contactManagement.s5.ctaEmailAdresse.label']}"    />
                        <p:spacer width="5" />
                        <h:inputText  styleClass=" t_input  inputSimple" style="width :15%" value="#{cc.attrs.componentHelper.ctaEmailPriority}"  pt:placeholder="#{txt['contactManagement.s5.ctaEmailPriority.label']}"    />
                        <p:spacer width="5" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.add.label']}" >
                            <f:ajax execute="ctaEntityEmailPanelId" event="action" render="ctaEntityEmailPanelId" listener="#{cc.attrs.componentHelper.saveCtaEntityEmail}"/>
                        </h:commandButton>
                        <p:spacer width="2" />
                        <h:commandButton 
                            styleClass="btn btn_blue " 
                            value="#{txt['globals.forms.cancel.label']}" >
                            <f:ajax execute="ctaEntityEmailPanelId" event="action" render="ctaEntityEmailPanelId" listener="#{cc.attrs.componentHelper.cancelCtaEntityEmail}"/>
                        </h:commandButton>

                    </h:panelGroup>
                </fieldset>
            </h:panelGroup>


        </ui:fragment>

    </cc:implementation>
</html>

