<!DOCTYPE html  >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="itemCode" />
        <cc:attribute name="beanProperty" />
        <cc:attribute name="componentClass"  />

        <cc:attribute name="rendered" />
        <cc:attribute name="styleInput" default="style" />
        <cc:attribute name="maxlength" default="100" />
        <cc:attribute name="disabled" default="false"/>
        <cc:attribute name="readonly" default="false" />

        <!-- autocomplete -->
        <cc:attribute name="autocomplete" default="false" />
        <cc:attribute name="autocompleteHidden" />
        <cc:attribute name="autocompleteData" />
        <cc:attribute name="autocompleteBeforeClick"  />
        <cc:attribute name="autocompleteAfterClick"  />

    </cc:interface>

    <!-- IMPLEMENTATION -->

    <cc:implementation rendered="#{(empty attributeHidden[cc.attrs.itemCode]) or rendered}">


        <h:panelGroup rendered="#{cc.attrs.autocomplete}">
            <script>

                $(function () {
                    autoCompate('.#{cc.attrs.componentClass}', '.#{cc.attrs.componentClass}Hidden', '#{cc.attrs.autocompleteData}', beforeClick, afterClick);
                });

                function beforeClick() {
                    $('.#{cc.attrs.componentClass}Hidden').val("");
                }

                function afterClick() {

                }
            </script>
        </h:panelGroup>

        <h:panelGroup rendered="#{empty attributeHidden[cc.attrs.itemCode]}">

            <div>
                <h:outputText value="MSG : #{txt[ms:getMessage(cc.attrs.itemCode,message)]}" 
                              rendered="#{ms:getMessage(cc.attrs.itemCode,message) == txt[ms:getMessage(cc.attrs.itemCode,message)]}" />

                <h:outputText value="HELP : #{txt[ms:getHelp(cc.attrs.itemCode,help)]}" 
                              rendered="#{ms:getHelp(cc.attrs.itemCode,help) == txt[ms:getHelp(cc.attrs.itemCode,help)]}" />


            </div>

            <!-- doubleInput ou integerInput datepicker  datetimepicker  -->
            <div class="row_table_input">
                <div class="name_input">

                    <h:outputText value="#{not empty attributeRequired[cc.attrs.itemCode] ? '*' : ''} #{txt[ms:getLabel(cc.attrs.itemCode,label)]}"/>
                    <br/><span class="text_name_input"></span>
                </div>

                <div class="table_input">
                    <h:inputText styleClass="#{cc.attrs.componentClass} t_input  #{ms:getValidStyle(cc.attrs.itemCode)} "  
                                 id="#{ms:getId(cc.attrs.itemCode,componentId)}"   
                                 value="#{cc.attrs.beanProperty}"
                                 style="#{attributeReadOnly[cc.attrs.itemCode] eq 'true' ? 'background-color: #eaeaea' : ''}"
                                 readonly="#{attributeReadOnly[cc.attrs.itemCode]}"
                                 />


                    <h:outputText value="#{attributeMaxLength[cc.attrs.itemCode]} chars"  rendered="#{not empty attributeMaxLength[cc.attrs.itemCode]}" />
                    <h:outputText value="#{attributeMaxWord[cc.attrs.itemCode]} words"  rendered="#{not empty attributeMaxWord[cc.attrs.itemCode]}" />

                    <h:outputFormat value="#{msg['admin.structure.inputMaxLenght.label']}">
                        <f:param value="#{cc.attrs.maxlength}" />
                    </h:outputFormat>

                    <h:panelGroup rendered="#{cc.attrs.autocomplete}">

                        <h:inputText style="display: none;" value="#{cc.attrs.autocompleteHidden}" styleClass="#{cc.attrs.componentClass}Hidden" />

                    </h:panelGroup>

                </div>
            </div>
        </h:panelGroup>
    </cc:implementation>


</html>




<!--

myStockInputText



il faut ajouter placeHolder dans le future
revoir les trucs de == 

il faut ajouter le foramt type formatType[itemCode] ajouter les classes qui existe dans format.js
-->