<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

    <h:panelGroup rendered="#{not pageManagerBean.beansMap['6'].showForm}">

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">La liste des receptions encours </span>
        </div>

        <div class="clear"></div>
        <div class="box_btn">
            <h:commandButton styleClass="btn btn_red"   value="Apreçu" >
                <f:ajax execute="@form" event="action"  listener="#{pageManagerBean.beansMap['6'].previewAllReceptionsAction}"/>
            </h:commandButton>
        </div>
        <div class="box_btn">
            <h:commandButton styleClass="btn btn_red" value="Imprimer" >
                <f:ajax execute="@form" event="action"  listener="#{pageManagerBean.beansMap['6'].printAllReceptionsAction}"/>
            </h:commandButton>
        </div>
        <div class="clear"></div>

        <h:dataTable value="#{pageManagerBean.beansMap['6'].vSmReceptionList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTableReceptionId" >

            <h:column>
                <f:facet name="header">Code Reception</f:facet>
                <h:outputText value="#{r.codeSeq}" />
            </h:column>

            <h:column>
                <f:facet name="header">Fournisseur</f:facet>
                <h:outputText value="#{r.supplierCompanyName}" />
            </h:column>

            <h:column>
                <f:facet name="header">La souche</f:facet>
                <h:outputText value="#{r.souche}" />
            </h:column>

            <h:column>
                <f:facet name="header">Montant Total HT</f:facet>
                <h:outputText value="#{r.totalHtTotal} #{ms:getCurrency()}" />
            </h:column>

            <h:column>
                <f:facet name="header">Montant Total TTC</f:facet>
                <h:outputText value="#{r.totalTtcTotal} #{ms:getCurrency()}" />
            </h:column>

            <h:column>
                <f:facet name="header">Date d'échience</f:facet>
                <h:outputText value="#{ms:formatDateTime(r.deadline)}" />
            </h:column>

            <h:column>
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink>
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="receptionId" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['6'].editReception}"/>
                </h:commandLink>
                <h:outputText value="&#160;&#160;&#160;&#160;" />

                <h:commandLink  onclick="return confirmDelete();">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="receptionId" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['6'].deletePartial}"/>
                </h:commandLink>

            </h:column>

        </h:dataTable>
        <div class="box_btn">

            <h:commandButton 
                styleClass="btn btn_blue " 
                value="#{txt['globals.forms.add.label']}" >
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['6'].addReception}"/>
            </h:commandButton>

        </div>
    </h:panelGroup>
    <h:panelGroup rendered="#{pageManagerBean.beansMap['6'].showForm}">
            <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">Ajouter / modifier reception</span>
        </div>

        <div class="box_btn">
            <h:commandButton  rendered="#{pageManagerBean.beansMap['6'].receptionId != null}"  styleClass="btn btn_red"   value="Apreçu" >
                <f:ajax execute="@form" event="action"  listener="#{pageManagerBean.beansMap['6'].previewReceptionAction}"/>
            </h:commandButton>
        </div>
        <div class="box_btn">
            <h:commandButton  rendered="#{pageManagerBean.beansMap['6'].receptionId != null}"  styleClass="btn btn_red" value="Imprimer" >
                <f:ajax execute="@form" event="action"  listener="#{pageManagerBean.beansMap['6'].printReceptionAction}"/>
            </h:commandButton>
        </div>
        <div class="clear"></div>
        
        <ms:myStockInputText itemCode="p006.s2.code"
                             beanProperty="#{pageManagerBean.beansMap['6'].codeSeq}"/> 

        <ms:myStockComboBox itemCode="p006.s2.supplier"
                            beanProperty="#{pageManagerBean.beansMap['6'].supplier}"
                            beanList="#{pageManagerBean.beansMap['6'].supplierList}" />

        <ms:myStockInputText itemCode="p006.s2.souche"
                             beanProperty="#{pageManagerBean.beansMap['6'].souche}"/>

        <ms:myStockInputText itemCode="p006.s2.deadline"
                             beanProperty="#{pageManagerBean.beansMap['6'].deadline}"/>

        <ms:myStockTextArea itemCode="p006.s2.note"
                            beanProperty="#{pageManagerBean.beansMap['6'].note}" />

        <ms:myStockComboBox itemCode="p006.s2.deposit"
                            beanProperty="#{pageManagerBean.beansMap['6'].deposit}"
                            beanList="#{pageManagerBean.beansMap['6'].depositList}" />

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" value="Sauvegarder">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.savePartial}"/>
            </h:commandButton>

            <h:commandButton rendered="#{pageManagerBean.beansMap['6'].receptionId != null}"  styleClass="btn btn_blue" value="Soumettre">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['6'].submitReception}"/>
            </h:commandButton>

            <h:commandButton rendered="#{false}" styleClass="btn btn_blue" value="Valider">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['6'].validateReception}"/>
            </h:commandButton>

            <h:commandButton  styleClass="btn btn_red" value="Retour">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['6'].cancelReception}"/>
            </h:commandButton>


        </div>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['reception.s3.title']}</span>
        </div>
        <div class="clear"></div>

        <h:panelGroup id="panelVSmReceptionProductsListId">
            <h:dataTable styleClass="table_info"
                         id="vSmReceptionProductsListId"
                         value="#{pageManagerBean.beansMap['6'].vSmReceptionProductsList}" 
                         var="o">
                <h:column>
                    <f:facet name="header" >Réf</f:facet>
                    <h:outputText value="#{o.reference}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >Designation</f:facet>
                    <h:outputText value="#{o.designation}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >Qté</f:facet>
                    <h:outputText value="#{o.quantity}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >Pu TTC</f:facet>
                    <h:outputText value="#{o.unitPriceBuy}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >Remise</f:facet>
                    <h:outputText value="#{o.remise}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >Total HT</f:facet>
                    <h:outputText value="#{o.totalTtc}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >Total TTC</f:facet>
                    <h:outputText value="#{o.totalHt}" />
                </h:column>
                <h:column>
                    <f:facet name="header" ><h:outputText value="Option" /></f:facet>

                    <h:commandLink >
                        <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="20" height="20"  />
                        <f:attribute name="smReceptionProductsId" value="#{o.id}" />
                        <f:ajax execute="@this" event="click" render="@form" 
                                listener="#{pageManagerBean.beansMap['6'].editProduct}"/>
                    </h:commandLink>

                    <h:outputText value="&#160;&#160;&#160;&#160;" />

                    <h:commandLink  onclick="return confirmDelete();">
                        <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="20" height="20"  />
                        <f:attribute name="smReceptionProductsId" value="#{o.id}" />
                        <f:ajax execute="@this" event="click" render="@form" 
                                listener="#{pageManagerBean.beansMap['6'].deleteProduct}"/>
                    </h:commandLink>

                    <h:panelGroup rendered="#{pageManagerBean.beansMap['6'].lastProductId  eq o.id}" >
                        <div style="display: none" id="activeRow" />
                    </h:panelGroup>
                </h:column>
            </h:dataTable>
        </h:panelGroup>

        <table class="table_info" style="width: 40%; float: right; margin:10px;">
            <tr>
                <th style="width: 50%;">Nombre d'article</th>
                <td><h:outputText value="#{pageManagerBean.beansMap['6'].summaryQuantityTotal} articles"  /></td>
            </tr>
            <tr>
                <th>Total prix d'achat</th>
                <td><h:outputText value="#{pageManagerBean.beansMap['6'].summaryTotalHtTotal} #{ms:getCurrency()}"  /></td>
            </tr>
            <tr>
                <th>La valeur de T.v.a</th>
                <td><h:outputText value="#{pageManagerBean.beansMap['6'].summaryTva} %"  /></td>
            </tr>
            <tr>
                <th>Le montant de T.va</th>
                <td><h:outputText value="#{pageManagerBean.beansMap['6'].summaryAmount} #{ms:getCurrency()}"  /></td>
            </tr>
            <tr>
                <th>Total TTC</th>
                <td><h:outputText value="#{pageManagerBean.beansMap['6'].summaryTotalTtcTotal} #{ms:getCurrency()}"  /></td>
            </tr>
        </table>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['reception.s3.title']}</span>
        </div>
        <div class="clear"></div>

        <table class="table_info">
            <tr>
                <th>Ref</th>
                <th>Designation</th>
                <th>Qté</th>
                <th>Pu TTC</th>
                <th>Remise</th>
                <th>Total HT</th>
                <th>Total TTC</th>
                <th>#{txt['globals.list.option.label']}</th>
            </tr>
            <tr>

                <td style="padding: 1px;">  
                    <h:inputText style="width: 100px;" autocomplete="#{false}" value="#{pageManagerBean.beansMap['6'].productRef}" id="productRefId" >
                        <f:ajax execute="@form" 
                                event="keyup" 
                                listener="#{pageManagerBean.beansMap['6'].findProductByRef}"
                                render="productDesignationId productQteId productPuTtcId productRemiseId productTotalHtId productTvaId productTotalTtcId"/>
                    </h:inputText>
                </td>
                <td  style="padding: 1px;">
                    <h:inputText style="width: 280px;" value="#{pageManagerBean.beansMap['6'].productDesignation}" id="productDesignationId" >

                    </h:inputText>
                </td>
                <td  style="padding: 1px;">
                    <h:inputText style="width: 70px;" value="#{pageManagerBean.beansMap['6'].productQte}" id="productQteId">
                        <f:ajax execute="@form" 
                                event="keyup" 
                                listener="#{pageManagerBean.beansMap['6'].calculTotalTtc}"
                                render="productDesignationId productPuTtcId productRemiseId productTotalHtId productTvaId productTotalTtcId"/>
                    </h:inputText>


                </td>
                <td  style="padding: 1px;">
                    <h:inputText  style="width: 100px;" value="#{pageManagerBean.beansMap['6'].productPuTtc}" id="productPuTtcId" >
                        <f:ajax execute="@this" 
                                event="keyup" 
                                listener="#{pageManagerBean.beansMap['6'].calculTotalTtc}"
                                render="productDesignationId productQteId productRemiseId productTotalHtId productTvaId productTotalTtcId"/>
                    </h:inputText>
                </td>
                <td  style="padding: 1px;">
                    <h:inputText   style="width: 70px;"  value="#{pageManagerBean.beansMap['6'].productRemise}" id="productRemiseId" >
                        <f:ajax execute="@this" 
                                event="keyup" 
                                listener="#{pageManagerBean.beansMap['6'].calculTotalTtc}"
                                render="productDesignationId productQteId productPuTtcId productTotalHtId productTvaId productTotalTtcId"/>
                    </h:inputText>
                </td>
                <td  style="padding: 1px;">
                    <h:inputText style="width: 100px;" value="#{pageManagerBean.beansMap['6'].productTotalHt}" id="productTotalHtId" >
                        <f:ajax execute="@this" 
                                event="keyup" 
                                listener="#{pageManagerBean.beansMap['6'].calculTotalTtc}"
                                render="productDesignationId productQteId productPuTtcId productRemiseId productTvaId productTotalTtcId"/>
                    </h:inputText>
                </td>
                <td  style="padding: 1px;">
                    <h:inputText style="width: 100px;" value="#{pageManagerBean.beansMap['6'].productTotalTtc}" id="productTotalTtcId" >

                    </h:inputText>
                </td>
                <td  style="padding: 1px;">
                    <h:commandLink>
                        <h:graphicImage  alt="add"  url="#{ms:getImages()}/plus.png" styleClass="image_save_edit" width="20" height="20"  />
                        <f:ajax execute="vSmReceptionProductsListId
                                productRefId productDesignationId productQteId productPuTtcId productRemiseId productTotalHtId productTvaId productTotalTtcId" event="click" render="@form" listener="#{pageManagerBean.beansMap['6'].saveProduct}"/>
                    </h:commandLink>
                    <h:outputText value="&#160;&#160;&#160;" />
                    <h:commandLink>
                        <h:graphicImage  alt="delete"  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="20" height="20" onclick='return confirmClean();'   />
                        <f:ajax execute="" 
                                event="click" 
                                listener="#{pageManagerBean.beansMap['6'].cleanProduct}"
                                render="productRefId productDesignationId productQteId productPuTtcId productRemiseId productTotalHtId productTvaId productTotalTtcId"/>
                    </h:commandLink>

                </td> 
            </tr>

        </table>

    </h:panelGroup>

</div>

