<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:panelGroup id="clientListId" rendered="#{pageManagerBean.beansMap['27'].rendredCltUserClientList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['pageParameterModule.s1.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['27'].cltUserClientList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablepageParameterModuleId" >

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s1.name']}">
                <f:facet name="header">#{txt['pageParameterModule.s1.name.label']}</f:facet>
                <h:outputText value="#{r.firstNameClient} #{r.lastNameClient}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s1.company']}">
                <f:facet name="header">#{txt['pageParameterModule.s1.company.label']}</f:facet>
                <h:outputText value="#{r.companyName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s1.email']}">
                <f:facet name="header">#{txt['pageParameterModule.s1.email.label']}</f:facet>
                <h:outputText value="#{r.email}" />
            </h:column>
            <h:column rendered="#{empty attributeExclud['pageParameterModule.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['pageParameterModule.s1.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="27" height="27"  />
                    <f:attribute name="cltClientIdParam" value="#{r.clientId}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['27'].goToListModule}"/>
                </h:commandLink>
            </h:column>




        </h:dataTable>

    </h:panelGroup>
    <h:panelGroup id="clientListId" rendered="#{pageManagerBean.beansMap['27'].rendredCltModuleList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['pageParameterModule.s2.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['27'].cltModuleList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablepageParameterModuleId" >

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s2.nameModule']}">
                <f:facet name="header">#{txt['pageParameterModule.s2.nameModule.label']}</f:facet>
                <h:outputText value="#{r.moduleName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s2.descriptionModule']}">
                <f:facet name="header">#{txt['pageParameterModule.s2.descriptionModule.label']}</f:facet>
                <h:outputText value="#{r.moduleDescription}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s2.moduleTypeName']}">
                <f:facet name="header">#{txt['pageParameterModule.s2.moduleTypeName.label']}</f:facet>
                <h:outputText value="#{r.moduleTypeName}" />
            </h:column>
            <h:column rendered="#{empty attributeExclud['pageParameterModule.s2.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['pageParameterModule.s2.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="27" height="27"  />
                    <f:attribute name="cltModuleIdParam" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['27'].goToListPage}"/>
                </h:commandLink>
            </h:column>




        </h:dataTable>
        <div class="box_btn">
            <h:panelGroup  rendered="#{pageManagerBean.beansMap['27'].rendredClient}"  >
                <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['27'].cancelClient}"/>

                </h:commandButton>
            </h:panelGroup>
        </div>
    </h:panelGroup>
    <h:panelGroup id="clientListId" rendered="#{pageManagerBean.beansMap['27'].rendredPageModuleList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['pageParameterModule.s2.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['27'].pageModuleList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablepageParameterModuleId" >

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s3.pageName']}">
                <f:facet name="header">#{txt['pageParameterModule.s3.pageName.label']}</f:facet>
                <h:outputText value="#{r.pageName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s3.pageDescription']}">
                <f:facet name="header">#{txt['pageParameterModule.s3.pageDescription.label']}</f:facet>
                <h:outputText value="#{r.description}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s3.pageTypeName']}">
                <f:facet name="header">#{txt['pageParameterModule.s3.pageTypeName.label']}</f:facet>
                <h:outputText value="#{r.pageTypeName}" />
            </h:column>
            <h:column rendered="#{empty attributeExclud['pageParameterModule.s3.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['pageParameterModule.s3.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="27" height="27"  />
                    <f:attribute name="pmPageIdParam" value="#{r.idPage}" />
                    <f:attribute name="cltModuleIdParam" value="#{r.cltModuleId}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['27'].goToListPageParameter}"/>
                </h:commandLink>
            </h:column>




        </h:dataTable>
        <div class="box_btn">
            <h:panelGroup  rendered="#{pageManagerBean.beansMap['27'].rendredModule}"  >
                <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['27'].cancelModule}"/>

                </h:commandButton>
            </h:panelGroup>
        </div>
    </h:panelGroup>
    <h:panelGroup id="pageParameterModuleListId" rendered="#{pageManagerBean.beansMap['27'].rendredPmPageParameterModuleList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['pageParameterModule.s3.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['27'].pmPageParameterModuleList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablepageParameterModuleId" >

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s4.pageParameter']}">
                <f:facet name="header">#{txt['pageParameterModule.s4.pageParameter.label']}</f:facet>
                <h:outputText value="#{r.namePageParameter}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s4.pageParameterDefaultValue']}">
                <f:facet name="header">#{txt['pageParameterModule.s4.pageParameterDefaultValue.label']}</f:facet>
                <h:outputText value="#{r.pageparameterDEFAULTVALUE}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['pageParameterModule.s4.value']}">
                <f:facet name="header">#{txt['pageParameterModule.s4.value.label']}</f:facet>
                <h:outputText value="#{r.value}" />
            </h:column>

            <h:column rendered="#{empty attributeExclud['pageParameterModule.s4.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['pageParameterModule.s4.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="27" height="27"  />
                    <f:attribute name="pmPageParameterModuleId" value="#{r.code}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['27'].edit}"/>
                </h:commandLink>
                <h:outputText value="&#160;&#160;&#160;&#160;" />

                <h:commandLink rendered="#{ empty attributeExclud['pageParameterModule.s4.delete']} #{r.canBeDelete}" onclick="return confirmDelete();">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="27" height="27"  />
                    <f:attribute name="pmPageParameterModuleId" value="#{r.code}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['27'].deletePartial}"/>
                </h:commandLink>

            </h:column>




        </h:dataTable>

        <div class="box_btn">
            <h:panelGroup  rendered="#{pageManagerBean.beansMap['27'].rendredAddPageParameter}"  >
                <h:commandButton  styleClass="btn btn_blue" value="#{txt['globals.forms.add.label']}">
                    <f:attribute name="pmPageIdParam" value="#{pageManagerBean.beansMap['27'].pmPageIdP}" />
                    <f:attribute name="cltModuleIdParam" value="#{pageManagerBean.beansMap['27'].cltModuleIdP}" />
                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['27'].addPageParameterModule}"/>

                </h:commandButton>
            </h:panelGroup>
            <h:panelGroup>
                <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['27'].cancelPage}"/>

                </h:commandButton>
            </h:panelGroup>
        </div>

    </h:panelGroup>


    <h:panelGroup id="addpageParameterModuleId" rendered="#{pageManagerBean.beansMap['27'].showForm}" >


        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['pageParameterModule.s5.title']}</span>
        </div>

        <ms:myStockComboBox itemCode="pageParameterModule.s5.pageParameter"
                            beanProperty="#{pageManagerBean.beansMap['27'].pageParameterId}"
                            beanList="#{pageManagerBean.beansMap['27'].pageParameterList}" />

        <ms:myStockTextArea itemCode="pageParameterModule.s5.value"
                            beanProperty="#{pageManagerBean.beansMap['27'].value}" />



        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" value="Sauvegarder et Continuer">
                <f:attribute name="pmPageIdParam" value="#{pageManagerBean.beansMap['27'].pmPageIdP}" />
                 <f:attribute name="cltModuleIdParam" value="#{pageManagerBean.beansMap['27'].cltModuleIdP}" />
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.savePartial}"/>

            </h:commandButton>


            <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">
                <f:attribute name="pmPageIdParam" value="#{pageManagerBean.beansMap['27'].pmPageIdP}" />
                <f:attribute name="cltModuleIdParam" value="#{pageManagerBean.beansMap['27'].cltModuleIdP}" />
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['27'].cancelPageParameterClient}"/>

            </h:commandButton>


        </div>


        <br />

    </h:panelGroup>



    <style>
        .actifRow{
            background-color:#feecab;
            font-weight: bold;
        }
    </style>
    <script>

        jQuery(document).ready(function () {

            var activeRow = jQuery("#activeRow");

            if (activeRow !== null) {

                var coChildTd = jQuery(activeRow).parent().parent().children();

                for (i = 0; i&lt; coChildTd.length; i++)
                        jQuery(coChildTd[i]).addClass('actifRow');
            }

        });

    </script>


</div>

