<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
     xmlns:co="http://xmlns.jcp.org/jsf/composite/components">
    
    <h3>En cours de développement </h3>
    <div style="display: none;">

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p025.s1.title']}</span>
        </div>

        <div class="clear"></div>
        <br />


        <ms:myStockTextArea itemCode="p025.s1.applicationName"
                            beanProperty="#{pageManagerBean.beansMap['25'].paramClient1_applicationName}" />

        <co:inputText  itemCode="p025.s1.applicationTitle"
                       beanProperty="#{pageManagerBean.beansMap['25'].paramClient2_applicationTitle}" />

        <co:comboBox  itemCode="p025.s1.currencyCode"
                      beanItems="#{pageManagerBean.beansMap['25'].currencyItems}"
                      beanProperty="#{pageManagerBean.beansMap['25'].paramClient9_currencyCode}" />

        <co:inputText  itemCode="p025.s1.tenantName"
                       beanProperty="#{pageManagerBean.beansMap['25'].paramClient10_tenantName}" />


        <div class="clear"></div>

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" 
                              value="#{txt['globals.forms.search.label']}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['25'].savePartial}"/>

            </h:commandButton>

        </div>

    </div>


</div>

