<div xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
     xmlns:ms="http://www.myStock.ma">

    <div class="mainPdf">
        <br />    
        <center><h2>#{txt['pdf003.s1.title']}</h2></center>
        <br /><br />
        <div class="message">
            #{txt['pdf003.s1.message']}   <br /><br />  
        </div>
        <br />
        <div class="clear"></div>

        <h:dataTable value="#{pdfManagerBean.selectedPdf.vSmReceptionList}" var="r"
                     styleClass="tablePdf"  >

            <h:column>
                <f:facet name="header"> #{txt['pdf003.s2.seq.label']}</f:facet>
                <h:outputText value="#{r.noSeq}" />
            </h:column>
            
            <h:column>
                <f:facet name="header"> #{txt['pdf003.s2.reference.label']}</f:facet>
                <h:outputText value="#{r.reference}" />
            </h:column>
            
            <h:column>
                <f:facet name="header"> #{txt['pdf003.s2.supplier.label']}</f:facet>
                <h:outputText value="#{r.supplierCompanyName}" />
            </h:column>
            
            <h:column>
                <f:facet name="header"> #{txt['pdf003.s2.totalHt.label']}</f:facet>
                <h:outputText value="#{r.totalHorsTaxe} #{ms:getCurrency()}" />
            </h:column>
            
            <h:column>
                <f:facet name="header"> #{txt['pdf003.s2.totalTtc.label']}</f:facet>
                <h:outputText value="#{r.totalTtc} #{ms:getCurrency()}" />
            </h:column>
            
            <h:column>
                <f:facet name="header"> #{txt['pdf003.s2.TotalQuantity.label']}</f:facet>
                <h:outputText value="#{r.sumProduct}" />
            </h:column>
            
        </h:dataTable>

    </div>
</div>