<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

    <script>

        $(function () {

            autoCompate('.designationClass', '#compositionFormId\\:designationHiddenId', 'vSmProductLikeDesignation', clearIds, updateTotalTtcFunc);

        });

        function clearIds() {
            // $('#compositionFormId\\:referenceHiddenId').val("");
        }

        function updateTotalTtcFunc() {

        }
    </script>

    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['p009.s1.title']}</span>
    </div>

    <div class="clear"></div>
    <div class="row_table_input">
        <div class="name_input">
            <h:outputText value="#{not empty attributeRequired['p009.s1.reference'] ? '*' : ''} #{txt['p009.s1.reference.label']}"/>
            <br/><span class="text_name_input"></span>
        </div>
        <div class="table_input">
            <h:inputText styleClass="inputSimple t_input referenceClass"  
                         style="width: 70%;"
                         autocomplete="#{false}"
                         id="referenceId"
                         value="#{pageManagerBean.beansMap['9'].reference}"
                         />
        </div>

    </div>

    <div class="row_table_input">
        <div class="name_input">  
            <h:outputText value="#{not empty attributeRequired['p009.s1.orderSupplierReference'] ? '*' : ''} #{txt['p009.s1.orderSupplierReference.label']}"/>
            <br/><span class="text_name_input"></span>
        </div>
        <div class="table_input">
            <h:inputText styleClass="inputSimple t_input orderSupplierReferenceClass"  
                         style="width: 70%;"
                         autocomplete="#{false}"
                         id="orderSupplierReferenceId"
                         value="#{pageManagerBean.beansMap['9'].orderSupplierReference}"
                         />
        </div>
    </div>
    <div class="row_table_input">
        <div class="name_input">  
            <h:outputText value="#{not empty attributeRequired['p009.s1.designation'] ? '*' : ''} #{txt['p009.s1.designation.label']}"/>
            <br/><span class="text_name_input"></span>
        </div>
        <div class="table_input">
            <h:inputText styleClass="inputSimple t_input designationClass"  
                         style="width: 70%;"
                         autocomplete="#{false}"
                         id="referenceId"
                         value="#{pageManagerBean.beansMap['9'].designation}"
                         />
            <h:inputHidden value="#{pageManagerBean.beansMap['9'].designationHidden}" id="designationHiddenId" />
        </div>

    </div>

    <ms:myStockComboBox itemCode="p009.s1.supplier"
                        beanProperty="#{pageManagerBean.beansMap['9'].supplier}"
                        beanList="#{pageManagerBean.beansMap['9'].supplierItems}" />

    <div class="box_btn">

        <h:commandButton  styleClass="btn btn_blue" 
                          value="#{txt['globals.forms.search.label']}">

            <f:ajax execute="@form"
                    event="action"
                    render="@form"
                    listener="#{pageManagerBean.beansMap['9'].search}"/>

        </h:commandButton>

    </div>


    <h:dataTable value="#{pageManagerBean.beansMap['9'].vSmProductNotReceivedList}" var="o"
                 styleClass="table_info dataTable"
                 id="dataTableCustomerId" >

        <h:column >
            <f:facet name="header">#{txt['p009.s2.reference.label']}</f:facet>
            <h:outputText value="#{o.productReference}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p009.s2.designation.label']}</f:facet>
            <h:outputText value="#{o.productDesignation}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p009.s2.qteCommanded.label']}</f:facet>
            <h:outputText value="#{o.qteCommanded}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p009.s2.qteRecieved.label']}</f:facet>
            <h:outputText value="#{o.qteRecieved}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p009.s2.orderSupplierReference.label']}</f:facet>
            <h:outputText value="#{o.orderSupplierReference}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p009.s2.supplierCompanyName.label']}</f:facet>
            <h:outputText value="#{o.supplierCompanyName}" />
        </h:column>

    </h:dataTable>

</div>

