<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

    <script>

        $(function () {
            autoCompate('.designationClass', '#compositionFormId\\:pDesignationHiddenId', 'vSmProductLikeDesignation', clearIds, updateTotalTtcFunc);
            autoCompate('.referenceClass', '#compositionFormId\\:pReferenceHiddenId', 'vSmProductLikeReference', clearIds, updateTotalTtcFunc);

        });

        function clearIds() {
            $('#compositionFormId\\:pDesignationHiddenId').val("");
            $('#compositionFormId\\:pReferenceHiddenId').val("");
        }
        function updateTotalTtcFunc() {
            $('.updateTotalTtcClass').click();
        }

    </script>

    <h:commandButton value="call updateTotalTtc"
                     styleClass="updateTotalTtcClass"
                     style="display: none;">
        <f:ajax execute="@form" 
                event="click" 
                render="pReferenceId pReferenceHiddenId pDesignationId pDesignationHiddenId pUnitPriceId pQuantityId pTotalHtId" 
                listener="#{pageManagerBean.beansMap['36'].findProduct}"/>
    </h:commandButton> 

    <h:panelGroup rendered="#{!pageManagerBean.beansMap['36'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text"><h:outputText value="#{txt['p036.s1.title']}" /></span>

            <h:commandButton  styleClass="btn btn_red btn"  style="padding: 2px 20px; float: right;"
                              value="Imprimer">
                <f:ajax event="click"
                        listener="#{pageManagerBean.beansMap['36'].printAllReception}"/>
            </h:commandButton>
            
        </div>

        <h:dataTable value="#{pageManagerBean.beansMap['36'].vSmReceptionList}" var="o"
                     styleClass="table_info dataTable"
                     id="dataTableReceptionId"
                     rendered="#{empty attributeHidden['p036.s1']}" >

            <h:column rendered="#{empty attributeHidden['p036.s1.noSeq']}">
                <f:facet name="header">#{txt['p036.s1.noSeq.label']}</f:facet>
                <h:outputText value="#{o.noSeq}" />
            </h:column> 

            <h:column rendered="#{empty attributeHidden['p036.s1.reference']}">
                <f:facet name="header">#{txt['p036.s1.reference.label']}</f:facet>
                <h:outputText value="#{o.reference}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p036.s1.supplierCompanyName']}">
                <f:facet name="header">#{txt['p036.s1.supplierCompanyName.label']}</f:facet>
                <h:outputText value="#{o.supplierCompanyName}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['.s1.totalHtTotal']}">
                <f:facet name="header">#{txt['p036.s1.totalHtTotal.label']}</f:facet>
                <h:outputText value="#{o.totalHorsTaxe} #{ms:getCurrency()}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p036.s1.totalTtcTotal']}">
                <f:facet name="header">#{txt['p036.s1.totalTtcTotal.label']}</f:facet>
                <h:outputText value="#{o.totalTtc} #{ms:getCurrency()}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p036.s1.sumProduct']}">
                <f:facet name="header">#{txt['p036.s1.sumProduct.label']}</f:facet>
                <h:outputText value="#{o.sumProduct}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p036.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{empty attributeHidden['p036.s1.editReception']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="receptionId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['36'].editReception}"/>
                </h:commandLink>
                <h:outputText value="&#160;&#160;&#160;&#160;" />

                <h:commandLink  onclick="return confirmDelete();" rendered="#{empty attributeHidden['p036.s1.deleteReception']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="receptionId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['36'].deletePartial}"/>
                </h:commandLink>
            </h:column>
        </h:dataTable>

        <div class="box_btn">

        </div>

    </h:panelGroup>
    <h:panelGroup rendered="#{pageManagerBean.beansMap['36'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text"><h:outputText value="#{txt['p036.s2.title']}" /></span>

            <h:commandButton  styleClass="btn btn_red btn"  style="padding: 2px 20px; float: right;"
                              value="Imprimer">
                <f:ajax event="click"
                        listener="#{pageManagerBean.beansMap['36'].printReception}"/>
            </h:commandButton>
           
            
        </div>

        <div class="clear"></div>
        <div class="row_table_input">
            <div class="name_input">
                <h:outputText value="#{not empty attributeRequired['p036.s2.reference'] ? '*' : ''} #{txt['p036.s2.reference.label']}"/>
                <br/><span class="text_name_input"></span>
            </div>
            <div class="table_input">
                <h:inputText styleClass="inputSimple t_input"  
                             style="width: 36%;"
                             id="referenceId"
                             value="#{pageManagerBean.beansMap['36'].reference}"
                             readonly="#{!(pageManagerBean.beansMap['36'].receptionId  eq null)}"
                             />
            </div>
        </div>
        <ms:myStockComboBox itemCode="p032.s2.supplier"
                            beanProperty="#{pageManagerBean.beansMap['36'].supplier}"
                            beanList="#{pageManagerBean.beansMap['36'].supplierList}" />

        <ms:myStockTextArea itemCode="p032.s2.note"
                            beanProperty="#{pageManagerBean.beansMap['36'].note}" />

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" 
                              value="#{txt['p036.s2.save.label']}">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.savePartial}"/>
            </h:commandButton>


            <h:commandButton rendered="#{pageManagerBean.beansMap['36'].receptionId != null}"  
                             styleClass="btn btn_blue" 
                             value="#{txt['p036.s2.validate.label']}">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['36'].validateReception}"/>
            </h:commandButton>

            <h:commandButton  styleClass="btn btn_red" 
                              value="#{txt['p036.s2.return.label']}">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['36'].cancelReception}"/>
            </h:commandButton>


        </div>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p036.s3.title']}</span>
        </div>
        <div class="clear"></div>


        <h:panelGroup id="productGroupId">

            <h:dataTable styleClass="table_info"
                         id="vSmReceptionProductsListId"
                         value="#{pageManagerBean.beansMap['36'].vSmReceptionLineList}" 
                         var="o">
                <h:column>
                    <f:facet name="header" >#{txt['p036.s3.reference.label']}</f:facet>
                    <h:outputText value="#{o.reference}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p036.s3.designation.label']}</f:facet>
                    <h:outputText value="#{o.designation}" />
                </h:column>  
                <h:column>
                    <f:facet name="header" >#{txt['p036.s3.unitPriceBuy.label']}</f:facet>
                    <h:outputText value="#{o.unitPriceBuy} #{ms:getCurrency()}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p036.s3.quantity.label']}</f:facet>
                    <h:outputText value="#{o.quantity}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p036.s3.totalHt.label']}</f:facet>
                    <h:outputText value="#{o.totalPriceBuy} #{ms:getCurrency()}" />
                </h:column>

                <h:column>
                    <f:facet name="header" ><h:outputText value="#{txt['globals.list.option.label']}" /></f:facet>

                    <h:commandLink >
                        <h:graphicImage  alt="#{txt['globals.list.edit.label']}"  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="20" height="20"  />
                        <f:attribute name="smReceptionLineId" value="#{o.id}" />

                        <f:ajax execute="@this" event="click" 
                                render="compositionFormId:pReferenceId compositionFormId:pReferenceHiddenId compositionFormId:pDesignationId compositionFormId:pDesignationHiddenId compositionFormId:pUnitPriceId compositionFormId:pQuantityId compositionFormId:pTotalHtId"
                                listener="#{pageManagerBean.beansMap['36'].editProduct}"/>

                    </h:commandLink>

                    <h:outputText value="&#160;&#160;&#160;&#160;" />

                    <h:commandLink  onclick="return confirmDelete();">
                        <h:graphicImage  alt="#{txt['globals.list.delete.label']}"  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="20" height="20"  />
                        <f:attribute name="smReceptionLineId" value="#{o.id}" />
                        <f:ajax execute="@this" event="click" render="compositionFormId:productGroupId" 
                                listener="#{pageManagerBean.beansMap['36'].deleteProduct}"/>
                    </h:commandLink>

                    <h:panelGroup rendered="#{pageManagerBean.beansMap['36'].smReceptionLineId  eq o.id}" >
                        <div style="display: none" id="activeRow" />
                    </h:panelGroup>
                </h:column>
            </h:dataTable>


            <h:panelGroup id="therid">
                <table class="table_info" style="width: 40%; float: right; margin:10px;">
                    <tr>
                        <th style="width: 50%;">#{txt['p036.s4.countProducts.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['36'].summaryTotalQuantity} articles"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p036.s4.totalPu.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['36'].summaryTotalHt} #{ms:getCurrency()}"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p036.s4.valueTva.label']}</th>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <th>#{txt['p036.s4.amountTva.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['36'].summaryTvaAmount} #{ms:getCurrency()}"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p036.s4.totalTtc.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['36'].summaryTotalTtc} #{ms:getCurrency()}"  /></td>
                    </tr>
                </table>
            </h:panelGroup>


            <div class="clear"></div>
            <div class="table_title">
                <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                <span class="table_title_text">#{txt['p036.s5.title']}</span>
            </div>
            <div class="clear"></div>

            <table class="table_info">
                <tr>
                    <th style="width: 15%;">#{txt['p036.s5.reference.label']}</th>
                    <th style="width: 40%;">#{txt['p036.s5.designation.label']}</th>
                    <th style="width: 16%;">#{txt['p036.s5.unitPriceBuy.label']}</th>
                    <th style="width: 8%;">#{txt['p036.s5.quantity.label']}</th>
                    <th style="width: 17%;">#{txt['p036.s5.totalHt.label']}</th>
                    <th style="width: auto">#{txt['globals.list.option.label']}</th>
                </tr>
                <tr>

                    <td style="padding: 1px;">

                        <h:inputText style="width: 100%;" styleClass="referenceClass" autocomplete="#{false}" value="#{pageManagerBean.beansMap['36'].pReference}" id="pReferenceId" >
                            
                        </h:inputText>
                        <h:inputHidden value="#{pageManagerBean.beansMap['36'].pReferenceHidden}" id="pReferenceHiddenId" >

                        </h:inputHidden>
                    </td>
                    <td  style="padding: 1px;">
                        <h:inputText style="width: 100%;"  styleClass="designationClass"  value="#{pageManagerBean.beansMap['36'].pDesignation}" id="pDesignationId" >
                            
                        </h:inputText>
                        <h:inputHidden value="#{pageManagerBean.beansMap['36'].pDesignationHidden}" id="pDesignationHiddenId" >

                        </h:inputHidden>
                    </td>

                    <td  style="padding: 1px;">
                        <h:inputText  style="width: 100%;" styleClass="" value="#{pageManagerBean.beansMap['36'].pUnitPrice}" id="pUnitPriceId" >
                            <f:ajax execute="@this" 
                                    event="keyup" 
                                    render="pQuantityId pTotalHtId" 
                                    listener="#{pageManagerBean.beansMap['36'].updateTotalTtc}"/>
                        </h:inputText>
                    </td>

                    <td  style="padding: 1px;">
                        <h:inputText style="width: 100%;" styleClass="" value="#{pageManagerBean.beansMap['36'].pQuantity}" id="pQuantityId">
                            <f:ajax execute="@this" 
                                    event="keyup" 
                                    render="pUnitPriceId pTotalHtId" 
                                    listener="#{pageManagerBean.beansMap['36'].updateTotalTtc}"/>
                        </h:inputText>
                    </td>
                    <td  style="padding: 1px;">
                        <h:inputText readonly="true" styleClass="" value="#{pageManagerBean.beansMap['36'].pTotalHt}" id="pTotalHtId" style="width: 100%;">
                        </h:inputText>

                    </td>


                    <td  style="padding: 1px;">
                        <h:commandLink>
                            <h:graphicImage  alt="#{txt['globals.list.add.label']}"  url="#{ms:getImages()}/plus.png" styleClass="image_save_edit" width="20" height="20"  />
                            <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['36'].saveProduct}"/>
                        </h:commandLink>
                        <h:outputText value="&#160;&#160;&#160;" />
                        <h:commandLink>
                            <h:graphicImage  alt="#{txt['globals.list.delete.label']}"  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="20" height="20" onclick='return confirmClean();'   />
                            <f:ajax execute="" 
                                    event="click" 
                                    listener="#{pageManagerBean.beansMap['36'].cleanProduct}"
                                    render="pReferenceId pReferenceHiddenId pDesignationId pDesignationHiddenId pUnitPriceId pQuantityId pTotalHtId"/>
                        </h:commandLink>
                    </td> 
                </tr>

            </table>
        </h:panelGroup>
    </h:panelGroup>

</div>

