<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">Changer un produit </span>
        </div>



        <div class="clear"></div>

        
</div>

