<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:ms="http://www.myStock.ma"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:components="http://xmlns.jcp.org/jsf/composite/components">

    <!-- Nature start  -->
    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['p051.s1.title']}</span>
    </div>


    <ms:myStockInputText itemCode="p051.s1.code"
                         readonly="true"
                         beanProperty="#{pageManagerBean.beansMap['51'].code}"/>

    <ms:myStockInputText itemCode="p051.s1.firstName"
                         beanProperty="#{pageManagerBean.beansMap['51'].firstName}"/>

    <ms:myStockInputText itemCode="p051.s1.lastName"
                         beanProperty="#{pageManagerBean.beansMap['51'].lastName}"/>

    <ms:myStockInputText itemCode="p051.s1.companyName"
                         beanProperty="#{pageManagerBean.beansMap['51'].companyName}"/>

    <components:contactManagement componentHelper="#{pageManagerBean.beansMap['51'].contactManagementComponent}"/>


    <div class="box_btn">

        <h:commandButton 
            rendered="#{ empty attributeExclud['globals.forms.save.label']}"
            styleClass="btn btn_blue " 
            value="#{txt['globals.forms.save.label']}" >
            <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.savePartial}"/>
        </h:commandButton>


    </div>

</div>

