<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:components="http://xmlns.jcp.org/jsf/composite/components">


    <script>
        jQuery(document).ready(function () {
            changeNature(#{pageManagerBean.beansMap['7'].nature});
        });
        function changeNature(nature) {
            if (nature == 1) {
                jQuery(".natureCompany").show();
                jQuery(".natureParticulier").hide();
            } else if (nature == 2) {
                jQuery(".natureCompany").hide();
                jQuery(".natureParticulier").show();
            }
        }
    </script>


    <h:panelGroup rendered="#{not pageManagerBean.beansMap['7'].showForm}"> 


        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p007.s1.title']}</span>
        </div>
        <br />
        <div class="clear"></div>

        <h:dataTable value="#{pageManagerBean.beansMap['7'].vSmCustomerList}" var="s"
                     styleClass="table_info dataTable"
                     id="dataTableCustomerId"
                     rendered="#{ empty attributeExclud['p007.s1']}" >

            <h:column>
                <f:facet name="header">#{txt['p007.s1.name.label']}</f:facet>

                <h:panelGroup rendered="#{s.isSociety eq 'Y'}" >
                    <h:outputText value="#{s.companyName}" />
                </h:panelGroup>

                <h:panelGroup rendered="#{s.isParticular eq 'Y'}" >
                    <h:outputText value="#{s.representative} #{s.firstName} #{s.lastName}" />
                </h:panelGroup>
            </h:column>

            <h:column rendered="#{false}">
                <f:facet name="header">#{txt['p007.s1.companyName.label']}</f:facet>
                <h:outputText value="#{s.companyName}" />
            </h:column>

            <h:column rendered="#{false}">
                <f:facet name="header">#{txt['p007.s1.name.label']}</f:facet>
                <h:outputText value="#{s.representative} #{s.firstName} #{s.lastName}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p007.s1.phone.label']}</f:facet>
                <h:outputText value="#{s.entityPhone}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p007.s1.email.label']}</f:facet>
                <h:outputText value="#{s.entityEmail}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p007.s1.type.label']}</f:facet>
                <h:outputText value="#{s.customerTypeName}" />
            </h:column>s

            <h:column>
                <f:facet name="header">#{txt['p007.s1.active.label']}</f:facet>
                <h:outputText value="#{ms:getTxtYesNo(s.active)}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['p007.s1.option']}">

                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['p007.s1.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['7'].edit}"/>
                    <f:attribute name="customerId" value="#{s.id}" />
                </h:commandLink>

                <h:panelGroup rendered="#{s.canBeDeleted eq 'Y'}" >
                    <h:commandLink onclick="return confirmDelete();"  >
                        <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['7'].deletePartial}"/>
                        <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="25" height="25" />
                        <f:attribute name="customerId" value="#{s.id}" />
                    </h:commandLink>
                </h:panelGroup>


            </h:column>
        </h:dataTable>

        <div class="box_btn">
            <h:commandButton 
                rendered="#{ empty attributeExclud['p007.s1.add']}"
                styleClass="btn btn_blue " 
                value="#{txt['globals.forms.add.label']}" >
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['7'].add}"/>
            </h:commandButton>


        </div>
    </h:panelGroup>


    <h:panelGroup id="addCustmerId" rendered="#{pageManagerBean.beansMap['7'].showForm}">

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p007.s2.title']}</span>
        </div>

        <!-- Nature start  -->

        <div class="row_table_input">
            <div class="name_input">
                <h:outputText value="#{txt['p007.s2.nature.label']}"/>
            </div>

            <div class="table_input" >
                <h:selectOneRadio style="display:inline;" 
                                  onclick="changeNature(this.value);"
                                  value="#{pageManagerBean.beansMap['7'].nature}" >
                    <f:selectItem itemValue="1" itemLabel="Société" />
                    <f:selectItem itemValue="2" itemLabel="Particulier" />
                </h:selectOneRadio>

            </div>
        </div>
        <!-- Nature End -->


        <ms:myStockInputText itemCode="p007.s2.firstName"
                             divClass="natureParticulier"
                             beanProperty="#{pageManagerBean.beansMap['7'].firstName}"/>

        <ms:myStockInputText itemCode="p007.s2.lastName"
                             divClass="natureParticulier"
                             beanProperty="#{pageManagerBean.beansMap['7'].lastName}"/>

        <ms:myStockInputText itemCode="p007.s2.companyName"
                             divClass="natureCompany"
                             beanProperty="#{pageManagerBean.beansMap['7'].company}"/>

        <ms:myStockInputText itemCode="p007.s2.representative"
                             divClass="natureCompany"
                             beanProperty="#{pageManagerBean.beansMap['7'].representative}"/>

        <ms:myStockInputText itemCode="p007.s2.shortLabel"
                             divClass="natureCompany"
                             beanProperty="#{pageManagerBean.beansMap['7'].shortLabel}"/>

        <ms:myStockTextArea itemCode="p007.s2.fullLabel"
                            divClass="natureCompany"
                            beanProperty="#{pageManagerBean.beansMap['7'].fullLabel}"/>

        <ms:myStockTextArea itemCode="p007.s2.note"
                            beanProperty="#{pageManagerBean.beansMap['7'].note}" />

        <ms:myStockComboBox itemCode="p007.s2.category"
                            beanProperty="#{pageManagerBean.beansMap['7'].category}"
                            beanList="#{pageManagerBean.beansMap['7'].customerCategoryItems}" />

        <ms:myStockComboBox itemCode="p007.s2.type"
                            beanProperty="#{pageManagerBean.beansMap['7'].type}"
                            beanList="#{pageManagerBean.beansMap['7'].customerTypeItems}" />


        <ms:myStockSelectOneRadio itemCode="p007.s2.active"
                                  beanProperty="#{pageManagerBean.beansMap['7'].active}"/>

        <h:panelGroup rendered="#{pageManagerBean.beansMap['7'].operation eq 'edit'}">
            <components:contactManagement componentHelper="#{pageManagerBean.beansMap['7'].contactManagementComponent}"/>
        </h:panelGroup>

        <div class="box_btn">

            <h:commandButton 
                rendered="#{ empty attributeExclud['p007.s2.save']}"
                styleClass="btn btn_blue " 
                value="Sauvegarder">
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.savePartial}"/>
            </h:commandButton>

            <h:commandButton 
                styleClass="btn btn_red " 
                value="#{txt['globals.forms.cancel.label']}" >
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['7'].cancelPartial}"/>
            </h:commandButton>


        </div>
    </h:panelGroup>


</div>

