<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     style="border: 1px solid red; margin:  10px;"
     >

    <center>
        
        <br />
        <br />
        
        <h2>
            Cette page est cours de developpement ...
            
        </h2>
        
        <br />
        
        <h4> à bientôt </h4>
        <br />
        <br />
    </center>
    
    
    
</div>

