<div xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
     xmlns:ms="http://www.myStock.ma">

    <div class="mainPdf">
        <br />
        <div class="titlePdf">
            #{txt['pdf002.s1.title']}  
        </div>
        <div style="float: right; margin: 40px;">
            <b>#{txt['pdf002.s1.the.label']}  #{ms:getSysDate()}</b> 
        </div>
         <br /> <br />

         <table class="keyValuePdf"> 
            <tr>
                <th>#{txt['pdf002.s1.reference.label']} : </th>
                <td>#{pdfManagerBean.selectedPdf.reference}</td>
            </tr>
            <tr>
                <th>#{txt['pdf002.s1.supplier.label']} : </th>
                <td>#{pdfManagerBean.selectedPdf.supplier}</td>
            </tr>
             <tr>
                <th>#{txt['pdf002.s1.status.label']} : </th>
                <td>#{pdfManagerBean.selectedPdf.status}</td>
            </tr>
        </table>

        <br /><br />

          
        
        <h:dataTable styleClass="tablePdf"
                     value="#{pdfManagerBean.selectedPdf.vSmOrderSupplierLineList}" 
                     var="o">
            <h:column>
                <f:facet name="header" >#{txt['pdf002.s2.reference.label']}</f:facet>
                <h:outputText value="#{o.reference}" />
            </h:column>
            
            <h:column>   
                <f:facet name="header" >#{txt['pdf002.s2.designation.label']}</f:facet>
                <h:outputText value="#{o.designation}" />
            </h:column>
            
            <h:column>
                <f:facet name="header" >#{txt['pdf002.s2.unitPriceBuy.label']}</f:facet>
                <h:outputText value="#{o.unitPriceSale} #{ms:getCurrency()}" />
            </h:column>
            
            <h:column>
                <f:facet name="header" >#{txt['pdf002.s2.quantity.label']}</f:facet>
                <h:outputText value="#{o.quantity}" />
            </h:column>
            
            <h:column>
                <f:facet name="header" >#{txt['pdf002.s2.totalHt.label']}</f:facet>
                <h:outputText value="#{o.totalPriceSale} #{ms:getCurrency()}" />
            </h:column>
            
        </h:dataTable>
        <br />
        <br />

        
        <table class="tableResumePdf" >
            <tr>
                <th style="width: 50%;">#{txt['pdf002.s3.quantity.label']}</th>
                <td><h:outputText value="#{pdfManagerBean.selectedPdf.summaryTotalQuantity} articles"  /></td>
            </tr>
            <tr>
                <th>#{txt['pdf002.s3.totalPu.label']}</th>
                <td><h:outputText value="#{pdfManagerBean.selectedPdf.summaryTotalHt} #{ms:getCurrency()}"  /></td>
            </tr>
            <tr>
                <th>#{txt['pdf002.s3.valueTva.label']}</th>
                <td><h:outputText value="20% %"  /></td>
            </tr>
            <tr>
                <th>#{txt['pdf002.s3.amountTva.label']}</th>
                <td><h:outputText value="#{pdfManagerBean.selectedPdf.summaryTvaAmount} #{ms:getCurrency()}"  /></td>
            </tr>
            <tr>
                <th>#{txt['pdf002.s3.totalTtc.label']}</th>
                <td><h:outputText value="#{pdfManagerBean.selectedPdf.summaryTotalTtc} #{ms:getCurrency()}"  /></td>
            </tr>
        </table>
        
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <fieldset style="width: 90%; margin: auto; padding: 10px;">
            <legend>#{txt['pdf002.s4.note.label']}</legend>
            #{pdfManagerBean.selectedPdf.note}
        </fieldset>
        <br/>
    </div>
    <div class="clear"></div>
    <br />
</div>