<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     >


    <style>
        .border_content{
            background: transparent url("http://envato.stammtec.de/themeforest/grape/img/container/main/main-bg.png") repeat-x scroll center top;
            margin-top: -14px;
            min-height: 434px;
            padding-top: 10px;
            position: relative;
        }
        </style>
        <br />
        <br/>

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">Rapports cotidiennet</span>
        </div>

        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['16'].vSmRapDailyList}" id="dataTableExepenseId" var="r"
                     styleClass="table_info dataTable" >

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Code</f:facet>
                <h:outputText value="#{r.orderLineId}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Réf</f:facet>
                <h:outputText value="#{r.reference}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Couleur</f:facet>
                <h:outputText value="#{r.productColorName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Taille</f:facet>
                <h:outputText value="#{r.productSizeName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Prix</f:facet>
                <h:outputText value="#{r.unitPriceBuy}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Qte</f:facet>
                <h:outputText value="#{r.quantity}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Total</f:facet>
                <h:outputText value="#{r.totalPriceBuy}" />
            </h:column>





            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Client</f:facet>
                <h:outputText value="#{r.clinetFirstName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Date de vente</f:facet>
                <h:outputText value="#{r.dateCreation}" />
            </h:column>


        </h:dataTable>

        <div class="box_btn">

            <h:commandButton 
                rendered="#{ empty attributeExclud['expense.s1.add']}"
                styleClass="btn btn_blue" 
                actionListener="#{pageManagerBean.beansMap['16'].save}" 
                value="#{txt['globals.forms.add.label']}" />

        </div>




    </div>

