<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ms="http://www.myStock.ma"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:form id="breadCrumbFormId">
        <nav class="line_fol">
            <ul>

                <li class="hidden_normal"><button class="btn_menu_show"><i class="fa fa-angle-left rt_180"></i></button></li>

                <c:forEach var="breadCrumb" items="#{breadCrumbBean.map}" >

                    <!-- 
                    <li class="hassA"><a href="#">BreadCrumb : #{breadCrumbBean.map[breadCrumb].label}</a></li>
                    -->

                </c:forEach>

                <li class="hassA" style="display: none;"><a href="#" onclick="if (confirmRedirect() === false)
                            return false;">Dossier 1</a></li>
                <li class="hassA" style="display: none;"><a href="#">Gestion des stocks</a></li>

                <li class="hassA">
                    <a href="#">Le dossier : #{breadCrumbBean.cltModuleName}  

                        <h:panelGroup rendered="#{applicationContent.isDebugEnabled}" >
                            (#{breadCrumbBean.cltModuleId})
                        </h:panelGroup>

                    </a>
                </li>


                <h:panelGroup rendered="#{not empty pageManagerBean.selectedMenu.name}" >
                    <li>#{pageManagerBean.selectedMenu.name}</li>
                </h:panelGroup>


            </ul>
        </nav>
    </h:form>

</ui:fragment>






