<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="compositionFormId" enctype="multipart/form-data" >

        <h:outputText value="#{pageManagerBean.beforeRequest}" />

        <div class="clear"></div>

        <article class="">

            <div id="notification">

                <h:panelGroup rendered="#{not empty pageManagerBean.errorMessages}" >

                    <div class="notification_Error notification"><!--_Error-->
                        <span class="close hide_Error"><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span>-->
                        <ul class="list_notification_Error">

                            <c:forEach items="#{pageManagerBean.errorMessages}" var="message">
                                <li>#{message.value}</li>

                            </c:forEach>
                        </ul>						
                    </div>

                </h:panelGroup>


                <h:panelGroup rendered="#{not empty pageManagerBean.infoMessages}" >

                    <div class="notification_Information notification"><!--_Error-->
                        <span class="close hide_Information"><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span>-->
                        <ul class="list_notification_Information">

                            <c:forEach items="#{pageManagerBean.infoMessages}" var="message">
                                <li>#{message.value}</li>

                            </c:forEach>
                        </ul>						
                    </div>

                </h:panelGroup>

                <h:panelGroup rendered="#{not empty pageManagerBean.worningMessages}" >

                    <div class="notification_Warning notification"><!--_Error-->
                        <span class="close hide_Warning"><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span>-->
                        <ul class="list_notification_Warning">

                            <c:forEach items="#{pageManagerBean.worningMessages}" var="message">
                                <li>#{message.value}</li>

                            </c:forEach>
                        </ul>						
                    </div>

                </h:panelGroup>


                <h:panelGroup rendered="#{not empty pageManagerBean.successMessages}" >

                    <div class="notification_Success notification"><!--_Error-->
                        <span class="close hide_Success"><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span>-->
                        <ul class="list_notification_Success">

                            <c:forEach items="#{pageManagerBean.successMessages}" var="message">
                                <li>#{message.value}</li>

                            </c:forEach>
                        </ul>						
                    </div>

                </h:panelGroup>



                <h:panelGroup rendered="#{not empty pageManagerBean.noteMessages}" >

                    <div class="notification_Note notification"><!--_Error-->
                        <span class="close hide_Note"><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span>-->
                        <ul class="list_notification_Note">

                            <c:forEach items="#{pageManagerBean.noteMessages}" var="message">
                                <li>#{message.value}</li>

                            </c:forEach>
                        </ul>						
                    </div>

                </h:panelGroup>


                <h:panelGroup rendered="#{pageManagerBean.showSavedSuccess}" >
                    <div class="notification_Success notification"><!-- _Success -->
                        <span class="close hide_Success" ><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span> -->
                        <ul class="list_notification_Success">
                            <li>Sauvegarde réussie.</li>
                        </ul>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{pageManagerBean.showDeleteSuccess}" >
                    <div class="notification_Success notification"><!-- _Success -->
                        <span class="close hide_Success" ><b>x</b></span>
                        <!--<span >Lorem ipsum dolor sit amet.</span> -->
                        <ul class="list_notification_Success">
                            <li>suppression réussie.</li>
                        </ul>
                    </div>
                </h:panelGroup>
            </div>
        </article>
        
        
        <script>
                /*
                NProgress.configure({showSpinner: true});
                NProgress.start();
                NProgress.inc();
                $('#nprogress .bar').css({'background': '#d7d7d7', 'height':'5px'});
                $('#nprogress .peg').css({'box-shadow': '0 0 10px #inc, 0 0 3px #inc'});
                $('#nprogress .spinner-icon').css({'border-top-color': '#d7d7d7', 'border-left-color': '#d7d7d7'});
                */
        </script>
        
        <h:panelGroup rendered="#{pageManagerBean.showDashboard}" >

            <ui:include src="/widgets.xhtml"/>
    
        </h:panelGroup>

        <h:panelGroup rendered="#{!pageManagerBean.showDashboard}" >
            <c:forEach items="#{pageManagerBean.selectedMenu.vPmPagesDtoList}" var="pg">
                <div class="clear"></div>
                
                <h:panelGroup rendered="#{applicationContent.isDebugEnabled}" >
                    <h4 style="text-align: center;">#{pg.id} - #{pg.name}</h4>
                </h:panelGroup>
                
                <ui:include src="/compositions/pages/#{pg.jsp}"/><br />
                <div class="clear"></div>

            </c:forEach>
        </h:panelGroup>

        <h:outputText value="#{pageManagerBean.afterRequest}" />

        <ui:include src="/templates/ressourcesFooter.xhtml"/>
        
        <script>
                //NProgress.done();
                nProgressDone();
        </script>
    </h:form>

</ui:fragment>

