<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="footerHeader">

        <footer>
            <ul>
                <li><a href="module.xhtml">Module</a></li>
                <li onclick="if (confirmRedirect() === false) return false;"><a href="#">Profile</a></li>
                <li><a href="#">Paramétre</a></li>
                <li><a href="#{ms:getContextPath()}/servlet/logout">Déconnexion</a></li>
            </ul>
            <ul>
                <li>Version : <a href="#">#{config['7']}</a></li>
                <li>Licence :  <a href="#">#{paramClient['10']}</a></li>
            </ul>
            <br/>
            <div class="clear"></div>
            <div class="box_copyright"><span id="fot">#{config['2']} <a href="#{config['5']}" target="_balnk" class="Copyright">#{config['3']}</a></span></div>
        </footer>

    </h:form>

</ui:fragment>
