<ui:fragment xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:f="http://xmlns.jcp.org/jsf/core"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="headerFormId">

        <div class="header_s">

            <img src="#{ms:getData()}/images/#{ms:getSession('CLT_USER_IMAGE_PATH')}?var=#{ms:getRandomValue()}" class="user_image" />

            <div class="formation">	
                <div class="form"><h1></h1>
                    <span class="welcom">Welcom: </span><span class="name"> #{ms:getSession('CLT_USER_FULL_NAME')}</span>
                </div>
                <div class="form">
                    <span class="Statut">Compte: </span><span class="statuts">#{ms:getSession('CLT_USER_USERNAME')}</span>
                </div>
            </div>
            
            <a href="#" class="hid_menu fa fa-bars hid_menu" onclick="myFunction()"  ></a>
            
            <div id="myDropdown"   class="menu">
                <ul>

                    <c:forEach var="menu" items="#{pageManagerBean.pagesHeader}" >
                        <li style="">
                            <h:commandLink  action="#{pageManagerBean.onSelectMenu()}" onclick="nProgressStart(); if (confirmRedirect() === false)
                                        return false;" immediate="true" >
                                <figure class="#{pageManagerBean.selectedMenu.id == menu.id ? 'active100' : ''}">
                                    <i aria-hidden="true" class="fa fa-user"></i>
                                    <figcaption>#{menu.name} </figcaption>
                                </figure>
                                <f:param name="menuId" value="#{menu.id}" />
                                <f:setPropertyActionListener value="#{menu}" target="#{pageManagerBean.selectedMenu}" />
                                <f:ajax render="compositionFormId" />
                            </h:commandLink>
                        </li>
                    </c:forEach>

                    <li style="display: none;">
                        <a href="#{ms:getContextPath()}/servlet/refreshContextListener?username=user&amp;password=pass">
                            <figure>
                                <i aria-hidden="true" class="fa fa-bell-o"></i>
                                <figcaption>Vider le cache</figcaption>
                            </figure>
                        </a>
                    </li>

                    <li style="display: none;">
                        <a href="#">
                            <figure>
                                <i aria-hidden="true" class="fa fa-bell-o"></i>
                                <figcaption>Utilitaie</figcaption>
                            </figure>
                        </a>
                    </li>
                    <li style="display: none;">
                        <a href="#" onclick="if (confirmRedirect() === false) eturn false;">
                            <figure>
                                <i aria-hidden="true" class="fa fa-bell-o"></i>
                                <figcaption>Profile</figcaption>
                            </figure>
                        </a>
                    </li>
                    <li style="display: none;">
                        <a href="#">
                            <figure>
                                <i aria-hidden="true" class="fa fa-bell-o"></i>
                                <figcaption>Message</figcaption>
                                <span href="#" class="n_m">5</span>
                            </figure> 
                        </a>
                    </li>
                    <li>
                        <a href="#{ms:getContextPath()}/module.xhtml">
                            <figure>
                                <i aria-hidden="true" class="fa fa-folder-open-o"></i>
                                <figcaption>Module</figcaption>
                            </figure>
                        </a>
                    </li>
                    <li>
                        <a href="#{ms:getContextPath()}/servlet/logout">
                            <figure>
                                <i aria-hidden="true" class="fa fa-sign-out"></i>
                                <figcaption>Logout</figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ms">
                <ul>
                    <li class="title_all_ms">Your messages</li>
                    <li class="ms_close ms_color"><span class="time">10:30 PM </span><span class="title_ms">From Abdessamad HALLAL</span><br /><span class="cont_ms">Hello!! how are you doing my best..</span></li>
                    <li class="ms_close ms_color"><span class="time">10:30 PM </span><span class="title_ms">From Abdessamad HALLAL</span><br /><span class="cont_ms">Hello!! how are you doing my best..</span></li>
                    <li class="ms_open ms_color"><span class="time">10:30 PM </span><span class="title_ms">From Abdessamad HALLAL</span><br /><span class="cont_ms">Hello!! how are you doing my best..</span></li>
                    <li class="goto"><input type="submit" value="Go To inbox" class=""/></li>
                </ul>
            </div>
        </div>
    </h:form>

</ui:fragment>

