<ui:fragment xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:f="http://xmlns.jcp.org/jsf/core"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="menuFormId">

        <aside class="content_admin">
            <nav class="asiad_bar">
                <div class="dashboard">

                    

                    <h:commandLink 
                        onclick="nProgressStart();"
                        actionListener="#{pageManagerBean.goToDashBoard}" 
                        styleClass="title_cat"
                        >
                        <img src="#{ms:getImages()}/dashboard.png" width="18" height="18" />
                        <span>Dashboard</span>
                        <f:ajax render="compositionFormId" />
                    </h:commandLink>

                    <div class="slid_l_r">
                        
                        <button class="btn_menu_show" onclick="return false;" ><i class="fa fa-angle-left"></i></button>
                        
                        <!--
                        <a href="#"><img src="#{ms:getImages()}/prec.png" width="12" height="12" class="prec" /></a>
                        <a href="#"><img src="#{ms:getImages()}/suiv.png" width="12" height="12" class="suiv" /></a>
                        -->
                    </div>
                </div>
                <div class="clear"></div>

                
                <!-- <div id="dl-menu"  class="dl-menuwrapper"> -->


                    <!--
                    <button class="dl-trigger"><img src="#{ms:getImages()}/menu_1.png" class="menu_slaid" />Menu</button>
                    -->



                    <ul class="list_menu">

                        <!--
                            src="#{ms:getImages()}/fill.png"
                            url="#{ms:getImages()}/table_min.png"
                        -->
                        <c:forEach var="category" items="#{pageManagerBean.pagesPrincipal}" >

                            <li>
                                <div class="list_title">
                                    <div href="#" class="text_title">
                                        <figure >	
                                            <img  width="30" height="25" src="#{ms:getData()}/images/#{category.imagePath}?var=#{ms:getRandomValue()}" />
                                            <figcaption>
                                                
                                                <h:panelGroup rendered="#{applicationContent.isDebugEnabled}" >
                                                    #{category.id}-
                                                </h:panelGroup>
                    
                                                    #{category.name}
                                            </figcaption>
                                        
                                        </figure>
                                    </div>

                                    <div class="box_title_nenu">
                                        <div class="clear"></div>
                                    </div>

                                </div>
                                <ul class="">  
                                    <c:forEach var="menu" items="#{category.vPmMenusDtoList}" >

                                        <li class="list_min">
                                            <h:commandLink onclick="nProgressStart(); if (confirmRedirect() === false)
                                                        return false;"  action="#{pageManagerBean.onSelectMenu()}" styleClass="value_list" immediate="true" >
                                                <figure>
                                                    <h:graphicImage  alt=""  width="30" height="25"  url="#{ms:getData()}/images/#{menu.imagePath}?var=#{ms:getRandomValue()}" styleClass="image_save_edit"  />
                                                    <figcaption style="#{pageManagerBean.selectedMenu.id == menu.id ? 'font-weight: bold100;' : ''} " >
                                                            <h:panelGroup rendered="#{applicationContent.isDebugEnabled}" >
                                                                #{menu.id}-
                                                            </h:panelGroup>
                                                            #{menu.name}
                                                    </figcaption>
                                                </figure>
                                                <f:param name="menuId" value="#{menu.id}" />
                                                <f:setPropertyActionListener value="#{menu}" target="#{pageManagerBean.selectedMenu}" />
                                                <f:ajax render="compositionFormId" />
                                            </h:commandLink>
                                        </li>        

                                    </c:forEach>

                                </ul>
                            </li>
                        </c:forEach>

                    </ul>
                <!-- </div> -->
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </aside>
        <div class="clear"></div>

    </h:form>
</ui:fragment>

