<ui:fragment xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:ms="http://www.myStock.ma"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <script type="text/javascript">
        applyDataTable();
    </script>
    <!--
    <script type="text/javascript">
        /*    
         try {
         $('.datetimepicker').datetimepicker({lang: 'fr'});
         } catch (e) {
         }
         
         try {
         $('.datepicker').datetimepicker({
         lang: 'fr',
         timepicker: false,
         format: 'd/m/Y',
         formatDate: 'Y/m/d'
         });
         
         } catch (e) {
         }
         */
        applyDataTable();
    </script>
    -->
    <script src="#{ms:getJs()}/myStock.js?var=#{ms:getRandomValue()}"></script>
    <script>

        jQuery(document).ready(function () {

            var activeRow = jQuery("#activeRow");

            if (activeRow !== null) {

                var coChildTd = jQuery(activeRow).parent().parent().children();

                for (i = 0; i&lt; coChildTd.length; i++)
                        jQuery(coChildTd[i]).addClass('actifRow');
            }

        });

    </script>





    <script src="#{ms:getJs()}/jquery.countTo.js"></script>
    <script type="text/javascript">
        $('.timercountTo').countTo({
            from: 0,
            speed: 1000,
            refreshInterval: 50
        });
    </script>


    <script src="#{ms:getJs()}/select2.min.js" ></script>

    <script src="#{ms:getJs()}/script.js" ></script>
    <script>
        $(document).ready(function () {

            $(".hide_Success").click(function () {
                $(".notification_Success").fadeOut();
            });

            $(".hide_Error").click(function () {
                $(".notification_Error").fadeOut();
            });

            $(".hide_Warning").click(function () {
                $(".notification_Warning").fadeOut();
            });

            $(".hide_Information").click(function () {
                $(".notification_Information").fadeOut();
            });

            $(".hide_Note").click(function () {
                $(".notification_Note").fadeOut();
            });

            $(".n_m").click(function () {
                $(".ms").slideToggle();
            });

            /**************** scroll  ****************/
            $(window).scroll(function () {

                //console.log($(this).scrollTop());

                if ($(this).scrollTop() >= 300)
                {
                    $(".up").show();
                } else
                {
                    $(".up").hide();
                }

            });

            $(".up").click(function ()
            {
                $("html,body").animate({scrollTop: 0}, 600);
            });

        });
    </script>


    <!--
            <script>
        // script of tab 
                    if($(window).width() > 768){

            // Hide all but first tab content on larger viewports
            $('.accordion__content:not(:first)').hide();

            // Activate first tab
            $('.accordion__title:first-child').addClass('active');

            } else {

            // Hide all content items on narrow viewports
            $('.accordion__content').hide();
            };

            // Wrap a div around content to create a scrolling container which we're going to use on narrow viewports
            $( ".accordion__content" ).wrapInner( "<div class='overflow-scrolling'></div>" );

            // The clicking action
            $('.accordion__title').on('click', function() {
            $('.accordion__content').hide();
            $(this).next().show().prev().addClass('active').siblings().removeClass('active');
                    });

            </script>
    
    -->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".op-r").select2({
                language: "fr",
                theme: "classic"
            });

            $(".op-a").select2({
                language: "fr",
                maximumSelectionLength: 2,
                placeholder: "placeholder"
            });


            $(".op-f").select2({
                language: "fr",
                maximumSelectionLength: 2,
                placeholder: "placeholder",
                closeOnSelect: false
            });


            $(".op-x").select2({
                minimumResultsForSearch: Infinity
            });

            $(".op-w").select2({
                tags: true
            });
        });

    </script>

</ui:fragment>

