<ui:fragment xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ms="http://www.myStock.ma"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <meta charset="UTF-8" />

    <!-- for more : http://noarchive.net/meta/-->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="robots" content="noarchive" />
    
    <!-- IE Compability -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    
    <!-- First mobile meat -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!--  favicon -->
    <link rel="shortcut icon" href="#{ms:getImages()}/icons1.ico?var=#{ms:getRandomValue()}" />

    <!-- jQuery Intégration -->

    <!--
    <h:outputScript library="primefaces" name="jquery/jquery11.js" target="head" />
    <h:outputScript library="primefaces" name="jquery/jquery-plugins11.js" target="head" />
    -->
    
    <h:outputScript library="resources"  name="jquery/jquery-2.1.4.min.js?var=#{ms:getRandomValue()}" />
    <h:outputScript library="resources"  name="scripts/autoComplate.js?var=#{ms:getRandomValue()}" />


    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- to delete 
        <meta name="viewport" content="width=device-width" />
    -->
    
    <!-- Style generale -->
    <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/style.css?var=#{ms:getRandomValue()}" />
    
     <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/select2.min.css" />  
    <!-- Font awesome -->
    <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/component.css" />
        
    <!-- ##### to delete
    responsive designe
    <link rel="stylesheet" type="text/css" media="screen and (min-width:800px)" href="#{ms:getCss()}/normal.css?var=#{ms:getRandomValue()}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width:800px) and (min-width:500px)" href="#{ms:getCss()}/ipad.css?var=#{ms:getRandomValue()}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-width:500px)" href="#{ms:getCss()}/phone.css?var=#{ms:getRandomValue()}" />
     -->
     
    <!-- Datatable-->
    <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/jquery.dataTables.css?var=#{ms:getRandomValue()}" />

    <!-- Date time picker -->
    <script type="text/javascript" src="#{ms:getJs()}/datetimepicker/jquery.datepicker-en.js"></script>
    <script type="text/javascript" src="#{ms:getJs()}/datetimepicker/jquery.datepicker-fr.js"></script>
    <script type="text/javascript" src="#{ms:getJs()}/datetimepicker/jquery.ui.timepicker.addon-fr.js"></script>

    <script src="#{ms:getJs()}/jquery.dataTables.js?var=#{ms:getRandomValue()}"></script>
    <script src="#{ms:getJs()}/modernizr.custom.js?var=#{ms:getRandomValue()}"></script>
    <script src="#{ms:getJs()}/jquery.dlmenu.js?var=#{ms:getRandomValue()}"></script>
    <script src="#{ms:getJs()}/format.js?var=#{ms:getRandomValue()}"></script>

    <!-- Progress Bar -->
    <!-- 
        ref : http://techably.com/demo/nprogress/
              https://github.com/rstacruz/nprogress
              http://ricostacruz.com/nprogress/
    -->

    <script src='#{ms:getFramework()}/nprogress-0.2.0/nprogress.js'></script>
    <link rel='stylesheet' href='#{ms:getFramework()}/nprogress-0.2.0/nprogress.css'/>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    <script>
        $(document).ready(function () {
            //NProgress.start();
            //NProgress.inc();
            //$('#nprogress .bar').css({'background': '#d7d7d7', 'height':'5px'});
            //$('#nprogress .peg').css({'box-shadow': '0 0 10px #inc, 0 0 3px #inc'});
            //$('#nprogress .spinner-icon').css({'border-top-color': '#d7d7d7', 'border-left-color': '#d7d7d7'});
            //NProgress.done();
        });

        function nProgressStart() {
            NProgress.configure({showSpinner: true});
            NProgress.start();
            NProgress.set(0.2);
            NProgress.inc(0.2);
            $('#nprogress .bar').css({'background': '#d7d7d7', 'height': '5px'});
            $('#nprogress .peg').css({'box-shadow': '0 0 10px #inc, 0 0 3px #inc'});
            $('#nprogress .spinner-icon').css({'border-top-color': '#d7d7d7', 'border-left-color': '#d7d7d7'});
        }

        function nProgressDone() {
            NProgress.done();
        }
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <!-- 
    http://fortawesome.github.io/Font-Awesome/examples/ 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
     
    
    -->
    <style>
        .ui-autocomplete-loading {
            background: white url("#{ms:getImages()}/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>
    <script>
        $(function () {
            /*
             $('#dl-menu').dlmenu();
             
             $(".n_m").click(function () {
             $(".ms").slideToggle();
             });
             
             $(".hid_menu").click(function () {
             $(".menu").slideToggle(300);
             });
             */
            registerChanged();
            setChangedToFalse();
        });
    </script>


    <script>
        var changed = 'false';

        function setChangedToFalse() {
            changed = 'false';
        }
        function setChangeToTrue() {
            changed = 'true';
        }
        function registerChanged() {
            $(":input").change(function () {
                changed = 'true';
            });

            $("textarea").change(function () {
                changed = 'true';
            });
        }
        function confirmRedirect() {
            if (changed === 'true') {
                return true; //confirm('Vous avez fait des changements dans le form, êtes vous sur de vouloir changer la page ? ');
            } else {
                return true;
            }
        }

        function confirmDelete() {

            return confirm('#{txt["globals.list.confirmDelete.label"]}');

        }

        function confirmClean() {

            return confirm('#{txt["globals.forms.confirmClean.label"]}');

        }

    </script>

    <script>
        $(document).ready(function () {

            $(".hide_Success").click(function () {
                $(".notification_Success").fadeOut();
            });

            $(".hide_Error").click(function () {
                $(".notification_Error").fadeOut();
            });

            $(".hide_Warning").click(function () {
                $(".notification_Warning").fadeOut();
            });

            $(".hide_Information").click(function () {
                $(".notification_Information").fadeOut();
            });

            $(".hide_Note").click(function () {
                $(".notification_Note").fadeOut();
            });
        });



    </script>



    <script type="text/javascript">
        function applyDataTable() {
            $(document).ready(function () {
                $('.dataTable').DataTable();
            });
        }
        applyDataTable();

        // Affiche le bouton UP 
        $(document).ready(function () {
            $(window).scroll(function () {

                if ($(this).scrollTop() >= 100) {
                    $(".up").show();
                } else {
                    $(".up").hide();
                }
            });

            $(".up").click(function () {
                $("html,body").animate({scrollTop: 0}, 600);
            });

        });


    </script>


    <div class="loading-overlay"></div>
    <div class="loading">
        <span>Loading...</span>
    </div>

</ui:fragment>

