<ui:fragment xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:f="http://xmlns.jcp.org/jsf/core"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:form id="subHeaderFormId">

        <div class="content_header">

            <h:commandLink 
                onclick="nProgressStart();"
                actionListener="#{pageManagerBean.goToDashBoard}" 
                styleClass="value_list" 
                immediate="true" >
                
                <h:graphicImage  alt="" 
                                 url="#{ms:getImages()}/logo_gs.png?var=#{ms:getRandomValue()}" 
                                 styleClass="img_logo"  />
                <f:ajax render="compositionFormId" />
            </h:commandLink>

            
            <div class="buttons">
                <ul>
                    
                    <c:forEach var="menu" items="#{pageManagerBean.pagesSubHeader}" >
                        <li>
                            <h:commandLink  action="#{pageManagerBean.onSelectMenu()}" onclick="nProgressStart(); if (confirmRedirect() === false)
                                        return false;" immediate="true" >

                                <figure 
                                    class="#{pageManagerBean.selectedMenu.id == menu.id ? 'active100' : ''}"
                                    style="#{pageManagerBean.selectedMenu.id == menu.id ? 'font-weight: bold100;' : ''}">

                                    <img src="#{ms:getData()}/images/#{menu.imagePath}?var=#{ms:getRandomValue()}" width="40" height="40" />
                                    <figcaption>#{menu.name} </figcaption>
                                </figure>

                                <f:param name="menuId" value="#{menu.id}" />
                                <f:setPropertyActionListener value="#{menu}" target="#{pageManagerBean.selectedMenu}" />
                                <f:ajax render="compositionFormId" />
                            </h:commandLink>
                        </li>
                    </c:forEach>
                </ul>	
            </div>
        </div>

        <div class="clear"></div>
    </h:form>
</ui:fragment>

