<!DOCTYPE html >
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">

    <h:head>
        <title>
            
            Saas212 :  Gérez vos activités en ligne
            
        </title>
        <ui:include src="/templates/ressources.xhtml"/>
    </h:head>

    <h:body >



            <header>
                <ui:include src="/templates/header.xhtml"/>
                <div class="clear"></div>
                <ui:include src="/templates/subHeader.xhtml"/>
            </header> 
            
            <div class="all_cont">
                <ui:insert name="menu"/>


                <section class="section_inedx">

                    <div class="border_content">
                        <ui:insert name="breadCrumb"/>
                        <ui:insert name="content"/>

                        <div class="width_px"></div>
                    </div>
                </section>
            </div>

            <div class="clear"></div>

            <ui:include src="/templates/footer.xhtml"/>

            <span href="" class="up">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </span>
            <script>
                $(".loading-overlay").fadeOut("slow");
                $(".loading").fadeOut("slow");
            </script>
            
    </h:body>

</html>
