<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

    <h:panelGroup rendered="#{!pageManagerBean.beansMap['40'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text"><h:outputText value="#{txt['p038.s1.title']}" /></span>

            <h:commandButton  styleClass="btn btn_red btn"  style="padding: 2px 20px; float: right;"
                              value="Imprimer">
                <f:ajax event="click"
                        listener="#{pageManagerBean.beansMap['40'].printAllOrder}"/>
            </h:commandButton>
         
            
        </div>

        <h:dataTable value="#{pageManagerBean.beansMap['40'].vSmOrderList}" var="o"
                     styleClass="table_info dataTable"
                     id="dataTableReceptionId"
                     rendered="#{empty attributeHidden['p038.s1']}" >

            <h:column rendered="#{empty attributeHidden['p038.s1.noSeq']}">
                <f:facet name="header">#{txt['p038.s1.noSeq.label']}</f:facet>
                <h:outputText value="#{o.noSeq}" />
            </h:column> 

            <h:column rendered="#{empty attributeHidden['p038.s1.reference']}">
                <f:facet name="header">#{txt['p038.s1.reference.label']}</f:facet>
                <h:outputText value="#{o.reference}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p038.s1.supplierCompanyName']}">
                <f:facet name="header">#{txt['p038.s1.supplierCompanyName.label']}</f:facet>
                <h:outputText value="#{o.customerCompanyName}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p038.s1.totalHtTotal']}">
                <f:facet name="header">#{txt['p038.s1.totalHtTotal.label']}</f:facet>
                <h:outputText value="#{o.totalHorsTaxe} #{ms:getCurrency()}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p038.s1.totalTtcTotal']}">
                <f:facet name="header">#{txt['p038.s1.totalTtcTotal.label']}</f:facet>
                <h:outputText value="#{o.totalTtc} #{ms:getCurrency()}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p038.s1.sumProduct']}">
                <f:facet name="header">#{txt['p038.s1.sumProduct.label']}</f:facet>
                <h:outputText value="#{o.sumProduct}" />
            </h:column>

            <h:column rendered="#{empty attributeHidden['p038.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{empty attributeHidden['p038.s1.editOrderSupplier']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="orderId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['40'].editOrder}"/>
                </h:commandLink>
                
            </h:column>
        </h:dataTable>

        <div class="box_btn">

        </div>

    </h:panelGroup>
    <h:panelGroup rendered="#{pageManagerBean.beansMap['40'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text"><h:outputText value="#{txt['p038.s2.title']}" /></span>

            <h:commandButton  styleClass="btn btn_red btn"  style="padding: 2px 20px; float: right;"
                              value="Imprimer">
                <f:ajax event="click"
                        listener="#{pageManagerBean.beansMap['40'].printOrder}"/>
            </h:commandButton>
           
            
        </div>

        <div class="clear"></div>
         <div class="row_table_input">
        <div class="name_input">
            <h:outputText value="#{not empty attributeRequired['p038.s2.reference'] ? '*' : ''} #{txt['p038.s2.reference.label']}"/>
            <br/><span class="text_name_input"></span>
        </div>
        <div class="table_input">
            <h:inputText styleClass="inputSimple t_input"  
                         style="width: 35%;"
                         id="referenceId"
                         value="#{pageManagerBean.beansMap['40'].reference}"
                         readonly="#{!(pageManagerBean.beansMap['40'].orderId  eq null)}"
                         />
        </div>
         </div>
        <ms:myStockComboBox itemCode="p038.s2.supplier"
                            beanProperty="#{pageManagerBean.beansMap['40'].customer}"
                            beanList="#{pageManagerBean.beansMap['40'].customerItems}" />

        <ms:myStockTextArea itemCode="p038.s2.note"
                            beanProperty="#{pageManagerBean.beansMap['40'].note}" />

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_red" 
                              value="#{txt['p038.s2.return.label']}">
                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['40'].cancelOrder}"/>
            </h:commandButton>


        </div>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p038.s3.title']}</span>
        </div>
        <div class="clear"></div>


        <h:panelGroup id="productGroupId">

            <h:dataTable styleClass="table_info"
                         id="vSmReceptionProductsListId"
                         value="#{pageManagerBean.beansMap['40'].vSmOrderLineList}" 
                         var="o">
                <h:column>
                    <f:facet name="header" >#{txt['p038.s3.reference.label']}</f:facet>
                    <h:outputText value="#{o.reference}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p038.s3.designation.label']}</f:facet>
                    <h:outputText value="#{o.designation}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p038.s3.unitPriceSale.label']}</f:facet>
                    <h:outputText value="#{o.negotiatePriceSale} #{ms:getCurrency()}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p038.s3.quantity.label']}</f:facet>
                    <h:outputText value="#{o.quantity}" />
                </h:column>
                <h:column>
                    <f:facet name="header" >#{txt['p038.s3.totalHt.label']}</f:facet>
                    <h:outputText value="#{o.totalNegotiatePriceSale} #{ms:getCurrency()}" />
                </h:column>

                <h:column>
                    <f:facet name="header" ><h:outputText value="#{txt['globals.list.option.label']}" /></f:facet>

                    <h:panelGroup rendered="#{pageManagerBean.beansMap['40'].lastOrderId  eq o.id}" >
                        <div style="display: none" id="activeRow" />
                    </h:panelGroup>
                </h:column>
            </h:dataTable>


            <h:panelGroup id="therid">
                <table class="table_info" style="width: 40%; float: right; margin:10px;">
                    <tr>
                        <th style="width: 50%;">#{txt['p038.s4.countProducts.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['40'].summaryTotalQuantity} articles"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p038.s4.totalPu.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['40'].summaryTotalHt} #{ms:getCurrency()}"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p038.s4.valueTva.label']}</th>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <th>#{txt['p038.s4.amountTva.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['40'].summaryTvaAmount} #{ms:getCurrency()}"  /></td>
                    </tr>
                    <tr>
                        <th>#{txt['p038.s4.totalTtc.label']}</th>
                        <td><h:outputText value="#{pageManagerBean.beansMap['40'].summaryTotalTtc} #{ms:getCurrency()}"  /></td>
                    </tr>
                </table>
            </h:panelGroup>

        </h:panelGroup>
    </h:panelGroup>

</div>

