<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:panelGroup id="basicParameterListId" rendered="#{not pageManagerBean.beansMap['21'].showForm}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['basicParameter.s1.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['21'].basicParameterList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTableBasicParameterId" >

            <h:column rendered="#{ empty attributeExclud['basicParameter.s1.id']}">
                <f:facet name="header">#{txt['basicParameter.s1.id.label']}</f:facet>
                <h:outputText value="#{r.id}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['basicParameter.s1.name']}">
                <f:facet name="header">#{txt['basicParameter.s1.name.label']}</f:facet>
                <h:outputText value="#{r.name}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['basicParameter.s1.description']}">
                <f:facet name="header">#{txt['basicParameter.s1.description.label']}</f:facet>
                <h:outputText value="#{r.description}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['basicParameter.s1.value']}">
                <f:facet name="header">#{txt['basicParameter.s1.value.label']}</f:facet>
                <h:outputText value="#{r.value}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['basicParameter.s1.basicParameterType']}">
                <f:facet name="header">#{txt['basicParameter.s1.basicParameterType.label']}</f:facet>
                <h:outputText value="#{r.basicParameterTypeName}" />
            </h:column>

            <h:column rendered="#{empty attributeExclud['basicParameter.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['basicParameter.s1.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="basicParameterId" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['21'].edit}"/>
                </h:commandLink>
                <h:outputText value="&#160;&#160;&#160;&#160;" />

                <h:commandLink rendered="#{ (empty attributeExclud['basicParameter.s1.delete'])}" onclick="return confirmDelete();">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="basicParameterId" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['21'].deletePartial}"/>
                </h:commandLink>

            </h:column>




        </h:dataTable>

        <div class="box_btn">
            <h:commandButton  styleClass="btn btn_blue" value="#{txt['globals.forms.add.label']}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['21'].addBasicParameter}"/>

            </h:commandButton>
        </div>

    </h:panelGroup>


    <h:panelGroup id="addBasicParameterId" rendered="#{pageManagerBean.beansMap['21'].showForm}" >


        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['basicParameter.s2.title']}</span>
        </div>

        <ms:myStockInputText itemCode="basicParameter.s2.name"
                             beanProperty="#{pageManagerBean.beansMap['21'].name}"/>

        <ms:myStockTextArea itemCode="basicParameter.s2.description"
                            beanProperty="#{pageManagerBean.beansMap['21'].description}" />
        
        <ms:myStockTextArea itemCode="basicParameter.s2.value"
                            beanProperty="#{pageManagerBean.beansMap['21'].value}" />

        <ms:myStockComboBox itemCode="basicParameter.s2.basicParameterType"
                            beanProperty="#{pageManagerBean.beansMap['21'].basicParameterType}"
                            beanList="#{pageManagerBean.beansMap['21'].basicParameterTypeList}" />

        

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" value="Sauvegarder et Continuer">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.savePartial}"/>

            </h:commandButton>


            <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['21'].cancelBasicParameter}"/>

            </h:commandButton>


        </div>


        <br />

    </h:panelGroup>



    <style>
        .actifRow{
            background-color:#feecab;
            font-weight: bold;
        }
    </style>
    <script>

        jQuery(document).ready(function () {

            var activeRow = jQuery("#activeRow");

            if (activeRow !== null) {

                var coChildTd = jQuery(activeRow).parent().parent().children();

                for (i = 0; i&lt; coChildTd.length; i++)
                        jQuery(coChildTd[i]).addClass('actifRow');
            }

        });
        
    </script>


</div>

