<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:components="http://xmlns.jcp.org/jsf/composite/components"
     xmlns:p="http://primefaces.org/ui">


    <h:panelGroup rendered="#{not pageManagerBean.beansMap['30'].showForm}"> 

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p030.s1.title']}</span>
        </div>
        <br />
        <div class="clear"></div>

        <h:dataTable value="#{pageManagerBean.beansMap['30'].vCltUserList}" var="o"
                     styleClass="table_info dataTable"
                     id="dataTableSupplierId"
                     rendered="#{ empty attributeExclud['p030.s1']}" >

            <h:column>
                <f:facet name="header">#{txt['p030.s1.firstName.label']}</f:facet>
                <h:outputText value="#{o.firstName} #{o.lastName}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p030.s1.username.label']}</f:facet>
                <h:outputText value="#{o.username}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p030.s1.entityPhone.label']}</f:facet>
                <h:outputText value="#{o.entityPhone}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p030.s1.entityEmail.label']}</f:facet>
                <h:outputText value="#{o.entityEmail}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p030.s1.category.label']}</f:facet>
                <h:outputText value="#{o.categoryName}" />
            </h:column>

            <h:column>
                <f:facet name="header">#{txt['p030.s1.active.label']}</f:facet>
                <h:outputText value="#{ms:getTxtYesNo(o.active)}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['p030.s1.option']}">

                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['p030.s1.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="userId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['30'].edit}"/>
                </h:commandLink>

                <h:commandLink rendered="#{ empty attributeExclud['p030.s1.delete1']}"   onclick="return confirmDelete();" >
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="25" height="25" />
                    <f:attribute name="userId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['30'].deletePartial}"/>
                </h:commandLink>

            </h:column>

        </h:dataTable>


        <div class="box_btn">
            <h:commandButton
                rendered="#{ empty attributeExclud['p030.s1.add']}"
                styleClass="btn btn_blue " 
                value="#{txt['globals.forms.add.label']}">
                <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['30'].add}"/>
            </h:commandButton>
        </div>
    </h:panelGroup>


    <h:panelGroup id="addSupplierId" rendered="#{pageManagerBean.beansMap['30'].showForm}">


        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p030.s2.title']}</span>
        </div>


        <ms:myStockInputText itemCode="p030.s2.firstName"
                             beanProperty="#{pageManagerBean.beansMap['30'].firstName}"/>

        <ms:myStockInputText itemCode="p030.s2.lastName"
                             beanProperty="#{pageManagerBean.beansMap['30'].lastName}"/>

        <ms:myStockInputText itemCode="p030.s2.username"
                             beanProperty="#{pageManagerBean.beansMap['30'].username}"/>

        <ms:myStockInputText itemCode="p030.s2.password"
                             beanProperty="#{pageManagerBean.beansMap['30'].password}"/>
        
        <components:comboBox  itemCode="p030.s2.category"
                      beanItems="#{pageManagerBean.beansMap['30'].categoryItems}"
                      beanProperty="#{pageManagerBean.beansMap['30'].category}" />

        <ms:myStockSelectOneRadio itemCode="p030.s2.active"
                                  beanProperty="#{pageManagerBean.beansMap['30'].active}"/>
        
        <h:panelGroup rendered="#{pageManagerBean.beansMap['30'].operation eq 'edit'}">
            <components:contactManagement componentHelper="#{pageManagerBean.beansMap['30'].contactManagementComponent}"/>
        </h:panelGroup>

        <div class="box_btn">

            <h:commandButton 
                rendered="#{ empty attributeExclud['globals.forms.save.label']}"
                styleClass="btn btn_blue " 
                value="#{txt['globals.forms.save.label']}" >
                <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.savePartial}"/>
            </h:commandButton>

            <h:commandButton
                styleClass="btn btn_red " 
                value="#{txt['globals.forms.cancel.label']}">
                <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['30'].cancelPartial}"/>
            </h:commandButton>

        </div>

    </h:panelGroup>


</div>

