<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ms="http://www.myStock.ma"
      >
    <h:head>
        <title>Facelet Title</title>


        <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/datetimepicker/jquery.datetimepicker.css"/>

        <script src="#{ms:getJs()}/datetimepicker/jquery.js" type="text/javascript"></script>
        <script type="text/javascript" src="#{ms:getJs()}/datetimepicker/jquery.datepicker-en.js"></script>
        <script type="text/javascript" src="#{ms:getJs()}/datetimepicker/jquery.datepicker-fr.js"></script>
        <script type="text/javascript" src="#{ms:getJs()}/datetimepicker/jquery.ui.timepicker.addon-fr.js"></script>

        <script type="text/javascript">

            jQuery(document).ready(function () {
                
                
                jQuery(".datepickerSF").datepicker({
                    showOn: "button",
                    buttonImage: "/templates/styles/default/image/ico_calendrier_new.JPG",
                    dateFormat: "yy-mm-dd HH:mm",
                    showWeek: true,
                    firstDay: 1,
                    changeMonth: true,
                    changeYear: true,
                    weekHeader: "W",
                    buttonImageOnly: true,
                    inline: true
                });
            });
        </script>

    </h:head>
    <h:body>
        Hello from Facelets
        <input type="text" class="datepickerSF" />
    </h:body>
</html>

