<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ms="http://www.myStock.ma">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title> </title>

        <ui:include src="/templates/ressources.xhtml"/>

    </h:head>
    <h:body>

        <h:form  id ="eFormFormulaire">

            <h:panelGroup rendered="#{not  beanPDF.showForm}">


                <div class="table_title">
                    <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                    <span class="table_title_text">La liste des receptions encours ...</span>
                </div>

                <div class="clear"></div>

                
                <h:dataTable value="#{beanPDF.vSmReceptionList}" var="r"
                             styleClass="table_info dataTable"
                             id="dataTableReceptionId" border="1" style="border: 1px solid red;" >

                    <h:column>
                        <f:facet name="header">Code Reception</f:facet>
                        <h:outputText value="#{r.codeSeq}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">Fournisseur</f:facet>
                        <h:outputText value="#{r.supplierCompanyName}" />
                    </h:column>

                    <h:column >
                        <f:facet name="header">La souche</f:facet>
                        <h:outputText value="#{r.souche}" />
                    </h:column>

                    <h:column >
                        <f:facet name="header">Montant Total</f:facet>
                        <h:outputText value="#{r.amount}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">Date d'échience</f:facet>
                        <h:outputText value="#{r.deadline}" />
                    </h:column>

                    <h:column >
                        <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                        <h:commandLink >
                            <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                            <f:attribute name="receptionId" value="#{r.id}" />
                            <f:ajax execute="@form" event="click" render="@form" listener="#{beanPDF.edit}"/>
                        </h:commandLink>
                        <h:outputText value="&#160;&#160;&#160;&#160;" />

                        <h:commandLink  onclick="return confirmDelete();">
                            <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="25" height="25"  />
                            <f:attribute name="receptionId" value="#{r.id}" />
                            <f:ajax execute="@form" event="click" render="@form" listener="#{beanPDF.deletePartial}"/>
                        </h:commandLink>

                    </h:column>

                </h:dataTable>
                <div class="box_btn">

                    <h:commandButton 
                        styleClass="btn btn_blue " 
                        value="#{txt['globals.forms.add.label']}" >
                        <f:ajax execute="@form" event="action" render="@form" listener="#{beanPDF.add}"/>
                    </h:commandButton>

                </div>
            </h:panelGroup>
            <h:panelGroup rendered="#{beanPDF.showForm}">
                <div class="table_title">
                    <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                    <span class="table_title_text">Ajouter / modifier reception</span>
                </div>
                <ms:myStockInputText itemCode="code.code.code1"
                                     beanProperty="#{beanPDF.codeSeq}"/> 

                <ms:myStockComboBox itemCode="code.code.code2"
                                    beanProperty="#{beanPDF.supplier}"
                                    beanList="#{beanPDF.supplierList}" />
                <ms:myStockInputText itemCode="code.code.code3"
                                     beanProperty="#{beanPDF.souche}"/>
                <ms:myStockInputText itemCode="code.code.code4"
                                     beanProperty="#{beanPDF.deadline}"/>
                <ms:myStockTextArea itemCode="code.code.code5"
                                    beanProperty="#{beanPDF.note}" />
                <ms:myStockComboBox itemCode="code.code.code6"
                                    beanProperty="#{beanPDF.deposit}"
                                    beanList="#{beanPDF.depositList}" />

            </h:panelGroup>
        </h:form>

 <script>
                $(".loading-overlay").fadeOut("slow");
                $(".loading").fadeOut("slow");
            </script>
    </h:body>

</html>





