<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core">


    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">Séléctionner la page que vous voulez géré.</span>
    </div>
    <div class="clear"></div>

    <h:dataTable value="#{pageManagerBean.beansMap['31'].vPmComposDetailsList}" var="p"
                 id="dataTableProductCustomerId"
                 styleClass="table_info" >

        <h:column>
            <f:facet name="header">Menu</f:facet>
            <h:outputText value="#{p.menuName}" />
        </h:column>

        <h:column>
            <f:facet name="header">Page</f:facet>
            <h:outputText value="#{p.pageName}" />
        </h:column>

        <h:column >

            <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

            <h:commandLink   >
                <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
           
            </h:commandLink>

        </h:column>
    </h:dataTable>


    proprieters des elements

</div>

