<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:panelGroup id="clientListId" rendered="#{pageManagerBean.beansMap['26'].rendredClientList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['moduleParameterClient.s1.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['26'].cltUserClientList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablemoduleParameterClientId" >

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s1.name']}">
                <f:facet name="header">#{txt['moduleParameterClient.s1.name.label']}</f:facet>
                <h:outputText value="#{r.firstNameClient} #{r.lastNameClient}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s1.company']}">
                <f:facet name="header">#{txt['moduleParameterClient.s1.company.label']}</f:facet>
                <h:outputText value="#{r.companyName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s1.email']}">
                <f:facet name="header">#{txt['moduleParameterClient.s1.email.label']}</f:facet>
                <h:outputText value="#{r.email}" />
            </h:column>
            <h:column rendered="#{empty attributeExclud['moduleParameterClient.s1.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['moduleParameterClient.s1.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="26" height="26"  />
                    <f:attribute name="cltClientIdParam" value="#{r.clientId}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['26'].goToListModule}"/>
                </h:commandLink>
            </h:column>




        </h:dataTable>

    </h:panelGroup>
    <h:panelGroup id="clientListId" rendered="#{pageManagerBean.beansMap['26'].rendredModuleList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['moduleParameterClient.s2.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['26'].cltModule}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablemoduleParameterClientId" >

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s2.nameModule']}">
                <f:facet name="header">#{txt['moduleParameterClient.s2.nameModule.label']}</f:facet>
                <h:outputText value="#{r.moduleName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s2.descriptionModule']}">
                <f:facet name="header">#{txt['moduleParameterClient.s2.descriptionModule.label']}</f:facet>
                <h:outputText value="#{r.moduleDescription}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s2.moduleTypeName']}">
                <f:facet name="header">#{txt['moduleParameterClient.s2.moduleTypeName.label']}</f:facet>
                <h:outputText value="#{r.moduleTypeName}" />
            </h:column>
            <h:column rendered="#{empty attributeExclud['moduleParameterClient.s2.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['moduleParameterClient.s2.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="26" height="26"  />
                    <f:attribute name="cltModuleIdParam" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['26'].goToListModuleParameter}"/>
                </h:commandLink>
            </h:column>




        </h:dataTable>
        <div class="box_btn">
            <h:panelGroup  rendered="#{pageManagerBean.beansMap['26'].rendredClient}"  >
                <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['26'].cancelClient}"/>

                </h:commandButton>
            </h:panelGroup>
        </div>
    </h:panelGroup>
    <h:panelGroup id="moduleParameterClientListId" rendered="#{pageManagerBean.beansMap['26'].rendredModuleParameterClientList}" >



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['moduleParameterClient.s3.title']}</span>
        </div>



        <div class="clear"></div>


        <h:dataTable value="#{pageManagerBean.beansMap['26'].cltModuleParameterClientList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTablemoduleParameterClientId" >

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s3.parameterModuleName']}">
                <f:facet name="header">#{txt['moduleParameterClient.s3.parameterModuleName.label']}</f:facet>
                <h:outputText value="#{r.moduleParameterName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s3.parameterModuleTypeName']}">
                <f:facet name="header">#{txt['moduleParameterClient.s3.parameterModuleTypeName.label']}</f:facet>
                <h:outputText value="#{r.moduleParameterTypeName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s3.value']}">
                <f:facet name="header">#{txt['moduleParameterClient.s3.value.label']}</f:facet>
                <h:outputText value="#{r.value}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['moduleParameterClient.s3.defaultValue']}">
                <f:facet name="header">#{txt['moduleParameterClient.s3.defaultValue.label']}</f:facet>
                <h:outputText value="#{r.defaultValue}" />
            </h:column>
            <h:column rendered="#{empty attributeExclud['moduleParameterClient.s3.option']}">
                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['moduleParameterClient.s3.edit']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="26" height="26"  />
                    <f:attribute name="cltModuleParameterClientId" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['26'].edit}"/>
                </h:commandLink>
                <h:outputText value="&#160;&#160;&#160;&#160;" />

                <h:commandLink rendered="#{ empty attributeExclud['moduleParameterClient.s3.delete']} #{r.canBeDelete}" onclick="return confirmDelete();">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="26" height="26"  />
                    <f:attribute name="cltModuleParameterClientId" value="#{r.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['26'].deletePartial}"/>
                </h:commandLink>

            </h:column>




        </h:dataTable>

        <div class="box_btn">
            <h:panelGroup  rendered="#{pageManagerBean.beansMap['26'].rendredAddModuleParameter}"  >
                <h:commandButton  styleClass="btn btn_blue" value="#{txt['globals.forms.add.label']}">

                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['26'].addModuleParameterClient}"/>

                </h:commandButton>
            </h:panelGroup>
            <h:panelGroup    rendered="#{pageManagerBean.beansMap['26'].rendredModule}">
                <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                    <f:ajax execute="@form"
                            event="action"
                            render="@form"
                            listener="#{pageManagerBean.beansMap['26'].cancelModule}"/>

                </h:commandButton>
            </h:panelGroup>
        </div>

    </h:panelGroup>


    <h:panelGroup id="addmoduleParameterClientId" rendered="#{pageManagerBean.beansMap['26'].showForm}" >


        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['moduleParameterClient.s4.title']}</span>
        </div>

        <ms:myStockComboBox itemCode="moduleParameterClient.s4.parameterModule"
                            beanProperty="#{pageManagerBean.beansMap['26'].parameterModuleId}"
                            beanList="#{pageManagerBean.beansMap['26'].moduleParameterList}" />

        <ms:myStockTextArea itemCode="moduleParameterClient.s4.value"
                            beanProperty="#{pageManagerBean.beansMap['26'].value}" />



        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" value="Sauvegarder et Continuer">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.savePartial}"/>

            </h:commandButton>


            <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['26'].cancelModuleParameterClient}"/>

            </h:commandButton>


        </div>


        <br />

    </h:panelGroup>



    <style>
        .actifRow{
            background-color:#feecab;
            font-weight: bold;
        }
    </style>
    <script>

        jQuery(document).ready(function () {

            var activeRow = jQuery("#activeRow");

            if (activeRow !== null) {

                var coChildTd = jQuery(activeRow).parent().parent().children();

                for (i = 0; i&lt; coChildTd.length; i++)
                        jQuery(coChildTd[i]).addClass('actifRow');
            }

        });

    </script>


</div>

