<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"

     xmlns:p="http://primefaces.org/ui"
     xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


 
    
    <div style="margin-left: 2%;">
        Les informations de la ...
    </div>

    <table style="width: 100%; padding: 2%;">
        <tr>
            <td style="width: 48%; padding: 3%;">

                <div class="table_title">
                    <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                    <span class="table_title_text">#{txt['p012.s2.title']}</span>
                </div>
                <div class="clear"></div>

                <table class="table_info">

                    <tr>
                        <th>#{txt['p012.s2.orderSupplierInProgressCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderSupplierInProgressCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s2.orderSupplierTransmittedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderSupplierTransmittedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s2.orderSupplierValidatedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderSupplierValidatedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s2.orderSupplierRefusedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderSupplierRefusedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s2.orderSupplierRejectedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderSupplierRejectedCount}</td>
                    </tr>

                </table>

            </td>
            <td style="width: 48%; padding: 3%;">


                <div class="table_title">
                    <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                    <span class="table_title_text">#{txt['p012.s3.title']}</span>
                </div>
                <div class="clear"></div>

                <table class="table_info">

                    <tr>
                        <th>#{txt['p012.s3.receptionInProgressCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.receptionInProgressCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s3.receptionTransmittedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.receptionTransmittedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s3.receptionValidatedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.receptionValidatedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s3.receptionRefusedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.receptionRefusedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s3.receptionRejectedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.receptionRejectedCount}</td>
                    </tr>

                </table>

            </td>
        </tr>
        <tr>
            <td style="width: 48%; padding: 3%;">


                <div class="table_title">
                    <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                    <span class="table_title_text">#{txt['p012.s4.title']}</span>
                </div>
                <div class="clear"></div>

                <table class="table_info">

                    <tr>
                        <th>#{txt['p012.s4.orderInProgressCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderInProgressCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s4.orderTransmittedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderTransmittedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s4.orderValidatedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderValidatedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s4.orderdRefusedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderdRefusedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s4.orderdRejectedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.orderdRejectedCount}</td>
                    </tr>

                </table>

            </td>
            <td style="width: 48%; padding: 3%;">


                <div class="table_title">
                    <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
                    <span class="table_title_text">#{txt['p012.s5.title']}</span>
                </div>
                <div class="clear"></div>

                <table class="table_info">

                    <tr>
                        <th>#{txt['p012.s5.returnReceiptInProgressCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.returnReceiptInProgressCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s5.returnReceiptTransmittedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.returnReceiptTransmittedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s5.returnReceiptValidatedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.returnReceiptValidatedCount}</td>
                    </tr>


                    <tr>
                        <th>#{txt['p012.s5.returnReceiptRefusedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.returnReceiptRefusedCount}</td>
                    </tr>

                    <tr>
                        <th>#{txt['p012.s5.returnReceiptRejectedCount.label']}</th>
                        <td>#{pageManagerBean.beansMap['12'].vSmOrderDetails.returnReceiptRejectedCount}</td>
                    </tr>

                </table>

            </td>
        </tr>

    </table>


</div>

