<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!--
    
    myStockInputText
     
    itemCode : 
    beanProperty :
    beanList :
    componentId : 
    componentClass : 
    label : 
    message : 
    label : 
    
    
    ajaxExecute
    ajaxEvent  == null or ajaxEvent == '' ? 'change' : ajaxEvent
    ajaxRender
    ajaxListner
    
    -->

    <ui:composition rendered="#{empty attributeHidden[itemCode]}">
        <h:panelGroup rendered="#{empty attributeHidden[itemCode]}">
            <div>

                <h:outputText value="MSG : #{txt[ms:getMessage(itemCode,message)]}" 
                              rendered="#{ms:getMessage(itemCode,message) == txt[ms:getMessage(itemCode,message)]}" />

                <h:outputText value="HELP : #{txt[ms:getHelp(itemCode,help)]}" 
                              rendered="#{ms:getHelp(itemCode,help) == txt[ms:getHelp(itemCode,help)]}" />


            </div>
            <div class="row_table_input">
                <div class="name_input">

                    <label for="form:#{ms:getId(itemCode,componentId)}">


                        <h:outputText value="#{not empty attributeRequired[itemCode] ? '*' : ''} #{txt[ms:getLabel(itemCode,label)]}"/>

                    </label>
                </div>

                <div class="table_input" >

                    <h:selectOneMenu id="#{ms:getId(itemCode,componentId)}"
                                     styleClass="#{ms:getStyleClass(itemCode,componentClass)} t_input #{ms:getValidStyle(itemCode)}"
                                     value="#{beanProperty}">

                        <f:selectItem itemValue="" itemLabel="" />
                        <f:selectItems value="#{beanList}" />

                    </h:selectOneMenu>

                    <h:panelGrid rendered="#{not empty attributeMxlength[itemCode]}" style="display:inline;">
                        <h:outputText value="#{attributeMxlength[itemCode]} char" />
                    </h:panelGrid>

                </div>
            </div>
            <div class="clear"></div>
        </h:panelGroup>
    </ui:composition>

</html>