<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:ms="http://www.myStock.ma">

    <!--
    
    myStockInputText
    
    itemCode : 
    beanProperty : 
    componentId : 
    componentClass : 
    label : 
    message : 
    label : 
    
    
    
    il faut ajouter placeHolder dans le future
    revoir les trucs de == 
    
    il faut ajouter le foramt type formatType[itemCode] ajouter les classes qui existe dans format.js
    -->
    <ui:composition rendered="#{empty attributeHidden[itemCode]}">
        <h:panelGroup rendered="#{empty attributeHidden[itemCode]}">



            <div>
                <h:outputText value="MSG : #{txt[ms:getMessage(itemCode,message)]}" 
                              rendered="#{ms:getMessage(itemCode,message) == txt[ms:getMessage(itemCode,message)]}" />

                <h:outputText value="HELP : #{txt[ms:getHelp(itemCode,help)]}" 
                              rendered="#{ms:getHelp(itemCode,help) == txt[ms:getHelp(itemCode,help)]}" />


            </div>
            <div class="row_table_input">
                <div class="name_input">


                    <h:outputText value="#{not empty attributeRequired[itemCode] ? '*' : ''} #{txt[ms:getLabel(itemCode,label)]}"/>
                    <br/><span class="text_name_input"></span>
                </div>

                <div class="table_input">
                    <h:inputSecret styleClass="#{ms:getStyleClass(itemCode,componentClass)} t_input  #{ms:getValidStyle(itemCode)} "  
                                   id="#{ms:getId(itemCode,componentId)}"   
                                   value="#{beanProperty}"
                                   readonly="#{readonly}"

                                   />
                    <h:outputText value="#{attributeMaxLength[itemCode]} chars"  rendered="#{not empty attributeMaxLength[itemCode]}" />  
                    <h:outputText value="#{attributeMaxWord[itemCode]} words"  rendered="#{not empty attributeMaxWord[itemCode]}" />    

                </div>
            </div>

        </h:panelGroup>
    </ui:composition>

</div>