<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!--
    myStockInputText : 
    
    
        itemCode : 
        beanProperty : 
        componentId : 
        componentClass : 
        label : 
        message : 
        label : 

    
    -->



    <ui:composition rendered="#{empty attributeHidden[itemCode]}">
        <h:panelGroup rendered="#{empty attributeHidden[itemCode]}">



            <div>
                <h:outputText value="MSG : #{txt[ms:getMessage(itemCode,message)]}" 
                              rendered="#{ms:getMessage(itemCode,message)==txt[ms:getMessage(itemCode,message)]}" />

                <h:outputText value="HELP : #{txt[ms:getHelp(itemCode,help)]}" 
                              rendered="#{ms:getHelp(itemCode,help) == txt[ms:getHelp(itemCode,help)]}" />





            </div>
            <div class="row_table_input">
                <div class="name_input">


                    <h:outputText value="#{not empty attributeRequired[itemCode] ? '*' : ''} #{txt[ms:getLabel(itemCode,label)]}"/>


                </div>
                <div class="table_input">

                    <h:inputTextarea
                        styleClass="#{ms:getStyleClass(itemCode,componentClass)} #{ms:getValidStyle(itemCode)}"
                        id="#{ms:getId(itemCode,componentId)}"
                        value="#{beanProperty}"
                        style="#{attributeReadOnly[itemCode] eq 'true' ? 'background-color: #eaeaea' : ''}"
                        readonly="#{attributeReadOnly[itemCode]}"/>


                    <h:outputText value="#{attributeMaxLength[itemCode]} chars,"  rendered="#{not empty attributeMaxLength[itemCode]}" />  
                    <h:outputText value="#{attributeMaxWord[itemCode]} words"  rendered="#{not empty attributeMaxWord[itemCode]}" />
                </div>
            </div>
        </h:panelGroup>
    </ui:composition>

</html>