<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!--
        selectOneRadio : 
        
        itemCode : 
        beanProperty: 
        componentId : 
        componentClass : 
        label : 
        message : 
        label : 


    -->

    <ui:composition rendered="#{empty attributeHidden[itemCode]}">
        <h:panelGroup rendered="#{empty attributeHidden[itemCode]}">

            <div>

                <h:outputText value="MSG : #{txt[ms:getMessage(itemCode,message)]}" 
                              rendered="#{ms:getMessage(itemCode,message) == txt[ms:getMessage(itemCode,message)]}" />

                <h:outputText value="HELP : #{txt[ms:getHelp(itemCode,help)]}" 
                              rendered="#{ms:getHelp(itemCode,help) == txt[ms:getHelp(itemCode,help)]}" />



            </div>
            <div class="row_table_input">
                <div class="name_input">


                    <h:outputText value="#{not empty attributeRequired[itemCode] ? '*' : ''} #{txt[ms:getLabel(itemCode,label)]}"/>

                </div>

                <div class="table_input" >



                    <h:selectOneRadio style="display:inline;" styleClass="#{ms:getStyleClass(itemCode,componentClass)} "  
                                      value="#{beanProperty}" id="#{ms:getId(itemCode,componentId)}">
                        <f:selectItem itemValue="Y"  itemLabel="#{txt['globals.forms.yes.label']}" />

                        <f:selectItem itemValue="N"  itemLabel="#{txt['globals.forms.no.label']}" />

                    </h:selectOneRadio>

                    <h:outputText value="#{attributeMxlength[itemCode]} char" rendered="#{not empty attributeMxlength[itemCode]}"  />

                </div>
            </div>


        </h:panelGroup>
    </ui:composition>

</html>