<!DOCTYPE html  >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets
    </h:body>
    
    
    
    
    <myStockAjaxAutocomplete
    baseUrl="${pageContext.request.contextPath}/service/searchFullNamePersonByName.do"         
    parameters="name={nomNaissKeyword}"
    parser="ResponseXmlParser"
    source="nomNaissKeyword"
    target="nip"
    className="autocomplete"
    minimumCharacters="3"


    eventType="change"
    />

    
    
</html>

