<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     xmlns:co="http://xmlns.jcp.org/jsf/composite/components">

    <h:panelGroup rendered="#{!pageManagerBean.beansMap['5'].showForm}">

        <!-- research filters : start -->

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p005.s1.title']}</span>
        </div>

        <div class="clear"></div>

        <div class="row_2_col">
					
				
        <co:inputText  itemCode="p005.s1.searchReference"
                       beanProperty="#{pageManagerBean.beansMap['5'].searchReference}" />

        <co:inputText  itemCode="p005.s1.searchDesignation"
                       autocomplete="true"
                       componentClass="searchDesignationClass"
                       autocompleteData="vSmProductLikeDesignation"
                       autocompleteHidden="#{pageManagerBean.beansMap['5'].searchDesignationHidden}"
                       beanProperty="#{pageManagerBean.beansMap['5'].searchDesignation}" />
        </div>
        
        <div class="row_2_col">
        <co:comboBox  itemCode="p005.s1.searchFamily"
                      beanItems="#{pageManagerBean.beansMap['5'].productFamilyItems}"
                      beanProperty="#{pageManagerBean.beansMap['5'].searchFamily}" />

        <co:inputText  itemCode="p005.s1.searchQte"
                       beanProperty="#{pageManagerBean.beansMap['5'].searchQte}" />
        
        </div>
        <div class="row_2_col">
        <co:comboBox  itemCode="p005.s1.searchType"
                      beanItems="#{pageManagerBean.beansMap['5'].productTypeItems}"
                      beanProperty="#{pageManagerBean.beansMap['5'].searchType}" />

        <co:comboBox  itemCode="p005.s1.searchDepartment"
                      beanItems="#{pageManagerBean.beansMap['5'].productDepartmentItems}"
                      beanProperty="#{pageManagerBean.beansMap['5'].searchDepartment}" />
        
        </div>
        <div class="row_2_col">
        <co:comboBox  itemCode="p005.s1.searchSize"
                      beanItems="#{pageManagerBean.beansMap['5'].productSizeItems}"
                      beanProperty="#{pageManagerBean.beansMap['5'].searchSize}" />

        <co:comboBox  itemCode="p005.s1.searchColor"
                      beanItems="#{pageManagerBean.beansMap['5'].productColorItems}"
                      beanProperty="#{pageManagerBean.beansMap['5'].searchColor}" />
        
        </div>
        <div class="clear"></div>

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" 
                              value="#{txt['globals.forms.search.label']}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['5'].search}"/>

            </h:commandButton>

        </div>

        <style>
            .name_input{
                width: 15%;
            }
            .table_input{
                width: 35%;
                padding: 0 10px;
            }
            .t_input{
                width: 95%;
            }
        </style>
        <br />
        <br />

        <!-- research filters : end -->


        <!-- datatables : start -->

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p005.s2.title']} (#{pageManagerBean.beansMap['5'].countResult})</span>
        </div>

        <div class="clear"></div>

        <br />

        <h:dataTable value="#{pageManagerBean.beansMap['5'].productList}" 
                     var="pr"
                     id="dataTableProductCustomerId"
                     styleClass="table_info dataTable" >

            <h:column>
                <f:facet name="header">#{txt['p005.s2.reference.label']}</f:facet>
                <h:outputText value="#{pr.reference}" />
            </h:column>

            <h:column>
                <f:facet name="header">#{txt['p005.s2.designation.label']}</f:facet>
                <h:outputText value="#{pr.designation}" />
            </h:column>

            <h:column>
                <f:facet name="header">#{txt['p005.s2.priceBuy.label']}</f:facet>
                <h:outputText value="#{pr.priceBuy} DH" />
            </h:column>

            <h:column>
                <f:facet name="header">#{txt['p005.s2.priceSale.label']}</f:facet>
                <h:outputText value="#{pr.priceSale} DH" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p005.s2.quantity.label']}</f:facet>
                <h:outputText value="#{pr.quantity}" />
            </h:column>

            <h:column >
                <f:facet name="header">#{txt['p005.s2.threshold.label']}</f:facet>
                <h:outputText value="#{pr.threshold}" />
            </h:column>

            <h:column rendered="#{true}">
                <f:facet name="header">#{txt['p005.s2.productTypeName.label']}</f:facet>
                <h:outputText value="#{pr.productTypeName}" />
            </h:column>

            <h:column rendered="#{false}">
                <f:facet name="header">#{txt['p005.s2.productGroupName.label']}</f:facet>
                <h:outputText value="#{pr.productGroupName}" />
            </h:column>

            <h:column rendered="#{false}">
                <f:facet name="header">#{txt['p005.s2.productFamilyName.label']}</f:facet>
                <h:outputText value="#{pr.productFamilyName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['p005.s2.option']}">

                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink >
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['5'].edit}"/>
                    <f:attribute name="productId" value="#{pr.id}" />
                </h:commandLink>

                <h:panelGroup rendered="#{'Y' eq pr.canBeDeleted}" >

                    <h:commandLink onclick="return confirmDelete();"  >
                        <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['5'].deletePartial}"/>
                        <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit"  width="25" height="25" />
                        <f:attribute name="productId" value="#{pr.id}" />
                    </h:commandLink>

                </h:panelGroup>

            </h:column>
        </h:dataTable>


        <div class="box_btn">

            <h:commandButton 
                styleClass="btn btn_blue " 
                value="#{txt['globals.forms.add.label']}" >
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['5'].add}"/>
            </h:commandButton>

        </div>

        <!-- datatables : start -->
    </h:panelGroup>

    <h:panelGroup rendered="#{pageManagerBean.beansMap['5'].showForm}">

        <!-- add edit product : start -->

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p005.s3.reorganization.label']}</span>
        </div>
        <div class="clear"></div>


        <div class="row_table_input">
            <div class="name_input">
                <label for="form:productGroupId">
                    <h:outputText value="#{txt['p005.s3.group.label']}"></h:outputText>
                </label>
            </div>

            <div class="table_input" >
                <h:selectOneMenu id="productGroupId"
                                 styleClass="t_input inputSimple"
                                 value="#{pageManagerBean.beansMap['5'].group}">
                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{pageManagerBean.beansMap['5'].productGroupItems}" />
                    <f:ajax render="compositionFormId:panelFamilyId" execute="@this" listener="#{pageManagerBean.beansMap['5'].onChangeGroup}" />
                </h:selectOneMenu>
            </div>
        </div>
        <div class="clear"></div>

        <h:panelGroup id="panelFamilyId">
            <co:comboBox itemCode="p005.s3.family"
                         beanProperty="#{pageManagerBean.beansMap['5'].family}"
                         beanItems="#{pageManagerBean.beansMap['5'].productFamilyItems}" />
        </h:panelGroup>

        <co:comboBox itemCode="p005.s3.type"
                     beanProperty="#{pageManagerBean.beansMap['5'].type}"
                     beanItems="#{pageManagerBean.beansMap['5'].productTypeItems}" />

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p005.s3.basicInformation.label']}</span>
        </div>
        <div class="clear"></div>

        <!-- references -->
        <h:panelGroup rendered="#{empty attributeHidden[itemCode]}">
            <div class="name_input">
                <h:outputText value="#{not empty attributeRequired['p005.s3.reference'] ? '*' : ''} #{txt['p005.s3.reference.label']}"/>
                <br/><span class="text_name_input"></span>
            </div>

            <div class="table_input">
                <h:inputText styleClass="inputSimple t_input"  
                             style="width: 35%;"
                             id="referenceId"
                             value="#{pageManagerBean.beansMap['5'].reference}"
                             readonly="#{!pageManagerBean.beansMap['5'].isAddOperation}"
                             />

                <h:panelGroup rendered="#{pageManagerBean.beansMap['5'].isAddOperation}">
                    <h:commandButton 
                        styleClass="btn btn_blue " 
                        value="Gén Seq">
                        <f:ajax execute="compositionFormId:referenceId" event="action" render="compositionFormId:referenceId" listener="#{pageManagerBean.beansMap['5'].genSeq}"/>
                    </h:commandButton>

                    <h:commandButton 
                        styleClass="btn btn_blue " 
                        value="Aléatoire">
                        <f:ajax execute="compositionFormId:referenceId" event="action" render="compositionFormId:referenceId" listener="#{pageManagerBean.beansMap['5'].genRand}"/>
                    </h:commandButton>
                </h:panelGroup>
            </div>


        </h:panelGroup>

        <ms:myStockTextArea itemCode="p005.s3.designation"
                            beanProperty="#{pageManagerBean.beansMap['5'].designation}" />

        <ms:myStockInputText itemCode="p005.s3.priceSale"
                             beanProperty="#{pageManagerBean.beansMap['5'].priceSale}"/>

        <ms:myStockInputText itemCode="p005.s3.priceBuy"
                             beanProperty="#{pageManagerBean.beansMap['5'].priceBuy}"/>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['p005.s3.additionalInformation.label']}</span>
        </div>
        <div class="clear"></div>

        <ms:myStockInputText itemCode="p005.s3.threshold"
                             beanProperty="#{pageManagerBean.beansMap['5'].threshold}"/>

        <ms:myStockComboBox itemCode="p005.s3.unit"
                            beanProperty="#{pageManagerBean.beansMap['5'].unit}"
                            beanList="#{pageManagerBean.beansMap['5'].productUnitItems}" />

        <ms:myStockComboBox itemCode="p005.s3.size"
                            beanProperty="#{pageManagerBean.beansMap['5'].size}"
                            beanList="#{pageManagerBean.beansMap['5'].productSizeItems}" />

        <ms:myStockComboBox itemCode="p005.s3.color"
                            beanProperty="#{pageManagerBean.beansMap['5'].color}"
                            beanList="#{pageManagerBean.beansMap['5'].productColorItems}" />

        <ms:myStockSelectOneRadio itemCode="p005.s3.active"
                                  beanProperty="#{pageManagerBean.beansMap['5'].active}"/>

        <ms:myStockTextArea itemCode="p005.s3.note"
                            beanProperty="#{pageManagerBean.beansMap['5'].note}" />

        <div class="box_btn">
            <h:commandButton 
                styleClass="btn btn_blue " 
                value="Sauvegarder">
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.savePartial}"/>
            </h:commandButton>

            <h:commandButton 
                styleClass="btn btn_red " 
                value="Annuler" >
                <f:ajax execute="@form" event="action" render="@form" listener="#{pageManagerBean.beansMap['5'].cancelPartial}"/>
            </h:commandButton>
        </div>

        <!-- add edit product : end -->
    </h:panelGroup>
</div>

