<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">


    <h:panelGroup rendered="#{not pageManagerBean.beansMap['15'].showForm}">

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['blValidation.s1.title']}</span>
        </div>

        <h:dataTable value="#{pageManagerBean.beansMap['15'].vSmOrderList}" var="o"
                     styleClass="table_info dataTable"
                     id="dataTableBonLivraisonValidationId" >

            <h:column rendered="#{ empty attributeExclud['blValidation.s1.id']}">
                <f:facet name="header">#{txt['blValidation.s1.id.label']}</f:facet>
                <h:outputText value="#{o.id}" />
            </h:column>


            <h:column rendered="#{ empty attributeExclud['blValidation.s1.customerName']}">
                <f:facet name="header">#{txt['blValidation.s1.customerName.label']}</f:facet>
                <h:outputText value="#{o.customerFullName}" />
            </h:column>


            <h:column rendered="#{ empty attributeExclud['blValidation.s1.description']}">
                <f:facet name="header">#{txt['blValidation.s1.description.label']}</f:facet>
                <h:outputText value="#{o.description}" />
            </h:column>



            <h:column rendered="#{ empty attributeExclud['blValidation.s1.sumQuantity']}">
                <f:facet name="header">#{txt['blValidation.s1.sumQuantity.label']}</f:facet>
                <h:outputText value="#{o.sumQuantity}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['blValidation.s1.sumTotalPriceBuy']}">
                <f:facet name="header">#{txt['blValidation.s1.sumTotalPriceBuy.label']}</f:facet>
                <h:outputText value="#{o.sumTotalPriceBuy}" />
            </h:column>



            <h:column rendered="#{empty attributeExclud['blValidation.s1.option']}">

                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['expense.s1.edit']}">

                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="orderId" value="#{o.id}" />

                    <f:ajax execute="@form" 
                            event="click"
                            render="@form" 
                            listener="#{pageManagerBean.beansMap['15'].showDetail}"/>

                </h:commandLink>

            </h:column>

        </h:dataTable>


    </h:panelGroup>



    <h:panelGroup rendered="#{pageManagerBean.beansMap['15'].showForm}">



        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['blValidation.s2.title']}</span>
        </div>


        <ms:myStockComboBox itemCode="blValidation.s2.customer"
                            beanProperty="#{pageManagerBean.beansMap['15'].customer}"
                            beanList="#{pageManagerBean.beansMap['15'].customerItems}" />

        <ms:myStockTextArea itemCode="blValidation.s2.description"
                            beanProperty="#{pageManagerBean.beansMap['15'].description}" />


        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_red" value="Cancel">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['15'].cancelDetail}"/>

            </h:commandButton>

        </div>

        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['blValidation.s4.title']}</span>
        </div>


        <h:dataTable value="#{pageManagerBean.beansMap['15'].vSmOrderLineList}" var="r"
                     styleClass="table_info dataTable"
                     id="dataTableBonLivraisonId" >

            <h:column rendered="#{ empty attributeExclud['blValidation.s4.reference']}">
                <f:facet name="header">#{txt['blValidation.s4.reference.label']}</f:facet>
                <h:outputText value="#{r.reference}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['blValidation.s4.color']}">
                <f:facet name="header">#{txt['blValidation.s4.color.label']}</f:facet>
                <h:outputText value="#{r.productColorName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['blValidation.s4.size']}">
                <f:facet name="header">#{txt['blValidation.s4.size.label']}</f:facet>
                <h:outputText value="#{r.productSizeName}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['blValidation.s4.price']}">
                <f:facet name="header">#{txt['blValidation.s4.price.label']}</f:facet>
                <h:outputText value="#{r.unitPriceBuy}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['blValidation.s4.quantity']}">
                <f:facet name="header">#{txt['blValidation.s4.quantity.label']}</f:facet>
                <h:outputText value="#{r.quantity}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['blValidation.s4.totalPriceBuy']}">
                <f:facet name="header">#{txt['blValidation.s4.totalPriceBuy.label']}</f:facet>
                <h:outputText value="#{r.totalPriceBuy}" />
            </h:column>


            <h:column rendered="#{empty attributeExclud['blValidation.s5.option']}">

                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

            </h:column>

        </h:dataTable>


        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['blValidation.s5.title']}</span>
        </div>
        <table class="table_info">
            <tr>
                <th>#{txt['blValidation.s5.sumQuantity.label']}</th>
                <td>#{pageManagerBean.beansMap['15'].vSmOrderSummary.sumQuantity}</td>
            </tr>
            <tr>
                <th>#{txt['blValidation.s5.sumTotal.label']}</th>
                <td>#{pageManagerBean.beansMap['15'].vSmOrderSummary.sumTotalPriceBuy}</td>
            </tr>
        </table>
        <div class="clear"></div>
        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">#{txt['blValidation.s6.title']}</span>
        </div>
        <table class="table_info">
            <tr>
                <th>Prochainement ...</th>
            </tr>
        </table>


<div class="box_btn">

            <h:commandButton  styleClass="btn btn_red" value="Cancel">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['15'].cancelDetail}"/>

            </h:commandButton>

        </div>


    </h:panelGroup>
    <style>
        .actifRow1{
            background-color:#feecab;
            font-weight: bold;
        }
    </style>
    <script>

        jQuery(document).ready(function () {

            var activeRow = jQuery("#activeRow");

            if (activeRow !== null) {

                var coChildTd = jQuery(activeRow).parent().parent().children();

                for (i = 0; i&lt; coChildTd.length; i++)
                        jQuery(coChildTd[i]).addClass('actifRow');
            }

        });
    </script>

</div>

