<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>

        <title>404</title>
        <ui:include src="/templates/ressources.xhtml"/>
    </h:head>

    <body class="body_erreur">
        <header class="header" >
            <h1>404</h1>
        </header>
        <br />
        <a href="index.xhtml" class="btn btn_blue btn_large" > go to back </a>
        <script>
            $(".loading-overlay").fadeOut("slow");
            $(".loading").fadeOut("slow");
        </script>
    </body>
</html>
