<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ms="http://www.myStock.ma">

    <h:head>

        <title>Exception</title>
        <ui:include src="/templates/ressources.xhtml"/>
    </h:head>

    <body class="body_exception">
        <header class="header_exception" >
            <h1>#{ms:getSession('EXP_TITLE')}</h1>
        </header>
        <br /><br/><br/>
        <a href="index.xhtml" class="btn btn_blue btn_large" > #{ms:getSession('EXP_MSG')} </a>
        <br/><br/><br/><br/><br/><br/>
        <a href="servlet/logout" class="btn btn_red btn_large" > Logout </a>
        <a href="module.xhtml" class="btn btn_red btn_large" > Module </a>
        <a href="index.xhtml" class="btn btn_red btn_large" > Index </a>
        <script>
            $(".loading-overlay").fadeOut("slow");
            $(".loading").fadeOut("slow");
        </script>
    </body>
</html>
