<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ms="http://www.myStock.ma">

    <h:head>
        <meta charset="utf-8"/>
        <title>MyStock - Plateforme pour la gestion de stock en ligne</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <link rel="shortcut icon" href="#{ms:getImages()}/icons1.ico?var=#{ms:getRandomValue()}" />

        <!-- animate css -->
        <link rel="stylesheet" href="#{ms:getHomeStyle()}/css/animate.min.css"/>
        <!-- bootstrap css -->
        <link rel="stylesheet" href="#{ms:getHomeStyle()}/css/bootstrap.min.css"/>
        <!-- font-awesome -->
        <link rel="stylesheet" href="#{ms:getHomeStyle()}/css/font-awesome.min.css"/>
        <!-- google font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css' />

        <!-- custom css -->
        <link rel="stylesheet" href="#{ms:getHomeStyle()}/css/templatemo-style.css"/>

    </h:head>
    <h:body>
        <!-- start preloader -->
        <div class="preloader">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
        </div>
        <!-- end preloader -->
        <!-- start navigation -->
        <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">My Stock</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right text-uppercase">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#feature">FONCTIONNALITES</a></li>
                        <li><a href="#pricing">Tarif</a></li>
                        <li><a href="#download">Essai Gratuit</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
        <!-- start home -->
        <section id="home">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                            <h1 class="text-upper">Plateforme pour la gestion de stock en ligne</h1>
                            <p class="tm-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non dictum justo. Nunc pretium lorem at tellus rhoncus ullamcorper. Duis laoreet convallis dapibus. Cras egestas tortor velit, Cras egestas tortor velit.<a rel="nofollow" href="#" target="_parent">templatemo</a>. Images by <a rel="nofollow" href="http://pixabay.com" target="_blank">Pixabay</a></p>
                            <img src="#{ms:getHomeStyle()}/images/software-img.png" class="img-responsive" alt="home img"/>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->
        <!-- start divider -->
        <section id="divider">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                        <i class="fa fa-fighter-jet"></i>
                        <h3 class="text-uppercase">La rapidité</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                        <i class="fa fa-user-secret"></i>
                        <h3 class="text-uppercase">La sécurité</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                        <i class="fa fa-desktop"></i>
                        <h3 class="text-uppercase">l'Accessibilité</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
                        <i class="fa fa-check-square-o"></i>
                        <h3 class="text-uppercase">L'efficacité</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end divider -->

        <!-- start feature -->
        <section id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                        <h2 class="text-uppercase">Caractéristiques de notre logiciel</h2>
                        <p>Avec My Stock vous aurez : .</p>
                        <p><i class="fa fa-mobile"></i><b>Les notifications par courriel : </b>garder votre équipe et les clients mis à jour avec des notifications sur les mises à jour d'émission, la résolution ou commentaires.</p>
                        <p><i class="fa fa-mobile"></i><b>Les notifications par courriel : </b>garder votre équipe et les clients mis à jour avec des notifications sur les mises à jour d'émission, la résolution ou commentaires.</p>
                        <p><i class="fa fa-mobile"></i><b>Les notifications par courriel : </b>garder votre équipe et les clients mis à jour avec des notifications sur les mises à jour d'émission, la résolution ou commentaires.</p>
                        <p><i class="fa fa-mobile"></i><b>Les notifications par courriel : </b>garder votre équipe et les clients mis à jour avec des notifications sur les mises à jour d'émission, la résolution ou commentaires.</p>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                        <img src="#{ms:getHomeStyle()}/images/software-img.png" class="img-responsive" alt="feature img"/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end feature -->

        <!-- start feature1 -->
        <section id="feature1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <img src="#{ms:getHomeStyle()}/images/software-img.png" class="img-responsive" alt="feature img"/>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="text-uppercase">More of Your Software</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
                        <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
                        <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end feature1 -->

        <!-- start pricing -->
        <section id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceIn">
                        <div style="font-size: 18px; font-weight: bold;">
                            Une tarification simple, adaptée à l'activité de votre entreprise.
                        </div>
                        <h2 class="text-uppercase">Offres et tarifs</h2>

                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s" style="display: none;">
                        <div class="pricing text-uppercase">
                            <div class="pricing-title">
                                <h4>Plan Basic</h4>
                                <p>100 DH H.T / mois</p>
                                <small class="text-lowercase">Maximum 3 utilisateurs</small><br />
                                <small class="text-lowercase">Maximum 1 modules</small>
                            </div>
                            <ul>
                                <li>2 GB Space</li>
                                <li>200 GB Bandwidth</li>
                                <li>20 More Themes</li>
                                <li>Lifetime Support</li>
                            </ul>
                            <button class="btn btn-primary text-uppercase">Sign up</button>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s"  style="display: none;">
                        <div class="pricing active text-uppercase">
                            <div class="pricing-title">
                                <h4>Plan Business</h4>
                                <p>200 DH H.T / mois</p>
                                <small class="text-lowercase">Maximum 5 utilisateurs</small><br />
                                <small class="text-lowercase">Maximum 3 modules</small>
                            </div>
                            <ul>
                                <li>5 GB space</li>
                                <li>500 GB Bandwidth</li>
                                <li>50 More Themes</li>
                                <li>Lifetime Support</li>
                            </ul>
                            <button class="btn btn-primary text-uppercase">Sign up</button>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s" style="width: 100%;">
                        <div class="pricing text-uppercase">
                            <div class="pricing-title">
                                <h4> * Plan Pro</h4>
                                <p>  </p>
                            </div>

                            <ul>
                                <li>Aucune installation à prévoir</li>
                                <li>Sécurisation des transferts de données avec cryptage SSL</li>
                                <li>Nombre d'utilisateurs illimité sans surcoût</li>
                                <li>La maintenance et les mises à jour</li>
                                <li>L’administration système 24h/24 7j/7</li>
                                <li>Le support technique par téléphone et par email</li>
                                <li>Un contrat de niveau de service garantissant un temps de disponibilité de 99,9 %</li>
                            </ul>
                            <button class="btn btn-primary text-uppercase">Sign Up</button>
                        </div>
                    </div>

                </div>
                <br />
                <div style="float: left;">
                    <ul>
                        <li>* Le prix est hors taxe.</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end pricing -->

        <!-- start download -->
        <section id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                        <h2 class="text-uppercase">À propos du MyStock</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                        <a href="demo/login.xhtml" class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Démo</a>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                        <img src="#{ms:getHomeStyle()}/images/software-img.png" class="img-responsive" alt="feature img"/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end download -->

        <!-- start contact -->
        <section id="contact">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="text-uppercase">Contact Us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                            <address>
                                <p><i class="fa fa-map-marker"></i>1234 Street Name, City Name, United States</p>
                                <p><i class="fa fa-phone"></i> 0992 234234 / 0234 234234</p>
                                <p><i class="fa fa-envelope-o"></i> hello@yoursite.com</p>
                            </address>
                        </div>
                        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="contact-form">
                                <form action="#" method="post">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Name" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="Email" />
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" placeholder="Subject" />
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="submit" class="form-control text-uppercase" value="Send" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact -->

        <!-- start footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <p>Copyright © 2016 Saas212 | Module :  <a href="#" target="_parent">MyStock</a></p>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <script src="#{ms:getHomeStyle()}/js/jquery.js"></script>
        <script src="#{ms:getHomeStyle()}/js/bootstrap.min.js"></script>
        <script src="#{ms:getHomeStyle()}/js/wow.min.js"></script>
        <script src="#{ms:getHomeStyle()}/js/jquery.singlePageNav.min.js"></script>
        <script src="#{ms:getHomeStyle()}/js/custom.js"></script>
    </h:body>
</html>