<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:ms="http://www.myStock.ma"
      
      xml:lang="en" lang="en">

    <ui:composition  template="/templates/template.xhtml">

        <ui:define name="header"><ui:include src="/templates/header.xhtml"/></ui:define>
        <ui:define name="header"><ui:include src="/templates/subHeader.xhtml"/></ui:define>
        <ui:define name="menu"><ui:include src="/templates/menu.xhtml"/></ui:define>
        <ui:define name="breadCrumb"><ui:include src="templates/breadCrumb.xhtml"/></ui:define>
        <ui:define name="content"><ui:include src="/templates/composition.xhtml"/></ui:define>
         
        
    </ui:composition>
</html>
