<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ms="http://www.myStock.ma"
      xml:lang="en" lang="en">

    <h:head>
        <title>#{config['1']} PDF</title>
        <meta charset="UTF-8" />

        <link rel="shortcut icon" href="#{ms:getImages()}/iconPDF.ico?var=#{ms:getRandomValue()}" />

        <script src="#{ms:getJs()}/jquery-2.1.1.js?var=#{ms:getRandomValue()}"></script>

        <meta name="viewport" content="width=device-width" />

        <!-- Style generale -->
        <link rel="stylesheet" type="text/css" href="#{ms:getCss()}/stylePDF.css?var=#{ms:getRandomValue()}" />

        <style>
            .mainPdf{
                padding: 10px;
                #{pdfManagerBean.outputTypeParam eq 'pdf' ? 'font-size: 11px;' : ''}  
            }
            .tablePdf{
                margin: auto;
                width: 90%;
                border-collapse: collapse;

            }
            .tablePdf th{
                background-color: #eee;
                #{pdfManagerBean.outputTypeParam eq 'pdf' ? 'height: 30px;' : 'height: 50px;'}
                text-align: center;
            }
            .tablePdf td{
                padding: 5px;
            }
            .tablePdf, .tablePdf th, .tablePdf td{
                border: 1px solid black;
            }

            .tableResumePdf{
                margin-right: 5%;
                width: 40%;
                border-collapse: collapse;
                float:right;
            }
            .tableResumePdf th{
                background-color: #eee;
                #{pdfManagerBean.outputTypeParam eq 'pdf' ? 'height: 20px;' : 'height: 35px;'}
                text-align: left;
                padding-left: 10px;
            }
            .tableResumePdf td{
                padding-left: 10px;
            }
            .tableResumePdf, .tableResumePdf th, .tableResumePdf td{
                border: 1px solid black;
            }

            .messagePdf{
                padding: 5px;
            }
            .titlePdf{
                font-size: 30px;
                text-align: center;
                font-weight: bold;
            }
            .keyValuePdf{
                margin-left: 20px;
                border-collapse: collapse;
                width: 40%;
            }
            .keyValuePdf th{
                font-weight: bold;
                padding: 5px;
                text-align: left;
                width: 40%;
            }
        </style>
    </h:head>
    <h:body >
        <h:form>
            <h4 style="text-align: center; display: none;">#{pg.id} - #{pg.name} - /compositions/#{pdfManagerBean.jsp}</h4>
            
            <ui:include src="/compositions/#{pdfManagerBean.jsp}"/>
            <center>
                <h:panelGroup rendered="#{(pdfManagerBean.outputTypeParam eq 'html') and false}">
                    <a href="index.xhtml" class=".btnPdf" > Revenir à la page précédente  </a><br />
                </h:panelGroup>
            </center>
        </h:form>
    </h:body>
</html>