<!DOCTYPE html>
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ms="http://www.myStock.ma">

    <h:head>
        <ui:include src="/templates/ressources.xhtml"/>
        <title>Saas212 :  Gérez vos activités en ligne</title>
    </h:head>
    <h:body>
        <h:form id="formLoginId">
            <header class="header">
                
                
                <!-- à supprimer -->
                <a href="folder.html" style="display: none;"><img src="#{ms:getImages()}/logo.png" id="logo" /></a>
                
                
                <a href="#"><h2 class="logo_text">Gérez vos activités en ligne <!-- #{paramClient['1']} --> </h2></a>
                 
            </header>
            <div class="content">
                <div id="box">
                    <div class="box_title" >
                        <!-- #{txt['login.s1.title']} :  -->
                        <span>Bienvenue dans votre <b>gestion des stocks</b></span>
                    </div>
                    <div class="box_content">
                        <div id="notification_login"><br />
                            <div class="notification_Success notification" style="display: none;"><!-- _Success -->
                                <span class="close hide_Success" ><b>x</b></span>
                                <ul class="list_notification_Success">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </div>
                            <h:panelGroup rendered="#{not empty loginBean.messages}" >
                                <div class="notification_Error notification"><!--_Error-->
                                    <span class="close hide_Error"><b>x</b></span>
                                    <c:forEach items="#{loginBean.messages}" var="message">
                                        <ul class="list_notification_Error">
                                            <li><h:outputText  escape="true" value="#{message.value}" /></li>
                                        </ul>
                                    </c:forEach>
                                </div>
                            </h:panelGroup>
                            <div class="notification_Warning notification"  style="display: none;"><!--_Warning-->
                                <span class="close hide_Warning"><b>x</b></span>

                                <ul class="list_notification_Warning">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </div>
                            <div class="notification_Information notification" style="display: none;"><!--_Information-->
                                <span class="close hide_Information"><b>x</b></span>
                                <ul class="list_notification_Information">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </div>
                            <div class="notification_Note notification"  style="display: none;"><!--_Note-->
                                <span class="close hide_Note" id="close"><b>x</b></span>
                                <ul class="list_notification_Note">
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </div>

                            <div class="notification_Note notification" style="margin-top: 5px; display: none;" >
                                <span class="close hide_Note" id="close"><b>x</b></span>
                                <ul class="list_notification_Note">
                                    <li><h:outputText value="#{txt['globals.list.vide.label']}" /></li>
                                </ul>
                            </div>

                        </div>
                        <div id="login">
                            <div class="log_in">
                                <div class="text_log">
                                    <span title="Username">
                                        E-mail 
                                        <!--
                                        #{txt['login.s1.username.label']}
                                         -->
                                    </span>
                                </div>
                                <div class="zone_log">
                                    <!-- #{txt['login.s1.username.placeholder']}  -->
                                    <h:inputText pt:placeholder="" 
                                                 id="usernameId"
                                                 value="#{loginBean.username}"
                                                 class="inputText"/>

                                </div>
                            </div>			
                            <div class="clear"></div>						
                            <div class="log_in">
                                <div class="text_log pas" >
                                    <span title="Password">
                                        Mot de passe
                                        <!--
                                        #{txt['login.s1.password.label']}
                                        -->
                                    </span>
                                </div>
                                <div class="zone_log pas" >
                                    <h:inputSecret id="passwordId" 
                                                   value="#{loginBean.password}"
                                                   class="inputText"/>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div id="aide">
                            <ul>
                                <li style="display: none;"><a href="forgotPassword.xhtml" class="aide" >
                                        
                                        <!--
                                        #{txt['login.s1.forgetPassword.label']}
                                        -->
                                    </a></li>
                                <li><a href="#{config['6']}" target="_blank" class="aide" >
                                        
                                        Obtenir d'un compte
                                        <!--
                                        #{txt['login.s1.getAccount.label']}
                                        -->
                                        
                                        </a></li>
                            </ul>
                        </div>

                        <div id="in_put">
                            <div id="check">
                                
                                <div style="display: none;">
                                        <input type="checkbox" class="check_input" id="ch" /><label for="ch" >#{txt['login.s1.sessionActive.label']}</label>
                           
                                </div>
                             </div>
                            <!-- #{txt['login.s1.login.label']} -->
                            <div class="bottom_login">
                                <h:commandButton actionListener="#{loginBean.login}" 
                                                 value="Se connecter" 
                                                 class="input_login" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <span><center id="fot" >#{config['2']}  - <a href="#{config['5']}" target="_blanck" class="Copyright">#{config['3']}</a></center></span>
            </div>
            <script>
                $(".loading-overlay").fadeOut("slow");
                $(".loading").fadeOut("slow");
            </script>
        </h:form>
    </h:body>
</html>

