<!DOCTYPE html >
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:ns="http://java.sun.com/jsf/composite/components"
      xmlns:ms="http://www.myStock.ma">
    <h:head>
        <ui:include src="/templates/ressources.xhtml"/>
        <title>Saas212 :  Gérez vos activités en ligne</title>
    </h:head>
    <h:body>

    </h:body>
    <f:view>
        <h:form id="formsModuleId">

            <header class="header">
                <!-- à supprimer -->
                <a style="display: none;" href="#"><img src="#{ms:getImages()}/logo.png" id="logo" /></a>
                <a href="#"><h2 class="logo_text">
                        
                        Gérez vos activités en ligne
                        </h2></a>
            </header>

            <div class="content_folder">
             

                    <div  class="folder_all">

                        <div class="box_title" style="margin-bottom: 10px;" > <span>La liste des modules</span> </div>

                        <c:forEach var="modules" items="#{moduleBean.moduleHelperList}" >

                            <div class="notification_Information notification" style="text-align: left; display: none;"><!--_Information-->
                                <span class="close hide_Information"><b>x</b></span>
                                <ul class="list_notification_Information">
                                    <li>La liste des modules pour le <b>#{modules.moduleTypeName}</b></li>
                                </ul>
                            </div>

                            <div class="clear" style="display: none;"></div>
                            <c:forEach var="module" items="#{modules.vCltUserModuleList}" >

                                <div class="box_folder">
                                    <span>#{module.moduleName}</span>
                                    <img src="#{ms:getData()}/images/modules/#{module.moduleImagePath}?var=#{ms:getRandomValue()}"/>
                                    <!-- (#{module.moduleId}) -->
                                    <h:commandLink  action="#{moduleBean.selectModule()}" value="#{txt['module.s1.access.label']} " immediate="true" >
                                        <f:param name="menuId" value="#{module.moduleId}" />
                                        <f:setPropertyActionListener value="#{module}" target="#{moduleBean.vCltUserModule}" />
                                    </h:commandLink>

                                </div>
                                <div class="phone_height"></div>

                            </c:forEach>
                            <div class="clear" style="display: none;"></div>
                        </c:forEach>

                        <h:panelGroup rendered="#{empty moduleBean.moduleHelperList}">

                            <div class="notification_Information notification" style="text-align: left;"><!--_Information-->
                                <span class="close hide_Information"><b>x</b></span>
                                <ul class="list_notification_Information">
                                    <li>Veuillez connectaer l'admin </li>
                                </ul>
                            </div>

                            <br />
                            <br />
                            <center><p>Vous n'avez aucun module à consulter. </p></center>
                            <br />
                            <br />
                        </h:panelGroup>

                        <div class="clear"></div>  

                    </div>

                    <div class="clear"></div>

                <div class="clear"></div>
                <span>
                    <div id="fot" >

                        <!-- copyright -->
                        #{config['2']} <a href="#{config['5']}" class="Copyright">#{config['3']}</a><br/><br/>
                        <!-- Logout -->
                        <a href="#{ms:getContextPath()}/servlet/logout" class="Copyright">#{txt['module.s1.logout.label']} </a>
                        |
                        <a href="#{config['4']}" class="Copyright">Vider le cache </a>
                        
                    </div>
                </span>
            </div>	
        </h:form>

        <div style="display: none;">
            <ns:inputText  disabled="false " value="z"  />
        </div>
        <script>
            $(".loading-overlay").fadeOut("slow");
            $(".loading").fadeOut("slow");
        </script>
    </f:view>
</html>

