<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">



    <h2 style="padding-left: 10px; margin-bottom: 5px;" >Dashboard <p style="font-size: 14px; display: inline;"> Saas212 Platform </p></h2>
    <style>
        .col-md-3 {
            width: 25%;
        }
        .col-sm-6 {
            width: 50%;
        }
        .co
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }
        .l-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
            float: left;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            min-height: 1px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
        }

        .info-tiles.tiles-danger {
            color: #ffffff !important;
        }
        a.info-tiles, a.shortcut-tiles {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }
        .info-tiles, .shortcut-tiles {
            border-radius: 3px;
            display: block;
            margin: 0 0 20px;
        }
        a {
            cursor: pointer;
            outline: medium none;
        }
        a {
            color: #4697ce;
            text-decoration: none;
        }
        a {
            background: transparent none repeat scroll 0 0;
        }
        * {
            box-sizing: border-box;
        }

        .info-tiles.tiles-danger .tiles-heading {
            background: #ec7e7e none repeat scroll 0 0;
        }
        .info-tiles .tiles-heading {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-size: 11px;
            letter-spacing: 0.1em;
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .info-tiles.tiles-danger .tiles-body {
            background: #e75a5a none repeat scroll 0 0;
        }
        .info-tiles .tiles-body-alt, .info-tiles .tiles-body {
            font-weight: 300;
            padding: 15px;
        }
        .info-tiles .tiles-body {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 32px;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .pull-left {
            float: left;
        }
        .pull-left {
            float: left !important;
        }

        .info-tiles .tiles-body-alt i, .info-tiles .tiles-body i {
            color: rgba(255, 255, 255, 0.4);
            font-size: 32px;
            transition: all 0.06s ease-in 0s;
        }
        .fa {
            font-size: 1.07692em;
        }
        .fa {
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }

        .pull-right {
            float: right;
        }
        .pull-right {
            float: right !important;
        }
        * {
            box-sizing: border-box;
        }

        .info-tiles.tiles-indigo {
            color: #ffffff !important;
        }
        a.info-tiles, a.shortcut-tiles {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }
        .info-tiles, .shortcut-tiles {
            border-radius: 3px;
            display: block;
            margin: 0 0 20px;
        }

        .info-tiles.tiles-indigo .tiles-heading {
            background: #a573ba none repeat scroll 0 0;
        }
        .info-tiles .tiles-heading {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-size: 11px;
            letter-spacing: 0.1em;
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }
        * {
            box-sizing: border-box;
        }

        .tiles-heading::before, .tiles-body::before, .tiles-footer::before, .tiles-heading::after, .tiles-body::after, .tiles-footer::after {
            content: " ";
            display: table;
        }
        .tiles-heading::before, .tiles-body::before, .tiles-footer::before, .tiles-heading::after, .tiles-body::after, .tiles-footer::after {
            content: " ";
            display: table;
        }
        *::before, *::after {
            box-sizing: border-box;
        }
        .tiles-heading::after, .tiles-body::after, .tiles-footer::after {
            clear: both;
        }

        .info-tiles.tiles-indigo .tiles-body {
            background: #9358ac none repeat scroll 0 0;
        }
        .info-tiles .tiles-body-alt, .info-tiles .tiles-body {
            font-weight: 300;
            padding: 15px;
        }
        .info-tiles .tiles-body {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 32px;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .info-tiles.tiles-success {
            color: #ffffff !important;
        }
        a.info-tiles, a.shortcut-tiles {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }
        .info-tiles, .shortcut-tiles {
            border-radius: 3px;
            display: block;
            margin: 0 0 20px;
        }

        .info-tiles.tiles-success .tiles-body {
            background: #7dcc93 none repeat scroll 0 0;
        }
        .info-tiles .tiles-body-alt, .info-tiles .tiles-body {
            font-weight: 300;
            padding: 15px;
        }
        .info-tiles .tiles-body {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 32px;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .info-tiles.tiles-success .tiles-heading {
            background: #9ad7ab none repeat scroll 0 0;
        }
        .info-tiles .tiles-heading {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-size: 11px;
            letter-spacing: 0.1em;
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .info-tiles .tiles-heading .pull-right {
            color: rgba(255, 255, 255, 0.4);
            transition: all 0.06s ease-in 0s;
        }

        .info-tiles.tiles-success .tiles-body {
            background: #7dcc93 none repeat scroll 0 0;
        }
        .info-tiles .tiles-body-alt, .info-tiles .tiles-body {
            font-weight: 300;
            padding: 15px;
        }
        .info-tiles .tiles-body {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 32px;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .pull-left {
            float: left;
        }
        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right;
        }
        .pull-right {
            float: right !important;
        }

        .info-tiles.tiles-midnightblue {
            color: #ffffff !important;
        }
        a.info-tiles, a.shortcut-tiles {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        }
        .info-tiles, .shortcut-tiles {
            border-radius: 3px;
            display: block;
            margin: 0 0 20px;
        }

        .info-tiles.tiles-midnightblue .tiles-heading {
            background: #39516c none repeat scroll 0 0;
        }
        .info-tiles .tiles-heading {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-size: 11px;
            letter-spacing: 0.1em;
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

        .info-tiles.tiles-midnightblue .tiles-body {
            background: #2b3d51 none repeat scroll 0 0;
        }
        .info-tiles .tiles-body-alt, .info-tiles .tiles-body {
            font-weight: 300;
            padding: 15px;
        }
        .info-tiles .tiles-body {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 32px;
        }
        .tiles-heading, .tiles-body, .tiles-footer {
            transition: all 0.05s ease-in 0s;
        }

    </style>
    <div class="row" style="clear: both;" >

        <!--
        <div class="accordion">
                <div class="accordion__title">
                    <img width="16" height="16" src="#{ms:getImages()}/generale.png"/>
                    <span>General</span>
                </div>
                <div class="accordion__content" style="display: none;"><div class="overflow-scrolling">
<br/><br/><br/><br/><br/><br/><br/><br/><br/>                </div></div>
                <div class="accordion__title">
                    <img width="16" height="16" src="#{ms:getImages()}/man.png"/>
                    <span>Evolution du stock</span>
                </div>
                <div class="accordion__content" style="display: none;"><div class="overflow-scrolling">
<br/><br/><br/><br/><br/><br/><br/><br/><br/>                </div></div>
                <div class="accordion__title">
                    <img width="16" height="16" src="#{ms:getImages()}/s2.png"/>
                    <span>Details</span>
                    </div>
                <div class="accordion__content" style="display: none;"><div class="overflow-scrolling">
<br/><br/><br/><br/><br/><br/><br/><br/><br/>                </div></div>
                <div class="accordion__title active">
                    <img width="16" height="16" src="#{ms:getImages()}/s3.png"/>
                    <span>Relations</span>
                <div class="accordion__content" style="display: none;"><div class="overflow-scrolling">
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </div></div>
                </div>

                <div c vlass="accordion__content" style="display: block;"><div class="overflow-scrolling">

                    <div class="clear"></div>
                </div></div>
                <div class="clear"></div>
            </div>
        -->
        <br />
        <div class="col-md-3 col-sm-61">
            <a href="#" class="info-tiles tiles-danger">
                <div class="tiles-heading">
                    <div class="pull-left">Commande</div>
                    <div class="pull-right" style="display: none;">-8.5%</div>
                </div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-building-o"></i></div>

                    <div class="pull-right timercountTo"
                         data-to="#{widgetsBean.vSmOrderDetails.orderSupplierValidatedCount}" ></div>


                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-61">
            <a href="#" class="info-tiles tiles-indigo">
                <div class="tiles-heading">
                    <div class="pull-left">Réception</div>
                    <div class="pull-right" style="display: none;">+25.8%</div>
                </div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-shopping-cart"></i></div>

                    <div class="pull-right timercountTo"
                         data-to="#{widgetsBean.vSmOrderDetails.receptionValidatedCount}" ></div>

                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-61">
            <a href="#" class="info-tiles tiles-success">
                <div class="tiles-heading">
                    <div class="pull-left">Ventes</div>
                    <div class="pull-right" style="display: none;">+4.5%</div>
                </div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-money"></i></div>

                    <div class="pull-right timercountTo"
                         data-to="#{widgetsBean.vSmOrderDetails.orderValidatedCount}" ></div>

                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-61">
            <a href="#" class="info-tiles tiles-midnightblue">
                <div class="tiles-heading">
                    <div class="pull-left">Retour</div>
                    <div class="pull-right" style="display: none;">-9.8%</div>
                </div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-bug"></i></div>


                    <div class="pull-right timercountTo"
                         data-to="#{widgetsBean.vSmOrderDetails.returnReceiptValidatedCount}" ></div>

                </div>
            </a>
        </div>
    </div>
    <br />
    <div class="clear" />
    
    

    <h5 style="padding-left: 10px;">Prix  </h5>
    <canvas id="priceByMonth" width="6" height="2.5"></canvas>

    <h5 style="padding-left: 10px;">Qté d'article </h5>
    <canvas id="countProductByMonth" width="6" height="2.5"></canvas>

    <br /> 

    <h5 style="padding-left: 10px;">Altert  </h5>

    <h:dataTable value="#{widgetsBean.vSmProductAlertList}" var="o"
                 styleClass="table_info dataTable"  >

        <h:column >
            <f:facet name="header">#{txt['p008.s2.reference.label']}</f:facet>
            <h:outputText value="#{o.reference}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p008.s2.designation.label']}</f:facet>
            <h:outputText value="#{o.designation}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p008.s2.quantity.label']}</f:facet>
            <h:outputText value="#{o.quantity}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p008.s2.threshold.label']}</f:facet>
            <h:outputText value="#{o.threshold}" />
        </h:column>

        <h:column >
            <f:facet name="header">#{txt['p008.s2.totalCommanded.label']}</f:facet>
            <h:outputText value="#{o.totalCommanded}" />
        </h:column>


        <h:column >
            <f:facet name="header">#{txt['p008.s2.totalRecieved.label']}</f:facet>
            <h:outputText value="#{o.totalRecieved}" />
        </h:column>

    </h:dataTable>


    <script>


        var ctx1 = document.getElementById("priceByMonth");

        var myChart = new Chart(ctx1, {
            type: 'line',
            data: {
                //labels: ["January", "February", "March", "April", "May", "June","January", "February", "March", "April", "May", "June"],
                 labels: [#{widgetsBean.priceByMonthValue}],
                datasets: [
                    {
                        label: "Les achats",
                        backgroundColor: "rgba(240,128,128,0.4)",
                        borderColor: "rgba(255,99,132,1)",
                        borderWidth: 1,
                        hoverBackgroundColor: "rgba(255,99,132,0.9)",
                        hoverBorderColor: "rgba(255,99,132,1)",
                        //data: [65, 59, 80, 81, 56, 55,65, 59, 80, 81, 56, 55]
                         data: [#{widgetsBean.priceByMonthBuy}]
                    },
                    {
                        label: "Les ventes",
                        backgroundColor: "rgba(251,80,120,0.1)",
                        borderColor: "rgba(255,70,110,1)",
                        borderWidth: 1,
                        hoverBackgroundColor: "rgba(255,99,132,0.4)",
                        hoverBorderColor: "rgba(255,99,132,1)",
                        //data: [10, 150, 30, 40, 10, 5, 200, 150, 30, 40, 10, 5, 200]
                         data: [#{widgetsBean.priceByMonthSale}]
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                }
            }
        });

        var ctx1 = document.getElementById("countProductByMonth");

        var myChart = new Chart(ctx1, {
            type: 'bar',
            data: {
                //labels: ["January", "February", "March", "April", "May", "June","January", "February", "March", "April", "May", "June"],
                 labels: [#{widgetsBean.countProductByMonthValue}],
                datasets: [
                    {
                        label: "Les achats",
                        backgroundColor: "rgba(11,98,164,0.3)",
                        borderColor: "rgba(11,98,164,1)",
                        borderWidth: 1,
                        hoverBackgroundColor: "rgba(11,98,164,0.8)",
                        hoverBorderColor: "rgba(11,98,164,1)",
                        //data: [65, 59, 80, 81, 56, 55,65, 59, 80, 81, 56, 55]
                         data: [#{widgetsBean.countProductByMonthBuy}]
                    },
                    {
                        label: "Les ventes",
                        backgroundColor: "rgba(136,136,136,0.3)",
                        borderColor: "rgba(136,136,136,1)",
                        borderWidth: 1,
                        hoverBackgroundColor: "rgba(136,136,136,0.8)",
                        hoverBorderColor: "rgba(136,136,136,1)",
                        //data: [10, 150, 30, 40, 10, 5, 200, 150, 30, 40, 10, 5, 200]
                         data: [#{widgetsBean.countProductByMonthSale}]
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                }
            }
        });

    </script>

</div>

