<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

    <h:panelGroup id="receptionListId" rendered="#{not pageManagerBean.beansMap['19'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">La liste des valeurs - Liste de choix</span>
        </div>

        <div class="clear"></div>

        <div class="row_table_input">
            <div class="name_input">
                <label for="id">  Liste de valeur :  </label>
            </div>

            <div class="table_input" >

                <h:selectOneMenu id="ListId" value="#{pageManagerBean.beansMap['19'].lov}" styleClass="t_input inputSimple" >

                    <f:selectItem itemValue="" itemLabel="" />
                    <f:selectItems value="#{pageManagerBean.beansMap['19'].vInfLovsItem}" />

                    <f:ajax execute="@form" event="change" render="@form" listener="#{pageManagerBean.beansMap['19'].showList}"/>

                </h:selectOneMenu> 

            </div>
        </div>

        <div class="clear"></div>

        <h:dataTable value="#{pageManagerBean.beansMap['19'].lovsDTOList}" var="o"
                     styleClass="table_info dataTable"
                     id="dataTableSupplierId"
                     rendered="#{ empty attributeExclud['supplier.s2']}" >

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Code</f:facet>
                <h:outputText value="#{o.id}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Nom</f:facet>
                <h:outputText value="#{o.name}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['']}">
                <f:facet name="header">Description</f:facet>
                <h:outputText value="#{o.description}" />
            </h:column>

            <h:column rendered="#{ empty attributeExclud['supplier.s2.option']}">

                <f:facet name="header">#{txt['globals.list.option.label']}</f:facet>

                <h:commandLink rendered="#{ empty attributeExclud['']}">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="25" height="25"  />
                    <f:attribute name="itemId" value="#{o.id}" />
                    <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.beansMap['19'].edit}"/>
                </h:commandLink>

            </h:column>

        </h:dataTable>

        <div class="box_btn">
            <h:commandButton  styleClass="btn btn_blue" value="Ajouter" rendered="#{pageManagerBean.beansMap['19'].lov != null and pageManagerBean.beansMap['19'].lov != ''}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['19'].add}"/>

            </h:commandButton>
        </div>
    </h:panelGroup>


    <h:panelGroup id="receptionListId" rendered="#{pageManagerBean.beansMap['19'].showForm}" >

        <div class="table_title">
            <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
            <span class="table_title_text">Ajouter / Modifier une valeur</span>
        </div>

        <div class="clear"></div>

        <ms:myStockInputText itemCode="reception.s2.name"
                             beanProperty="#{pageManagerBean.beansMap['19'].name}"/>

        <ms:myStockTextArea itemCode="reception.s2.description"
                            beanProperty="#{pageManagerBean.beansMap['19'].description}" />

        <ms:myStockSelectOneRadio itemCode="customer.s1.active"
                                  beanProperty="#{pageManagerBean.beansMap['19'].active}"/>

        <div class="box_btn">

            <h:commandButton  styleClass="btn btn_blue" value="Sauvegarder">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.savePartial}"/>

            </h:commandButton>

            <h:commandButton  styleClass="btn btn_red" value="#{txt['globals.forms.cancel.label']}">

                <f:ajax execute="@form"
                        event="action"
                        render="@form"
                        listener="#{pageManagerBean.beansMap['19'].cancel}"/>

            </h:commandButton>


        </div>

    </h:panelGroup>
</div>

