<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma"
     >

    <script type="text/javascript">

        $(document).ready(function () {
            $('#form\\:dataTableInventaireId').DataTable();
        });


    </script>

    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['inventaire.s1.title']} (En cours de developpement)</span>
    </div>
    
    <div class="clear"></div>
    <h:dataTable value="#{pageManagerBean.beansMap['11'].inventaireList}" var="r"
                 styleClass="table_info"
                 id="dataTableInventaireId" >

        
        <h:column rendered="#{ empty attributeExclud['inventaire.s1.reference']}">
            <f:facet name="header">#{txt['inventaire.s1.reference.label']}</f:facet>
            <h:outputText value="#{r.reference}" />
        </h:column>
 
        <h:column rendered="#{ empty attributeExclud['inventaire.s1.designation']}">
            <f:facet name="header">#{txt['inventaire.s1.productColorName.label']}</f:facet>
            <h:outputText value="#{r.productColorName}" />
        </h:column>
        
        <h:column rendered="#{ empty attributeExclud['inventaire.s1.designation']}">
            <f:facet name="header">#{txt['inventaire.s1.productSizeName.label']}</f:facet>
            <h:outputText value="#{r.productSizeName}" />
        </h:column>
        
        <h:column rendered="#{ empty attributeExclud['inventaire.s1.quantity']}">
            <f:facet name="header">#{txt['inventaire.s1.quantity.label']}</f:facet>
            <h:outputText value="#{r.quantity}" />
        </h:column>

        <h:column rendered="#{ empty attributeExclud['inventaire.s1.priceBuy']}">
            <f:facet name="header">#{txt['inventaire.s1.priceBuy.label']}</f:facet>
            <h:outputText value="#{r.priceBuy}" />
        </h:column>

        <h:column rendered="#{empty attributeExclud['inventaire.s1.priceSale']}">
            <f:facet name="header">#{txt['inventaire.s1.priceSale.label']}</f:facet>
            <h:outputText value="#{r.priceSale}" />
        </h:column>

        <h:column rendered="#{empty attributeExclud['inventaire.s1.receptionValidCount']}">
            <f:facet name="header">#{txt['inventaire.s1.receptionValidCount.label']}</f:facet>
            <h:outputText value="#{r.receptionValidCount}" />
        </h:column>

        <h:column rendered="#{empty attributeExclud['inventaire.s1.unitPriceBuyMax']}">
            <f:facet name="header">#{txt['inventaire.s1.unitPriceBuyMax.label']}</f:facet>
            <h:outputText value="#{r.unitPriceBuyMax}" />
        </h:column>

        <h:column rendered="#{empty attributeExclud['inventaire.s1.unitPriceBuyMoyenne']}">
            <f:facet name="header">#{txt['inventaire.s1.unitPriceBuyMoyenne.label']}</f:facet>
            <h:outputText value="#{r.unitPriceBuyMoyenne}" />
        </h:column>

        <h:column rendered="#{empty attributeExclud['inventaire.s1.unitPriceBuyMin']}">
            <f:facet name="header">#{txt['inventaire.s1.unitPriceBuyMin.label']}</f:facet>
            <h:outputText value="#{r.unitPriceBuyMin}" />
        </h:column>

        <h:column rendered="#{empty attributeExclud['inventaire.s1.quantityCount']}">
            <f:facet name="header">#{txt['inventaire.s1.quantityCount.label']}</f:facet>
            <h:outputText value="#{r.quantityCount}" />
        </h:column>

    </h:dataTable>



</div>

