<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
     xmlns:ms="http://www.myStock.ma">

    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['bonLivraison.s1.title']}</span>
    </div>

    <ms:myStockComboBox itemCode="bonLivraison.s1.customer"
                        beanProperty="#{pageManagerBean.beansMap['13'].customer}"
                        beanList="#{pageManagerBean.beansMap['13'].customerItems}" />

    <ms:myStockTextArea itemCode="bonLivraison.s1.description"
                        beanProperty="#{pageManagerBean.beansMap['13'].description}" />

    <div class="clear"></div>
    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">La liste des produits</span>
    </div>
    <div class="clear"></div>
    <h:panelGroup id="panelVSmReceptionProductsListId">
        <h:dataTable styleClass="table_info"
                     id="vSmReceptionProductsListId"
                     value="#{pageManagerBean.beansMap['13'].vSmOrderLineList}" 
                     var="o">
            <h:column>
                <f:facet name="header" >Réf</f:facet>
                <h:outputText value="#{o.reference}" />
            </h:column>
            <h:column>
                <f:facet name="header" >Designation</f:facet>
                <h:outputText value="#{o.designation}" />
            </h:column>
            <h:column>
                <f:facet name="header" >Prix vente</f:facet>
                <h:outputText value="#{o.unitPriceBuy}" />
            </h:column>
            <h:column>
                <f:facet name="header" >Qté</f:facet>
                <h:outputText value="#{o.quantity}" />
            </h:column>
            <h:column>
                <f:facet name="header" >Total</f:facet>
                <h:outputText value="#{o.totalHt}" />
            </h:column>
            <h:column>
                <f:facet name="header" ><h:outputText value="Option" /></f:facet>
                <h:commandLink >
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/write.png" styleClass="image_save_edit" width="20" height="20"  />
                    <f:attribute name="smReceptionProductsId" value="#{o.id}" />
                    <f:ajax execute="@this" event="click" render="@form" 
                            listener="#{pageManagerBean.beansMap['13'].editProduct}"/>
                </h:commandLink>

                <h:outputText value="&#160;&#160;&#160;&#160;" />

                <h:commandLink  onclick="return confirmDelete();">
                    <h:graphicImage  alt=""  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="20" height="20"  />
                    <f:attribute name="smReceptionProductsId" value="#{o.id}" />
                    <f:ajax execute="@this" event="click" render="@form" 
                            listener="#{pageManagerBean.beansMap['13'].deleteProduct}"/>
                </h:commandLink>

                <h:panelGroup rendered="#{pageManagerBean.beansMap['13'].lastProductId  eq o.id}" >
                    <div style="display: none" id="activeRow" />
                </h:panelGroup>
            </h:column>
        </h:dataTable>
    </h:panelGroup>

    <div class="clear"></div>
    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['bonLivraison.s4.title']}</span>
    </div>

    <table class="table_info" style="width: 40%; float: right; margin:10px;">
        <tr>
            <th style="width: 50%;">Nombre d'article</th>
            <td><h:outputText value="#{pageManagerBean.beansMap['13'].summaryQuantityTotal} articles"  /></td>
        </tr>
        <tr>
            <th>Total prix d'achat</th>
            <td><h:outputText value="#{pageManagerBean.beansMap['13'].summaryTotalHtTotal} #{ms:getCurrency()}"  /></td>
        </tr>
        <tr>
            <th>La valeur de T.v.a</th>
            <td><h:outputText value="#{pageManagerBean.beansMap['13'].summaryTva} %"  /></td>
        </tr>
        <tr>
            <th>Le montant de T.va</th>
            <td><h:outputText value="#{pageManagerBean.beansMap['13'].summaryAmount} #{ms:getCurrency()}"  /></td>
        </tr>
        <tr>
            <th>Total TTC</th>
            <td><h:outputText value="#{pageManagerBean.beansMap['13'].summaryTotalTtcTotal} #{ms:getCurrency()}"  /></td>
        </tr>
    </table>

    <div class="clear"></div>
    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['bonLivraison.s2.title']}</span>
    </div>

    <table class="table_info">
        <tr>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.reference']}" >
                <th>#{txt['bonLivraison.s2.reference.label']}</th>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.color']}" >
                <th>Désignation</th>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.unitPriceBuy']}" >
                <th>#{txt['bonLivraison.s2.unitPriceBuy.label']}</th>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.quantity']}" >
                <th>#{txt['bonLivraison.s2.quantity.label']}</th>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.totalTtc']}" >
                <th>#{txt['bonLivraison.s2.totalTtc.label']}</th>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.option']}" >
                <th>#{txt['globals.list.option.label']}</th>
            </h:panelGroup>
        </tr>

        <tr>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.reference']}" >
                <td>
                    <h:inputText style="width: 100%" value="#{pageManagerBean.beansMap['13'].pReference}" id="pReferenceId" >
                        <f:ajax execute="@this" 
                                event="keyup" 
                                render="
                                form:pDesignationId
                                form:pUnitPriceBuyId
                                form:pQuantityId
                                form:pTotalHtId" 
                                listener="#{pageManagerBean.beansMap['13'].findProduct}"/>
                    </h:inputText>
                </td>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.designation']}" >
                <td>
                    <h:inputText  style="width: 100%;" value="#{pageManagerBean.beansMap['13'].pDesignation}" id="pDesignationId" >
                        <f:ajax execute="@form" 
                                event="keyup"
                                render="form:pTotalTtcId" 
                                listener="#{pageManagerBean.beansMap['13'].calculTotal}"/>
                    </h:inputText>
                </td>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.unitPriceBuy']}" >
                <td>
                    <h:inputText  style="width: 100%;" value="#{pageManagerBean.beansMap['13'].pPrice}" id="pUnitPriceBuyId" >
                        <f:ajax execute="@form" 
                                event="keyup"
                                render="form:pTotalTtcId" 
                                listener="#{pageManagerBean.beansMap['13'].calculTotal}"/>
                    </h:inputText>
                </td>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.quantity']}" >
                <td><h:inputText style="width: 100%;" value="#{pageManagerBean.beansMap['13'].pQuantity}" id="pQuantityId" >

                        <f:ajax execute="@form" 
                                event="keyup"
                                render="form:pTotalTtcId" 
                                listener="#{pageManagerBean.beansMap['13'].calculTotal}"/>

                    </h:inputText>

                </td>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.total']}" >
                <td><h:inputText style="width: 100%;" value="#{pageManagerBean.beansMap['13'].pTotal}" id="pTotalId" /></td>
            </h:panelGroup>
            <h:panelGroup rendered="#{ empty attributeExclud['bonLivraison.s2.option']}" >

                <td>
                    <h:commandLink rendered="#{ empty attributeExclud['bonLivraison.s2.add']}">
                        <h:graphicImage  alt="#{txt['bonLivraison.s2.add.label']}"  url="#{ms:getImages()}/plus.png" styleClass="image_save_edit" width="25" height="25"  />
                        <f:ajax execute="@form" event="click" render="@form" listener="#{pageManagerBean.savePartial}"/>
                    </h:commandLink>

                    <h:commandLink rendered="#{ empty attributeExclud['bonLivraison.s2.clean']}" onclick="return confirmClean();">
                        <h:graphicImage  alt="#{txt['globals.forms.clean.label']}"  url="#{ms:getImages()}/x.png" styleClass="image_save_edit" width="25" height="25"    />
                        <f:ajax execute="@form" 
                                event="click" 
                                listener="#{pageManagerBean.beansMap['13'].cleanProduct}"
                                render="@form"/>
                    </h:commandLink>

                </td> 
            </h:panelGroup>
        </tr>


    </table>

    <div class="box_btn">

        <h:commandButton  styleClass="btn btn_blue" value="Valider">

            <f:ajax execute="@form"
                    event="action"
                    render="@form"
                    listener="#{pageManagerBean.savePartial}"/>

        </h:commandButton>


        <h:commandButton  styleClass="btn btn_red" value="En Attent">

            <f:ajax execute="@form"
                    event="action"
                    render="@form"
                    listener="#{pageManagerBean.beansMap['13'].attent}"/>

        </h:commandButton>

    </div>

    <div class="clear"></div>
    <div class="table_title">
        <img src="#{ms:getImages()}/icon_table.png" class="table_title_icon" />
        <span class="table_title_text">#{txt['bonLivraison.s5.title']}</span>
    </div>
    <table class="table_info">
        <tr>
            <th>Prochainement ...</th>
        </tr>
    </table>
    <style>
        .actifRow1{
            background-color:#feecab;
            font-weight: bold;
        }
    </style>
    <script>

        jQuery(document).ready(function () {

            var activeRow = jQuery("#activeRow");

            if (activeRow !== null) {

                var coChildTd = jQuery(activeRow).parent().parent().children();

                for (i = 0; i&lt; coChildTd.length; i++)
                        jQuery(coChildTd[i]).addClass('actifRow');
            }

        });
    </script>

</div>

